<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><empty name="keyword">商品列表<else/>{$keyword}</empty>-心意商城</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="__VIEW__Public/css/goodslist.css">
	<script src="__VIEW__Public/js/jQuery.v1.8.3.min.js"></script>
	<script src="__VIEW__Public/js/goodslist.js"></script>
	<style type="text/css">
	.pages a.prev{width: 68px;}
	.pages div a{margin-left: 5px;}
	.pages a.next{width:68px;}
	.pages .current{width: 38px;height:38px;display: inline-block;text-align: center;margin-left: 5px;}
	.keyword{height:67px;overflow: hidden;}
	.disable{
		background-color: #DCDCDC !important;
	}
	/*提示加载弹出框*/
	.topLoading{height:100%; width:100%; position:fixed; _position:absolute; top:0; z-index:1000;opacity:0.3; filter: alpha(opacity=30); background-color:#F6F4F4;  margin:auto auto;}
	.topLoading img{position:absolute;left:50%;top:49%}	
	</style>	
</head>
<body style="overflow:scroll;overflow-x:hidden">
	<!-- 顶部导航 -->
	<include file="Public/header"/>	
	<!-- 头部搜索 -->
	<include file="Public/headerFind"/>	
	<!-- 商品细分类 -->


	    <!--提示框、加载遮罩层-->
	    <div class="topLoading">
	        <img src="__VIEW__Public/images/loading.gif">
	    </div>

	<input type="hidden" id="newpage" value=""> 
    <input type="hidden" id='ajaxpost' value="1">
    <input type="hidden" id='catId' value="{$catId}">
    <input type="hidden" id='level' value="{$level}">
    <input type="hidden" id='brandId' value="">
    <input type="hidden" id='propIds' value="">
    <input type="hidden" id='kw' value="{$keyword}">
	<div class="wrap">
		<div class="category">
			<ul>
				<volist name="resCatList" id="rcl">
				<li><a href="javascript:;" >{$rcl['cat_name']}</a></li>
				</volist>
			</ul>
		</div>
	</div>
	<!-- 分类选择 -->
	<div class="wrap" id="keywords">
		<!-- 关键词选择框 -->
		<div class="choose_keywords">
			<!--品牌-->
			<notempty name="brandArr">
				<div class="keyword" style="height:45px;overflow: hidden;">
					<div class="keyword_left">品牌：</div>
					<div class="brandKeyword_right">
						<ul>
							<li>
								<a href="javascript:;" value="0" style="color:red">全部</a>
							</li>								
							<volist name="brandArr" id="brandvo">
								<li>
									<a href="javascript:;" value="{$brandvo['brand_id']}">{$brandvo['brand_name']}</a>
								</li>
							</volist>
						</ul>
						<div class="more_keyword unfold">更多</div>
					</div>
				</div>
			</notempty>
			<!--相关分类-->
				<foreach name="catLevelList" item="vo" key="lev">
					<notempty name="vo.catInfo">
						<div class="keyword">
							<div class="keyword_left">{$vo.name}：</div>
							<div class="keyword_right">
								<ul>
									<gt name="lev" value="1" >
										<li>
											<a href="__APP__/Items/itemList/catId/{$vo['catInfo'][0]['parent_id']}/level/{$lev-1}" <gt name="lev" value="$level">style="color: red;"</gt> >
												全部
											</a>
										</li>
									</gt>
									<volist name="vo.catInfo" id="clvo">
										<li>
											<a href="__APP__/Items/itemList/catId/{$clvo['cat_id']}/level/{$clvo['level']}" <eq name="clvo['cat_id']" value="$resCatList[$lev]['cat_id']">style="color: red;"</eq> >{$clvo['cat_name']}</a>
										</li>
									</volist>
								</ul>
								<!-- <div class="more_keyword fold">收起</div> -->
							</div>
						</div>							
					</notempty>	
				</foreach>
			<!--
			<!--属性-->
<!-- 			<volist name="propsArr" id="propsVo">
			<div class="keyword">
				<div class="keyword_left">{$propsVo['prop_name']}：</div>
				<div class="keyword_right">	
					<ul>
						<volist name="propsVo['propValue']" id="pvalueVo">
							<li><a href="javascript:;" data="{$propsVo['prop_id']}" value="{$pvalueVo['prop_value_id']}">{$pvalueVo['prop_value']}</a></li>
						</volist>						
					</ul>
					<div class="more_keyword fold">收起</div>
				</div>
			</div>
			</volist> -->

		</div>

		<!-- 排序筛选 -->

		<notempty name="list">
			<div class="sort">
				<ul>
					<li class="" data-type='normal' ><a href="javascript:;" onclick="itemFind(1,'normal')">综合排序</a></li>
					<li class="sortbysales" data-type='sales' ><a href="javascript:;" onclick="itemFind(1,'sales')">销量</a></li>
					<li class="sortbyprice" data-type='price' ><a href="javascript:;">价格</a></li>
					<li class="sortbytime" data-type='onsaleTime' ><a href="javascript:;" onclick="itemFind(1,'onsaleTime')">上架时间</a></li>
				</ul>
				<div class="pricedomain">
					<input type="text" placeholder="￥" id="minVal" maxlength="10" onkeyup="clearNoNum(this)">&ndash;
					<input type="text" placeholder="￥" id="maxVal" maxlength="10" onkeyup="clearNoNum(this)">
					<a href="javascript:void(0)" class="sear">确定</a>
				</div>
				<div class="changepage">
					<div><span id="np" style="color:#FF4138;">{$pageInfo['nowPage']}</span>/<span id="totalPage">{$pageInfo['totalPage']}</span></div>
					<div>
						<a href="javascript:void(0)" onclick="prevPage()" id="prev" ></a>
						<a href="javascript:void(0)" onclick="nextPage()" id="next" ></a>
					</div>
				</div>
				<div class="totalnumber">
					<div>共<span id="itemNum">{$pageInfo['num']}</span>件商品</div>
				</div>
			</div>
		</notempty>		
		<div id="itemList">
			<!-- 搜索商品列表 -->
			<ul class="goodslist">
				<volist name="list" id='listvo'>
					<li>
						<div class="pics">
							<a href="{:U('Home/Info/index',array('itemId'=>$listvo['item_id'],'from'=>md5($listvo['item_id'])))}" target="_blank">
								<img src="{$listvo.image_default_id}_m.{:end(explode('.',$listvo['image_default_id']))}" >
							</a>
						</div>
						<div class="price">
							<div class="points">								
								<if condition="($listvo['cash'] eq 0) AND ($listvo['point'] eq 0)">
									{$listvo['price']*100} <span>积分</span>
								<elseif condition="$listvo['cash'] eq 0" />
									{$listvo['point']} <span>积分</span>
								<elseif condition="$listvo['point'] eq 0" />
									￥{$listvo['cash']|sprintf="%.2f",###}
								<else/>
									￥{$listvo['cash']|sprintf="%.2f",###}+{$listvo['point']} <span>积分</span>
								</if>								
							</div>
						</div>
						<div class="name">
							<a href="{:U('Home/Info/index',array('itemId'=>$listvo['item_id'],'from'=>md5($listvo['item_id'])))}" target="_blank">
								<p>{$listvo['title']}</p>
							</a>
						</div>
						<div class="sellers">
							<div class="stores">
								<a href="__LISHE_URL__/shopcenter.html?shop_id={$listvo['shop_id']}" target="_blank">{$listvo['shopName']}</a>
							</div>
							<div class="storeslogo">{$listvo['shopType']}</div>
						</div>
					</li>
				</volist>
				<in name="id" value="'1466483633689','1472818301299','1472637383793','1474186315741','1469444223094','1481022194594'">
				<empty name="list">
					<div class="emptylist" style="margin-top:20px; text-align:center; font-size:14px;">糟糕！暂时无法找到您的“{$keyword}”商品，不如先去反馈一下吧！点击<a href="/b.php/Haihetao/feedBackPage" target="_black">反馈</a></div>
				</empty>
				</in>
			</ul>

			<!--分页-->
       		<div class="pages">
				{$pagestr}
			</div>
		
		</div>

		<!-- 店铺推荐 -->
		<notempty name="randCatItemList">
		<div class="recommend">
			<div>
				<ul class="title" id="rec_title">
					<li class="current">店铺推荐</li>
					<!-- <div class="changebtn"><a href="">换一批</a></div> -->
				</ul>
			</div>
			<div id="rec_info">
				<ul class="rec_preview">
					<volist name="randCatItemList" id="randvo">
					<li>
						<a class="rec_pics" href="{:U('Home/Info/index',array('itemId'=>$randvo['item_id'],'from'=>md5($randvo['item_id'])))}"  target="_blank">
							<img src="{$randvo.image_default_id}_m.{:end(explode('.',$randvo['image_default_id']))}" width="113" height="113">
						</a>
						<a class="rec_goods_name" href="{:U('Home/Info/index',array('itemId'=>$randvo['item_id'],'from'=>md5($randvo['item_id'])))}">{$randvo['title']}</a>
						<p class="rec_price">￥{$randvo['price']|sprintf="%.2f",###}</p>
					</li>
					</volist>
				</ul>
			</div>
		</div>
		</notempty>

		<!-- 猜你喜欢 -->
<!-- 		<div class="recommend">
			<div>
				<ul class="title" id="rec_title">
					<li class="current">猜你喜欢</li>
					<div class="changebtn"><a href="">换一批</a></div>
				</ul>
			</div>
			<div id="rec_info">
				<ul class="rec_preview">
					<volist name="randCatItemList" id="randvo">
					<li>
						<a class="rec_pics" href="{:U('Home/Info/index',array('itemId'=>$randvo['item_id']))}" target="_blank"><img src="{$randvo.image_default_id}_m.{:end(explode('.',$randvo['image_default_id']))}" width="113" height="113"></a>
						<a class="rec_goods_name" href="{:U('Home/Info/index',array('itemId'=>$randvo['item_id']))}" target="_blank">{$randvo['title']}</a>
						<p class="rec_price">￥{$randvo['price']|sprintf="%.2f",###}</p>
					</li>
					</volist>
					
				</ul>
			</div>
		</div> -->
	</div>

	<!--底部-->
    <include file="Public/footer"/>
</body>
	<script type="text/javascript">
		$(function() {
			$(".pages a").removeAttr('href');
		 	$(".topLoading").hide();
			$(".pages a").css('cursor', 'pointer');
			$("#newpage").val(1);
			if({$pageInfo['nowPage']} == 1){
				$("#prev").addClass('disable');
			}
			if({$pageInfo['nowPage']} == {$pageInfo['totalPage']}){
				$("#next").addClass('disable');
			}
		});
		$("#itemList").delegate('.pages a.num', 'click', function() {
			//当前页
			var nowpage = $(this).text();
			$("#newpage").val(nowpage);
			itemFind();
		});
		//首页
		$("#itemList").delegate('.pages a.first', 'click', function() {
			$("#newpage").val(1);
			itemFind();
		});
		//尾页
		$("#itemList").delegate('.pages a.end', 'click', function() {
			var totalPage = $("#totalPage").text();
			$("#newpage").val(totalPage);
			itemFind();
		});
		//下一页
		$("#itemList").delegate('.pages a.next', 'click', function() {
			nextPage();
		});
		function nextPage(){
			var nowpage = $("#newpage").val();
			$("#newpage").val(nowpage * 1 + 1);
			itemFind();			
		}
		//上一页
		$("#itemList").delegate('.pages .prev', 'click', function() {
			prevPage();
		});
		function prevPage(){
			var nowpage = $("#newpage").val();
			$("#newpage").val(nowpage * 1 - 1);
			itemFind();			
		}
		//筛选条件
		$('.sear').on('click',function(){
			itemFind(1);			
		});
		function itemFind(search,orderBy,sorts) {
			if(search) {
				$("#newpage").val(1);
			}
			if(!orderBy){
				var orderBy = $('.sort>ul').find('.current').attr('data-type');
			}
			var brandId = $("#brandId").val();
			var catId = $("#catId").val();
			var level = $("#level").val();
			var ajaxpost = $("#ajaxpost").val();
			var newPage = parseInt($("#newpage").val());
			var keyword = $("#kw").val();
			var totalPage = parseInt($("#totalPage").text());
			//金额
			var minVal = $("#minVal").val();
			var maxVal = $("#maxVal").val();
			if(newPage < 1 || newPage > totalPage){
				return false;
			}
			$(".topLoading").show();
			$.ajax({
				type: "get",
				url: "{:U('Items/itemList')}",
				data: {
					p: newPage,
					ajaxpost: ajaxpost,
					catId: catId,
					level:level,
					brandId: brandId,
					keyword: keyword,
					orderBy:orderBy,
					sort:sorts,
					minVal:minVal,
					maxVal:maxVal
				},
				success: function(data) {
					$("#itemList ul").remove();
					$("#itemList").html(data);
					$(".pages a").attr('href', 'javascript:;');
					$("html,body").animate({
						scrollTop: 280
					}, 500);
					if(newPage > 1){
						$("#prev").removeClass('disable');
					}
       			 	$(".topLoading").hide();
				}
			});
		}
		//只能输入最多两位小数
		function clearNoNum(obj){  
		   obj.value = obj.value.replace(/[^\d.]/g,"");  //清除“数字”和“.”以外的字符  
		   obj.value = obj.value.replace(/^\./g,"");  //验证第一个字符是数字而不是.  
		  obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个. 清除多余的  
		  obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");  
		  obj.value=obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3');//只能输入两个小数  
		} 		
	</script>
</html>