<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<title>国庆活动</title>
<link rel="stylesheet" href="__PUBLIC__/wshop/activity/css/activity.css">
</head>

<body>
  <div class="stretch">
    <img src="__PUBLIC__/wshop/activity/images/Nationaldes.png" class="Nationaldes">
  	<a href="{:U('Welfare/index/from/activity')}"><img src="__PUBLIC__/wshop/activity/images/Nationalbtn.png" class="Nationalbtn"></a>
  </div>
</body>
</html>
