<!DOCTYPE html>
<html>
<head>
<title>礼舍-订单支付</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="width=device-width,user-scalable=no" name="viewport">
<meta content="IE=11.0000" http-equiv="X-UA-Compatible" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta name="MobileOptimized" content="320">
<link href="__PUBLIC__/wshop/css/base.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/wshop/css/confirm.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/wshop/css/editMode.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/wshop/js/jquery.js" type="text/javascript"></script>
<style>
	.motify {
    position: fixed;
    top: 15%;
    left: 50%;
    width: 220px;
    padding: 0;
    margin: 0 0 0 -110px;
    z-index: 9999;
    background: rgba(0,0,0,.8);
    color: #fff;
    line-height: 1.5em;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.motify .motify-inner {
    padding: 10px;
    text-align: center;
    color: #fff;
    }
</style>
<script type="text/javascript">
	$(document).ready(function(){
		$(".setpaypwd").click(function(){
			var pwd = $("input[name='paypwd']").val();
			var rpwd = $("input[name='rpaypwd']").val();
			if (pwd == '') {
				$(".motify").show();
                $(".motify-inner").text("请输入支付密码！");
                $('.motify').delay(1000).hide(0);
                return;				
			};
			if (pwd != rpwd) {
				$(".motify").show();
                $(".motify-inner").text("支付密码和确认支付密码必须相同！");
                $('.motify').delay(1000).hide(0);
                return;
			}else{
				$.ajax({
	            type:"POST",
	            url:"__APP__/Pay/doSetPayPwd",
	            data:{payPwd:pwd},
	            dataType:'text',
	            success:function(data){
		            	if (data == 1 ) {
							$(".motify").show();
			                $(".motify-inner").text("修改成功！");
			                $('.motify').delay(2000).hide(0);
		            		setTimeout(window.location.href="__APP__/Pay/pay/paymentid/{$paymentid}",60000);
		            	}else{
							$(".motify").show();
			                $(".motify-inner").text("修改失败，请重试！");
			                $('.motify').delay(1000).hide(0);
		            	}
		            }
	        	});
	        }

		});
	});
	


</script>
</head>
<body>
<!--提示框-->
<div class="motify" style="display: none;">
    <div class="motify-inner"></div>
</div>
<!--提示框-->
<div class="head" style="border:0px solid red;background:#1e1d22;height:35px;">
	<div style="border:0px solid red;width:30px;float:left;height:33px;line-height:33px;"><img class="mp-image" width="24" height="24" src="/business/Public/wshop/images/housekeeper_icon.png" style="border:0px solid red;margin:5px 0px 0px 11px;"></div>

	<div class="topL l" style="border:0px solid red;height:33px;width:28px;">
		<a href="javascript:window.history.go(-1);" class="topL3" style="border:0px solid red;margin-top:7px;"></a>

	</div>
	<!-- <div class="topLine l" style="background:#1e1d22;"></div> -->
	<div class="topR r"><a href="{:U('Index/index')}" class="topLRLoginReg" style="color:#999999;font-weight:normal;border:0px solid red;margin-top:8px;font-size:14px;">首页</a> </div>
	<!-- <div class="topLine r" style="background:#1e1d22;"></div> -->
	<div class="listTitle" style="color:#999999;font-size:14px;font-weight:normal;border:0px solid red;height:33px;line-height:33px;">购物车</div>

</div>
<div class="content" style="margin:30px auto 50px auto; padding:5% 0%;background-color:#fff">


   	<input type="hidden" name="paymentid" value="{$paymentid}">
   	<div class="sku-group select-sku" style="text-align :center;color:#000;font-size:15px;">请设置您的支付密码！</div>  	


		<div class="payment borderRadius" style="margin-left:20px; height:100px;">
			<div style="width:85px; float:left; margin-top:8px;">支付密码：</div>
			<div style="float:left;margin-top:8px;">
				<input type="password" name="paypwd" value="" style="height:25px;width:150px;">
			</div><br/>
    		<div style="width:85px; float:left; margin-top:5px;">确认支付密码：</div>
    		<div style="float:left;margin-top:5px;">
    			<input type="password" name="rpaypwd" style="height:25px;width:150px;" >
    		</div>
		</div>
		<div style="margin-top:5px">
			<input style="margin-right:15px; border:0px;" type="submit" style="border: 0px;" value="提交" class="orderSbt setpaypwd" />
		</div>	

    </div> 


</body>
</html>