<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="__PUBLIC__/gd10086/css/Mobilemalls.css">
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<title>生鲜预售专区-中国移动VIP积分商城</title>
</head>
<body>
  <include file="Public/gd10086/header" />
	  <div class="Mbanner2" style="background: url({$first.activity.banner}) no-repeat center "></div>
	  <p style="text-align: center;">{$first.activity.content}</p> 
        <div id="itemList">  
       <div class="loorList2" style="margin-top: 30px;">
	        <volist name="first.list" id="vo">
	           <ul>
	              <li class="lorpt"><a href="/item.html?item_id={$vo.item_id}&from={:md5($vo['item_id'])}" target="_blank">
	              	<img src="{$vo.image_default_id}_m.{:end(explode('.',$vo['image_default_id']))}">
	              	</a></li>
	              <li class="lorUser liheight">
	              	<a href="/item.html?item_id={$vo.item_id}&from={:md5($vo['item_id'])}" title="{$vo.title}" target="_blank">
	              		<span class="shopIcon">
		              		<if condition="$vo.shop_id eq 10">
		              			旗舰
		              			<else/>
		              			自营
		              		</if>
	              		</span>	              		
	              		{$vo.title}
	              	</a></li>
	              <li class="lorpic">￥{:round($vo['price'],2)}
	              	<a href="/item.html?item_id={$vo.item_id}&from={:md5($vo['item_id'])}" target="_blank">兑换</a></li>
				        <if condition="$vo.flag eq 1">
				     		<li style="padding-top: 10px;background-color:rgba(51,172,251,0.6);min-height:40px;color: white;text-align: center;position:relative;top: -80px;">
				     			<small style="color: white; font-size: larger;font-weight: bold;">广东无货</small>
				     		</li>
				  		</if> 		              	
	           </ul>
			</volist>
           <div style="clear:both;"></div>
       </div>
       <!--分页-->
       <div class="lorfy">
           <ul>
           	<li>
        		<div class="pager">{$pagestr}</div>
           	</li>
           </ul>
       </div>
    
    
    <!--底部-->
    <!--返回-->
    <div class="returned">
       <div class="returned-img"><a href="javascript:scroll(0,0)"><img src="__PUBLIC__/gd10086/images/Mtop.png"></a></div>
    </div>    
    
</body>
</html>

