<div class="header">
	<ul>
	  <li>欢迎您，
	      <if condition="empty($userName)">
	        <span><a href="__APP__/Cnpec/login" class="nva-u" style="color:#F00;">登录</a></span>
	        <span><a href="__APP__/User/signup"  class="nva-u" style="color:#F00;">注册</a></span>
	      <else/>
	        <span><a href="/member-index.html" class="nva-u" style="color:#F00;">{$userName}</a></span>
	        <span><a href="__APP__/Cnpec/logout"  class="nva-u" style="color:#F00;">退出</a></span>
	      </if>
	  	&nbsp;|&nbsp;</li>
	  <li><a href="/business/index.php/Cnpec/login/go/order">我的订单</a>&nbsp;|&nbsp;</li>
	  <li><a href="http://www.haihetao.com/customer">我的核淘</a>&nbsp;|&nbsp;</li>
	  <li><img src="__PUBLIC__/cnpec/images/shop.png">
	      <a href="/cart.html">
	      	购物车(<empty name="userInfo['cartCount']">0<else/>{$userInfo['cartCount']}</empty>)
	      </a>&nbsp;|&nbsp;
	  </li>
	  <li><a href="http://www.lishe.cn/help_index.html" target="_blank">帮助中心</a>&nbsp;|&nbsp;</li>
	  <li style="float: right">客服热线:4008-533-666&nbsp;0755-33088009</li>
	</ul>
</div>
      
<script src="__PUBLIC__/js/jquery-1.8.2.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/haihetao/css/hhtList.css">
<include file="Public/nvafloat"/>

