<!DOCTYPE html>
<html>
<head>
<title>礼舍-客服</title>
<meta charset="UTF-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="width=device-width,user-scalable=no" name="viewport">
<meta content="IE=11.0000" http-equiv="X-UA-Compatible" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta name="MobileOptimized" content="320">
<link href="__PUBLIC__/wshop/css/base.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/wshop/css/login.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/wshop/js/common_jquery_75554d22a0.js"></script>
</head>
<body>	

<div class="head" style="border:0px solid red;background:#1e1d22;height:35px;">

	<div style="border:0px solid red;width:30px;float:left;height:33px;line-height:33px;"><img class="mp-image" width="24" height="24" src="/business/Public/wshop/images/housekeeper_icon.png" style="border:0px solid red;margin:5px 0px 0px 11px;"></div>

	<div class="topL l" style="border:0px solid red;height:33px;width:28px;">
		<a href="javascript:window.history.back();" class="topL3" style="border:0px solid red;margin-top:7px;"></a>
	</div>

	<!-- <div class="topLine l" style="background:#1e1d22;"></div> -->
	<div class="topR r"><a href="{:U('Login/login')}" class="topLRLoginReg" style="color:#999999;font-weight:normal;border:0px solid red;margin-top:8px;font-size:14px;">登录</a> </div>
	<!-- <div class="topLine r" style="background:#1e1d22;"></div> -->
	<div class="listTitle" style="color:#999999;font-size:14px;font-weight:normal;border:0px solid red;height:33px;line-height:33px;">联系客服</div>
</div>

<div class="content c" style="margin-top:40px;">
  
  <div style="width:100%;text-align:center;color:#c7241d;font-size:12px;">联系客服</div>
  <div class="c"></div>
</div>
<include file="Public/bottom"/>  
</body>
</html>