
	<volist name="consulList" id="clvo">
		<li>
			<p class="content_username">{$clvo['author']}</p>
			<p class="time">{$clvo['created_time']|date='Y-m-d H:i:s',###}</p>
			<div>
				<p class="consult_Q">咨询内容：{$clvo['content']}</p>
				<div>
					<?php $replyInfo = getTableRow('sysrate_consultation','be_reply_id',$clvo['consultation_id']);?>
					<notempty name="replyInfo">
						<p class="consult_A">礼舍回复：{$replyInfo['content']}</p>
						<p class="time">{$replyInfo['created_time']|date='Y-m-d H:i:s',###}</p>
					</notempty>

				</div>
			</div>
		</li>
	</volist>
	<div class="pages">
		{$pagestr}
	</div>
<style type="text/css">
	.pages a.prev{width: 68px;}
	.pages div a{margin-left: 5px;}
	.pages a.next{width:68px;}
</style>

<script type="text/javascript">
	$(function(){
		$(".pages").children("div").children("a").removeAttr('href');
	});
	
</script>	
				