<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" href="__CSS__/dole.css">
<title>领取贺卡</title>
<style type="text/css">
*{margin:0; padding:0;}
a{text-decoration:none;}
ul li{list-style:none;}
img{border:0;}
body{font-family:"微软雅黑"; overflow-x:hidden; background:#f8f8f8;}
.hk{text-align:center; margin-top:3%;}
.hk img{width:92%;}
.cardsbtn{margin-top:7%;}
.cardsbtn a{display:block; width:18rem;height:2.8rem; line-height:2.8rem; font-size:1.1rem;background:#f32b5a;color:#FFF; text-align:center; border-radius:8px; margin:0 auto;}
</style>
</head>

<body>
   <div class="hk"><img src="/{$giftPicUrl}"></div>
   <div class="cardsbtn"><a href="{:U('Receive/contactForm')}">立即领取</a></div>
</body>
</html>
