<style>
.advertisement {
  display: block;
}
</style>

<style>
.index-ext-banner {
	position: relative;
	width: 100%;
	height: 472px;
	/*
	background: url(./images/index/scene/scenes_banner.jpg);
	background-size: cover;
	*/
}
.index-ext-banner img {
	width: 100%;
	height: 100%;
}
</style>
<div class="index-ext-banner">
	<img src="./images/index/scene/scenes_banner.jpg" />
</div>


<style>
.mind-strategy {
	background: #f6f4f4;
}
.mind-strategy .mind-strategy-title {
	font-size: 18px;
	color: #c7241d;
	padding: 18px 0px 5px 0px;
}
.mind-strategy .mind-strategy-nav {
	display: inline-table;
	width: 1190px;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main {
	position: relative;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li {
	position: relative;
	float: left;
	width: 338px;
	margin: 0px 56px 42px 0px;
	top: 0px;
	background: #fff;
	border: 1px solid #bcbcbc;
	border-radius: 5px;
	overflow: hidden;
	/*
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-transition: all .2s eas;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
	*/
	/* 设置阴影 */
	-webkit-box-shadow: 0px 4px 9px #DADADA;
	-moz-box-shadow: 0px 4px 9px #DADADA;
	-o-box-shadow: 0px 4px 9px #DADADA;
	-ms-box-shadow: 0px 4px 9px #DADADA;
	box-shadow: 0px 4px 9px #DADADA;
}
/*
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li:hover {
	position: relative;
	float: left;
	width: 338px;
	margin: 0px 12px 22px 0px;
	top: -5px;
	background: #fff;
	border: 1px solid #bcbcbc;
	border-radius: 8px;
	overflow: hidden;
	-webkit-transform: scale(.99);
	-moz-transform: scale(.99);
	-o-transform: scale(.99);
	-ms-transform: scale(.99);
	transform: scale(.99);
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
	/* 设置阴影 */
	-webkit-box-shadow: 0px 4px 9px #DADADA;
	-moz-box-shadow: 0px 4px 9px #DADADA;
	-o-box-shadow: 0px 4px 9px #DADADA;
	-ms-box-shadow: 0px 4px 9px #DADADA;
	box-shadow: 0px 4px 9px #DADADA;
}
*/
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li img.goods-img {
	border-bottom: 1px solid #bcbcbc;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li .cell-bottom {
	padding: 10px 12px;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li .cell-bottom .cell-bottom-title {
	font-size: 14px;
	color: #333;
	padding: 5px 0px;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li .cell-bottom .cell-bottom-btn {
	height: 45px;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li .cell-bottom .cell-bottom-btn span {
	margin: 0px 15px 0px 0px;
	font-size: 16px;
	color: #c7241d;
	font-weight: bold;
	line-height: 45px;
	float: left;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li .cell-bottom .cell-bottom-btn span.integral tt {
	margin-right: 15px;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li .cell-bottom .cell-bottom-btn span.snap-up {
	position: relative;
	float: right;
	color: #fff;
	font-weight: normal;
	padding: 0px 20px;
	background: #c7241d;
	border-radius: 5px;
}
</style>
<!-- 心意攻略 BEGIN -->
<div class="mind-strategy">
<div class="wrap-lg" style="padding: 35px 0px;">
  <div class="mind-strategy-nav">
	<div class="mind-strategy-main">
	  <ul>
		
		<li>
		  <a href="http://www.lishe.cn/item.html?item_id=454">
			<img width="338" height="291" src="./images/index/scene/scenes_img1.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">FOR U玫瑰金真空保温杯水杯</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>10900</tt>积分</span>
				<span style="   color: #4A4747;">￥109.00</span>
				<a href="http://www.lishe.cn/item.html?item_id=454" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		<li>
		  <a href="http://www.lishe.cn/item.html?item_id=455">
			<img width="338" height="291" src="./images/index/scene/scenes_img2.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">菲驰WEWALK-旅行套装保温杯水杯套装茶杯</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>16900</tt>积分</span>
				<span style="   color: #4A4747;">￥169.00</span>
				<a href="http://www.lishe.cn/item.html?item_id=455" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		<li>
		  <a href="http://www.lishe.cn/item.html?item_id=456">
			<img width="338" height="291" src="./images/index/scene/scenes_img3.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">哆啦A梦自由行保温水壶保温水杯旅行壶</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>10100</tt>积分</span>
				<span style="   color: #4A4747;">￥101.00</span>
				<a href="http://www.lishe.cn/item.html?item_id=456" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		<li>
		  <a href="http://www.lishe.cn/item.html?item_id=457">
			<img width="338" height="291" src="./images/index/scene/scenes_img4.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">CUSCOS蜗牛保湿精华液50ml</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>10500</tt>积分</span>
				<span style="   color: #4A4747;">￥105.00</span>
				<a href="http://www.lishe.cn/item.html?item_id=457" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		<li>
		  <a href="http://www.lishe.cn/item.html?item_id=458" title="爱维力蜂蜜套装SLMELCL007（野花+橙花蜂蜜），可选黑色和红色烫金礼盒包装">
			<img width="338" height="291" src="./images/index/scene/scenes_img5.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">爱维力蜂蜜套装SLMELCL007（野花+...</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>37900</tt>积分</span>
				<span style="   color: #4A4747;">￥379.00</span>
				<a href="http://www.lishe.cn/item.html?item_id=458" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		<li>
		  <a href="http://www.lishe.cn/item.html?item_id=459">
			<img width="338" height="291" src="./images/index/scene/scenes_img6.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">蕙兰250g礼盒装 浙江雨前龙井茶 绿茶</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>35800</tt>积分</span>
				<span style="   color: #4A4747;">￥358.00</span>
				<a href="http://www.lishe.cn/item.html?item_id=459" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		
	  </ul>
	</div>
  </div>
</div>
</div>
<!-- 心意攻略 END -->

<script type="text/javascript">
$(document).ready(function () {
	$('#nav').find('.menu a').eq(2).addClass('on').siblings().removeClass('on');
});
</script>
