<style>
.advertisement {
  display: block;
}
</style>

<style>
.index-ext-banner {
	position: relative;
	width: 100%;
	height: 472px;
	/*
	background: url(./images/index/object/objects_banner.jpg);
	background-size: cover;
	*/
}
.index-ext-banner img {
	width: 100%;
	height: 100%;
}
</style>
<div class="index-ext-banner">
	<img src="./images/index/object/objects_banner.jpg" />
</div>


<style>
.mind-strategy {
	background: #f6f4f4;
}
.mind-strategy .mind-strategy-title {
	font-size: 18px;
	color: #c7241d;
	padding: 18px 0px 5px 0px;
}
.mind-strategy .mind-strategy-nav {
	display: inline-table;
	width: 1190px;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main {
	position: relative;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li {
	position: relative;
	float: left;
	width: 338px;
	margin: 0px 56px 42px 0px;
	top: 0px;
	background: #fff;
	border: 1px solid #bcbcbc;
	border-radius: 5px;
	overflow: hidden;
	/*
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-transition: all .2s eas;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
	*/
	/* 设置阴影 */
	-webkit-box-shadow: 0px 4px 9px #DADADA;
	-moz-box-shadow: 0px 4px 9px #DADADA;
	-o-box-shadow: 0px 4px 9px #DADADA;
	-ms-box-shadow: 0px 4px 9px #DADADA;
	box-shadow: 0px 4px 9px #DADADA;
}
/*
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li:hover {
	position: relative;
	float: left;
	width: 338px;
	margin: 0px 12px 22px 0px;
	top: -5px;
	background: #fff;
	border: 1px solid #bcbcbc;
	border-radius: 8px;
	overflow: hidden;
	-webkit-transform: scale(.99);
	-moz-transform: scale(.99);
	-o-transform: scale(.99);
	-ms-transform: scale(.99);
	transform: scale(.99);
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
	/* 设置阴影 */
	-webkit-box-shadow: 0px 4px 9px #DADADA;
	-moz-box-shadow: 0px 4px 9px #DADADA;
	-o-box-shadow: 0px 4px 9px #DADADA;
	-ms-box-shadow: 0px 4px 9px #DADADA;
	box-shadow: 0px 4px 9px #DADADA;
}
*/
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li img.goods-img {
	border-bottom: 1px solid #bcbcbc;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li .cell-bottom {
	padding: 10px 12px;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li .cell-bottom .cell-bottom-title {
	font-size: 14px;
	color: #333;
	padding: 5px 0px;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li .cell-bottom .cell-bottom-btn {
	height: 45px;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li .cell-bottom .cell-bottom-btn span {
	margin: 0px 15px 0px 0px;
	font-size: 16px;
	color: #c7241d;
	font-weight: bold;
	line-height: 45px;
	float: left;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li .cell-bottom .cell-bottom-btn span.integral tt {
	margin-right: 15px;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li .cell-bottom .cell-bottom-btn span.snap-up {
	position: relative;
	float: right;
	color: #fff;
	font-weight: normal;
	padding: 0px 20px;
	background: #c7241d;
	border-radius: 5px;
}
</style>
<!-- 心意攻略 BEGIN -->
<div class="mind-strategy">
<div class="wrap-lg" style="padding: 35px 0px;">
  <div class="mind-strategy-nav">
	<div class="mind-strategy-main">
	  <ul>
		
		<li>
		  <a href="http://www.lishe.cn/item.html?item_id=498">
			<img width="338" height="291" src="./images/index/object/objects_img1.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">CUSCOS蜗牛保湿精华液50ml</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>44900</tt>积分</span>
				<span style="   color: #4A4747;">￥449.00</span>
				<a href="http://www.lishe.cn/item.html?item_id=498" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		<li>
		  <a href="http://www.lishe.cn/item.html?item_id=460">
			<img width="338" height="291" src="./images/index/object/objects_img2.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">CUSCOS防晒DD霜50ml</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>29900</tt>积分</span>
				<span style="   color: #4A4747;">￥299.00</span>
				<a href="http://www.lishe.cn/item.html?item_id=460" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		<li>
		  <a href="http://www.lishe.cn/item.html?item_id=520" title="千颂伊同款 韩国Amore爱茉莉美妆仙发护发精油70ml">
			<img width="338" height="291" src="./images/index/object/objects_img3.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">千颂伊同款 韩国Amore爱茉莉美妆仙发护...</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>22900</tt>积分</span>
				<span style="   color: #4A4747;">￥229.00</span>
				<a href="http://www.lishe.cn/item.html?item_id=520" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		<li>
		  <a href="http://www.lishe.cn/item.html?item_id=521">
			<img width="338" height="291" src="./images/index/object/objects_img4.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">裸妆调整肤色 韩国BANILA CO芭妮兰 裸透CC霜30ml</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>18900</tt>积分</span>
				<span style="   color: #4A4747;">￥189.00</span>
				<a href="http://www.lishe.cn/item.html?item_id=521" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		<li>
		  <a href="http://www.lishe.cn/item.html?item_id=522">
			<img width="338" height="291" src="./images/index/object/objects_img5.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">祛斑祛痘印 韩国Its skin伊思晶钻泡沫蜗牛洗面奶150ml</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>15800</tt>积分</span>
				<span style="   color: #4A4747;">￥158.00</span>
				<a href="http://www.lishe.cn/item.html?item_id=522" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		<li>
		  <a href="http://www.lishe.cn/item.html?item_id=523">
			<img width="338" height="291" src="./images/index/object/objects_img6.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">Etude House爱丽小屋双头旋转自动眉笔 1号黑咖色</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>3200</tt>积分</span>
				<span style="   color: #4A4747;">￥32.00</span>
				<a href="http://www.lishe.cn/item.html?item_id=523" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		<li>
		  <a href="#" title="全棉时代（PurCotton）奈丝公主全棉亲肤超薄系列卫生巾 8包组合装">
			<img width="338" height="291" src="./images/index/object/objects_img7.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">全棉时代（PurCotton）奈丝公主全棉亲肤...</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>11520</tt>积分</span>
				<span style="   color: #4A4747;">￥115.20</span>
				<a href="#" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		<li>
		  <a href="http://www.lishe.cn/item.html?item_id=524">
			<img width="338" height="291" src="./images/index/object/objects_img8.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">CUSCOS蓝宝石面霜50ml</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>65600</tt>积分</span>
				<span style="   color: #4A4747;">￥656.00</span>
				<a href="http://www.lishe.cn/item.html?item_id=524" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		<li>
		  <a href="#">
			<img width="338" height="291" src="./images/index/object/objects_img9.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">Shiseido资生堂洗颜专科轻柔泡沫洁面乳</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>4800</tt>积分</span>
				<span style="   color: #4A4747;">￥48.00</span>
				<a href="#" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		
		
	  </ul>
	</div>
  </div>
</div>
</div>
<!-- 心意攻略 END -->

<script type="text/javascript">
$(document).ready(function () {
	$('#nav').find('.menu a').eq(1).addClass('on').siblings().removeClass('on');
});
</script>
