<style>
.advertisement {
  display: block;
}
</style>

<style>
.index-ext-banner {
	position: relative;
	width: 100%;
	height: 472px;
	/*
	background: url(./images/index/ta喜欢/he_banner.jpg);
	background-size: cover;
	*/
}
.index-ext-banner img {
	width: 100%;
	height: 100%;
}
</style>
<div class="index-ext-banner">
	<img src="./images/index/ta喜欢/he_banner.jpg" />
</div>


<style>
.mind-strategy {
	background: #f6f4f4;
}
.mind-strategy .mind-strategy-title {
	font-size: 18px;
	color: #c7241d;
	padding: 18px 0px 5px 0px;
}
.mind-strategy .mind-strategy-nav {
	display: inline-table;
	width: 1190px;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main {
	position: relative;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li {
	position: relative;
	float: left;
	width: 338px;
	margin: 0px 56px 42px 0px;
	top: 0px;
	background: #fff;
	border: 1px solid #bcbcbc;
	border-radius: 5px;
	overflow: hidden;
	/*
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-transition: all .2s eas;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
	*/
	/* 设置阴影 */
	-webkit-box-shadow: 0px 4px 9px #DADADA;
	-moz-box-shadow: 0px 4px 9px #DADADA;
	-o-box-shadow: 0px 4px 9px #DADADA;
	-ms-box-shadow: 0px 4px 9px #DADADA;
	box-shadow: 0px 4px 9px #DADADA;
}
/*
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li:hover {
	position: relative;
	float: left;
	width: 338px;
	margin: 0px 12px 22px 0px;
	top: -5px;
	background: #fff;
	border: 1px solid #bcbcbc;
	border-radius: 8px;
	overflow: hidden;
	-webkit-transform: scale(.99);
	-moz-transform: scale(.99);
	-o-transform: scale(.99);
	-ms-transform: scale(.99);
	transform: scale(.99);
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
	/* 设置阴影 */
	-webkit-box-shadow: 0px 4px 9px #DADADA;
	-moz-box-shadow: 0px 4px 9px #DADADA;
	-o-box-shadow: 0px 4px 9px #DADADA;
	-ms-box-shadow: 0px 4px 9px #DADADA;
	box-shadow: 0px 4px 9px #DADADA;
}
*/
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li img.goods-img {
	border-bottom: 1px solid #bcbcbc;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li .cell-bottom {
	padding: 10px 12px;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li .cell-bottom .cell-bottom-title {
	font-size: 14px;
	color: #333;
	padding: 5px 0px;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li .cell-bottom .cell-bottom-btn {
	height: 45px;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li .cell-bottom .cell-bottom-btn span {
	margin: 0px 15px 0px 0px;
	font-size: 16px;
	color: #c7241d;
	font-weight: bold;
	line-height: 45px;
	float: left;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li .cell-bottom .cell-bottom-btn span.integral tt {
	margin-right: 15px;
}
.mind-strategy .mind-strategy-nav .mind-strategy-main ul li .cell-bottom .cell-bottom-btn span.snap-up {
	position: relative;
	float: right;
	color: #fff;
	font-weight: normal;
	padding: 0px 20px;
	background: #c7241d;
	border-radius: 5px;
}
</style>
<!-- 心意攻略 BEGIN -->
<div class="mind-strategy">
<div class="wrap-lg" style="padding: 35px 0px;">
  <div class="mind-strategy-nav">
	<div class="mind-strategy-main">
	  <ul>
		
		<li>
		  <a href="http://www.lishe.cn/item.html?item_id=460">
			<img width="338" height="291" src="./images/index/ta喜欢/he_img1.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">CUSCOS防晒DD霜50ml</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>29900</tt>积分</span>
				<span style="   color: #4A4747;">￥299.00</span>
				<a href="http://www.lishe.cn/item.html?item_id=460" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		<li>
		  <a href="http://www.lishe.cn/item.html?item_id=461">
			<img width="338" height="291" src="./images/index/ta喜欢/he_img2.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">哆啦A梦自动收缩伞折叠雨伞伸缩伞</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>9100</tt>积分</span>
				<span style="   color: #4A4747;">￥91.00</span>
				<a href="http://www.lishe.cn/item.html?item_id=461" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		<li>
		  <a href="http://www.lishe.cn/item.html?item_id=462">
			<img width="338" height="291" src="./images/index/ta喜欢/he_img3.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">奔腾（POVOS）家用双层干衣机 风干机</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>39900</tt>积分</span>
				<span style="   color: #4A4747;">￥399.00</span>
				<a href="http://www.lishe.cn/item.html?item_id=462" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		<li>
		  <a href="http://www.lishe.cn/item.html?item_id=463">
			<img width="338" height="291" src="./images/index/ta喜欢/he_img4.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">名物幸福会A五谷杂粮包</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>39000</tt>积分</span>
				<span style="   color: #4A4747;">￥390.00</span>
				<a href="http://www.lishe.cn/item.html?item_id=463" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		<li>
		  <a href="http://www.lishe.cn/item.html?item_id=464">
			<img width="338" height="291" src="./images/index/ta喜欢/he_img5.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">史努比金领结便当杯盒组便当盒饭盒</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>5600</tt>积分</span>
				<span style="   color: #4A4747;">￥56.00</span>
				<a href="http://www.lishe.cn/item.html?item_id=464" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		<li>
		  <a href="http://www.lishe.cn/item.html?item_id=465">
			<img width="338" height="291" src="./images/index/ta喜欢/he_img6.jpg" alt="" style="border-bottom: 1px solid #bcbcbc;">
			<div class="cell-bottom">
			  <div class="cell-bottom-title">名物百果味A-干果礼包	</div>
			  <div class="cell-bottom-btn">
				<span class="integral"><tt>14700</tt>积分</span>
				<span style="   color: #4A4747;">￥147.00</span>
				<a href="http://www.lishe.cn/item.html?item_id=465" target="_blank"><span class="snap-up">立即抢购</span></a>
			  </div>
			</div>
		  </a>
		</li>
		
	  </ul>
	</div>
  </div>
</div>
</div>
<!-- 心意攻略 END -->

<script type="text/javascript">
$(document).ready(function () {
	$('#nav').find('.menu a').eq(3).addClass('on').siblings().removeClass('on');
});
</script>