<link rel="stylesheet" href="__PUBLIC__/wshop/css/shopnav_custom_0ff1f6a625.css">
	<link rel="stylesheet" href="__PUBLIC__/wshop/css/itemlist.css">  

<div id="right-icon" class="js-right-icon no-text">
	<div class="js-right-icon-container right-icon-container clearfix" style="width: 50px;"><a id="global-cart" href="{:U('Home/Order/cart')}" class="icon s0" style="">
    <p class="icon-img"></p>
    <p class="icon-txt">购物车</p>
</a>
		<a class="js-show-more-btn icon show-more-btn hide"></a>
	</div>
</div>