<!--头部-->
  <div class="hea-top">
     <ul class="hed-left">
        <li><a href="#">礼舍首页</a><span>|</span></li>
        <li><a href="#">心意商城</a><span>|</span></li>
        <li><a href="#">礼舍帮帮</a></li>
     </ul>
     <ul class="hed-right">
        <li><a href="#" style="color:#c7241d">深圳礼舍科技有限公司，退出</a><span>|</span></li>
        <li><a href="#">个人登录</a><span>|</span></li>
        <li><a href="#">供应商入住</a></li>
     </ul>
  </div>
  <div class="hea-bom">
      <div class="hbom-cnt">
          <ul class="hb-left">
            <li class="hbom-li"><a href="__APP__/CompanyShow"><img src="__PUBLIC__/companyShow/images/lishe.png"></a></li>
            <li><p class="hbom">企业专属福利管家</p><p class="hbom-a">已认证</p></li>
          </ul>
          <ul class="hb-right">
            <li class="hr">一企一舍咨询热线</li>
            <li class="hr2">400-883-9916</li>
          </ul>
      </div>
  </div> 
  <!--图标logo-->
 <div class="hed-nva"> 
      <div class="nva-ul">
      <a href="#">
         <ul>
           <li><img src="__PUBLIC__/companyShow/images/111111.png"></li>
           <li class="nu">人员管理</li>
         </ul>
       </a> 
       <a href="#">
         <ul>
           <li><img src="__PUBLIC__/companyShow/images/2313.png"></li>
           <li class="nu">福利管理</li>
         </ul>
       </a>
       <a href="__APP__/CompanyShow/modify">
         <ul style="background:#c7241d;">
           <li><img src="__PUBLIC__/companyShow/images/wirte3.png"></li>
           <li class="nu2">企业秀</li>
         </ul>
       </a>  
       <a href="#">
         <ul>
           <li><img src="__PUBLIC__/companyShow/images/1342111.png"></li>
           <li class="nu">企业钱包</li>
         </ul>
       </a>
      </div>
  </div>
  <div class="pt">
     <p class="pt-banner"><img src="__PUBLIC__/companyShow/images/showban.png"></p> 
  </div>