  <style>
  .wrap-lg {
  margin-left: auto;
  margin-right: auto;
  width: 1190px;
  line-height: 1.5;
}

.footer-logo {
  background: #3d3d3d;
}
.footer-logo div {
  padding: 15px 0px;
}

.footer-bottom {
  background: #3d3d3d;
  text-align: center;
  height: 47px;
  padding: 10px 0px;
}
.footer-bottom div.footer-bottom-info {
  position: relative;
  top: 5px;
  z-index: 65537;
  padding: 5px 0px 0px 0px;
}
.footer-bottom div p {
  margin: 0px;
}
.footer-bottom div p.cate {
  color: #B3ADAD;
  margin-bottom: 8px;
}
.footer-bottom div p.cate a {
  color: #B3ADAD;
  font-size:12px;
}
.footer-bottom div p.cate a:hover {
  text-decoration: underline;
}
.footer-bottom div p.cpoyright {
  color: #fff;
  font-size:12px;
}
  
.footer {
  display: flex;
  background: #262626;
  font-family: "微软雅黑";
  padding: 35px 0;
  height: 236px;
}
.footer div.wrap-lg {
  padding: 25px 0px;
}
.footer div.footer-main-left {
  float: left;
  width: 600px;
  text-align: left;
}
.footer div.footer-main-left .footer-main-left-top {
  display: inline-block;
}
.footer div.footer-main-left .footer-main-left-top .footer-main-left-top-left {
  width: 150px;
  float: left;
  margin-right: 35px;
}
.footer div.footer-main-left .footer-main-left-top .footer-main-left-top-left div {
  border-bottom: 1px solid #c7241d;
  font-size: 18px;
  width: 150px;
  height: 25px;
}
.footer div.footer-main-left .footer-main-left-top .footer-main-left-top-left span {
  float: left;
}
.footer div.footer-main-left .footer-main-left-top .footer-main-left-top-left span.icon-right {
  float: right;
}
.footer div.footer-main-left .footer-main-left-top .footer-main-left-top-left ul {
  display: inline-table;
  padding-top: 5px;
  font-size: 14px;
  padding-left: 0;
  position: relative;
  left: -35px;
}
.footer div.footer-main-left .footer-main-left-top .footer-main-left-top-left ul li {
  height: 18px;
}

.footer div.footer-main-left .footer-main-left-bottom {
  width: 522px;
  margin-top: 25px;
  border-top: 1px solid #c7241d;
  line-height:2;
}
.footer div.footer-main-left .footer-main-left-bottom span {
  font-size: 18px;
}
.footer div.footer-main-left .footer-main-left-bottom span.line {
  padding: 67px;
  color: #c7241d;
}

.footer div.footer-main-middle {
  float: left;
}
.footer div.footer-main-middle p {
  font-size: 18px;
  background: #3d3d3d;
  line-height: 24px;
  color: #7e7a89;
  text-align: center;
  margin-bottom: 9px;
}
.footer div.footer-main-right {
  float: right;
  margin: 45px 45px 0px 0px;
}
.footer a {
  color: #666;
  text-decoration: none;
}
.footer span {
  font-size: 18px;
}
</style>
    <!-- Footer BEGIN -->
    <div class="footer-bottom" style="margin-top:50px;">
    <div class="wrap-lg footer-bottom-info">
       <!--<p class="cate"><a href="http://{$info.comdomain}.lishe.cn">{$info.comdomain}.lishe.cn</a><span>&nbsp;|&nbsp;</span>地址：{$info.comadd}<span>&nbsp;|&nbsp;</span>电话：{$info.comphone}</p>-->
       <p class="cpoyright">{$info.comcop}</p>
    
    </div>
    </div>
    <!-- Footer END -->