<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
	<title>惊喜狂欢惠</title>
	<link rel="stylesheet" type="text/css" href="__VIEW__Public/lottery/css/reset.css"/>
	<style type="text/css">
	.content .img1{width: 100%;}
	.back_wrap{position: absolute;width: 100%; bottom:-1rem;text-align: center;}
	.back_wrap img{width: 30%;}
	</style>
	<body>
		<div class="content"><img src="__VIEW__Public/lottery/images/clickShow.png" alt="" class="img1"><div class="back_wrap"><img src="__VIEW__Public/lottery/images/back.png" class="back" /></div></div>
	</body>
	<script type="text/javascript" src="__VIEW__Public/lottery/js/jQuery.v1.8.3.min.js"></script>
	<script type="text/javascript">

	</script>
</html>