<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__ADMIN__lib/html5.js"></script>
<script type="text/javascript" src="__ADMIN__lib/respond.min.js"></script>
<script type="text/javascript" src="__ADMIN__lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__ADMIN__css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__css/style.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<style type="text/css">
	.pageos{
		border: 1px solid;
		border-radius: 20px;
		padding-left: 6px;
		padding-right: 6px;
		margin: 5px;
		
	}
	.pageos:hover{
		background-color: white;
		color: #C8332F;
		
	}
	.pageon{
		border: 1px solid #C7241D;
		background-color: white;
		color: #C8332F;
		border-radius: 20px;
		padding-left: 5px;
		padding-right: 5px;
		margin: 5px;	
	}	
</style>
<title>资讯列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20" style="margin-bottom: 50px;" id="a">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> 
	<?php 	
		 	$applFundId=array_search('fulldiscountadd', $nodeAction);
			 if($applFundId){
		 ?>			
		<span class="l"> 
			<a class="btn btn-primary radius" onclick="member_edit('添加活动/专题','{:U('Home/Mallconfigure/fulldiscountAdd')}','4','','510')" href="javascript:;">
				<i class="Hui-iconfont">&#xe600;</i> 添加促销</a>
		</span>
	<?php 
			  } ?>		
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover">
			<thead>
				<tr class="text-c">
					<th width="4%">ID</th>
					<th width="5%">类型</th>
					<th width="10%">规则/元、折</th>
					<th width="6%">促销名称</th>
					<th width="12%">促销公司</th>
					<th width="5%">促销商品</th>
					<th width="10%">描述</th>
					<th width="9%">开始/结束时间</th>
					<th width="9%">创建时间</th>
					<th width="4%">状态</th>
					<th width="5%">操作</th>
				</tr>
			</thead>
			<tbody>
				<volist name="list" id="vo">
				<tr class="text-c">
					<td>{$vo.fulldiscount_id}</td>
					<td style="color: #FF0000;font-weight: bold;">{$vo['fulldiscount_type'] == 1 ? "满-返" :$vo['type'] == 2 ? "满-减" : "满-折"}</td>
					<td>
						<volist name="vo.rule" id="rule">
							满{$rule.fulled_fee}元
							<if condition="$vo['fulldiscount_type'] eq 1">
								返
							<elseif condition="$vo['fulldiscount_type'] eq 2"/>
								减
							<elseif condition="$vo['fulldiscount_type'] eq 3"/>
								打
							</if>
							{$rule.promotion}
							<if condition="($vo['fulldiscount_type'] eq 1) OR ($vo['fulldiscount_type'] eq 2)">
								元
							<elseif condition="$vo['fulldiscount_type'] eq 3"/>
								折
							</if>							
							<br />
						</volist>						
					</td>
					<td>{$vo.fulldiscount_name}</td>
					<td>
						<volist name="vo.company" id="com">
							{$com}
							<br />
						</volist>
					</td>
					<td>
						<a style="text-decoration:none" class="ml-5" onclick="member_edit('促销商品','{:U('Home/Mallconfigure/fulldiscountItems',array('fulldiscountId'=>$vo['fulldiscount_id']))}','4','','700')" href="javascript:;">
							<span class="label label-success radius">促销商品</span>
						</a>						
					</td>
					<td>{$vo.fulldiscount_desc}</td>
					<td>
						<notempty name="vo.start_time">
							{$vo.start_time|date="Y-m-d H:i:s",###}
						<else/>
							---							
						</notempty>
						<notempty name="vo.end_time">
							<br/>
							{$vo.end_time|date="Y-m-d H:i:s",###}
						<else/>
							<br/>
							---
						</notempty>
					
					</td>					
					<td>
						<notempty name="vo.created_time">
							{$vo.created_time|date="Y-m-d H:i:s",###}
						</notempty>
					
					</td>
					<td>
						<?php 	
						 	$applFundId=array_search('changefulldiscount', $nodeAction);
							 if($applFundId){
						 ?>	
						<a href="javascript:void(0)" onclick="changeStatus({$vo.fulldiscount_id},'status',{$vo.status})">
						<?php 
						}else{ ?>
						<a href="javascript:void(0)">
						<?php } ?>
							<if condition="$vo['status'] eq 1">
								<span class="label label-success radius" title="单击禁用">正常</span>
							<elseif condition="$vo['status'] eq 0"/>	
								<span class="label radius" title="单击启用">禁用中</span>
							</if>
						</a>
					</td>
					<td class="f-14 td-manage">
					<?php 	
						 	$applFundId=array_search('fulldiscountadd', $nodeAction);
							 if($applFundId){
							 	if($nodeController[$applFundId]=="activity"  || $roleId==0){
						 ?>							
						<a style="text-decoration:none" class="ml-5" onclick="member_edit('添加活动/专题','{:U('Home/Mallconfigure/fulldiscountAdd',array('fulldiscountId'=>$vo['fulldiscount_id']))}','4','','510')" href="javascript:;">
							<i class="Hui-iconfont">&#xe6df;</i></a> 
					<?php }
							  } ?>						

						<?php 	
						 	$applFundId=array_search('changefulldiscount', $nodeAction);
							 if($applFundId){
						 ?>							
					<a href="javascript:void(0)" onclick="changeStatus({$vo.fulldiscount_id},'del')" title="删除{$vo.name}">
						<i class="Hui-iconfont">&#xe6e2;</i>
					</a>
					<?php 
							}
							   ?>
					</td>
				</tr>
				</volist>
			</tbody>
		</table>
		<div style="text-align: center;margin-top: 30px;">
			{$pagestr}
		</div>
	</div>
</div>
<script type="text/javascript" src="__ADMIN__lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__ADMIN__lib/layer/1.9.3/layer.js"></script> 
<script type="text/javascript" src="__ADMIN__lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__ADMIN__lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__ADMIN__js/H-ui.js"></script> 
<script type="text/javascript" src="__ADMIN__js/H-ui.admin.js"></script>
<script type="text/javascript">
/*用户-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}	
function changeStatus(id,type,val){
	if(type=="status"){
		if(val==1){
			var say="禁用";
		}else if(val==0){
			var say="启用";
		}
	}else{
		var say="删除";
	}
	layer.confirm('确认要'+say+'该促销规则吗？',function(index){
		$.get("__APP__/Mallconfigure/changeFulldiscount/fulldiscountId/"+id+"/type/"+type+"/val/"+val,function(data){     
			if(data){
				layer.msg(say+'成功!',{icon:1,time:1000});
				location.reload();
			}else{
				layer.msg(say+'失败!',{icon:1,time:1000});
				
			}
		});
	});	
}
</script> 
</body>
</html>