<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__ADMIN__lib/html5.js"></script>
<script type="text/javascript" src="__ADMIN__lib/respond.min.js"></script>
<script type="text/javascript" src="__ADMIN__lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__ADMIN__css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__css/style.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<style>
	.nodestyle{
		
	}
	.nodestyle:hover{
		cursor: pointer;
		border-bottom: 1px solid #5eb95e;
	}
</style>
</head>
<body>
<nav class="breadcrumb"><a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20" style="margin-bottom: 80px;">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
		<?php 	
			 	$applFundId=array_search('givesceneedit', $nodeAction);
				 if($applFundId){
			 ?>				
			<a href="javascript:;" onclick="admin_permission_add('添加赠送情景','{:U('Home/Mallconfigure/giveSceneEdit')}','','510')" class="btn btn-primary radius">
				<i class="Hui-iconfont">&#xe600;</i> 添加赠送情景
			</a>	
		<?php 
				}
				   ?>			
		</span> 
				<!--<span class="r">共有数据：<strong>54</strong> 条</span>--> </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="8">赠送情景</th>
			</tr>
			<tr class="text-c">
				<th width="4%">序号</th>
				<th width="10%">标题</th>
				<th width="10%">展示banner</th>
				<th width="10%">微送礼展示图</th>
				<th>内容</th>
				<th width="5%">排序</th>
				<th width="5%">详情</th>
				<th width="5%">状态</th>
				<th width="7%">操作</th>
			</tr>
		</thead>
		<tbody>
			<volist name="list" id="vo">
				<tr class="text-c">
					<td>{$i}</td>
					<td>{$vo.name}</td>
					<td>
						<notempty name="vo.icon">
							<img src="{$vo.icon}" width="100px" style="max-height: 100px; overflow: hidden;" />
						</notempty>
					</td>
					<td>
						<notempty name="vo.gift_pic">
							<img src="{$vo.gift_pic}" width="100px" style="max-height: 100px; overflow: hidden;" />
						</notempty>
					</td>					
					<td>
						{$vo.content}
					</td>
					<td>{$vo.order_sort}</td>
					<td>
						<a onClick="article_edit('{$vo.name}：情景详情','{:U('Home/Mallconfigure/giveSceneItem',array('indexId'=>$vo['index_id']))}','10001')">
							<span class="label label-success radius">情景详情</span>
						</a>
					</td>
					<td>
						<?php 	
						 	$applFundId=array_search('changegivescene', $nodeAction);
							 if($applFundId){
						 ?>	
						<a href="javascript:void(0)" onclick="changeStatus({$vo.index_id},'status',{$vo.status})">
						<?php 
						}else{ ?>
						<a href="javascript:void(0)">
						<?php } ?>
							<if condition="$vo['status'] eq 1">
								<span class="label label-success radius" title="单击禁用">正常</span>
							<elseif condition="$vo['status'] eq 0"/>	
								<span class="label radius" title="单击启用">禁用中</span>
							</if>
						</a>
					</td>
					<td>
							<?php 	
							 	$applFundId=array_search('givesceneedit', $nodeAction);
								 if($applFundId){
							 ?>							
						<a title="编辑{$vo.name}" href="javascript:;" onclick="admin_permission_add('编辑赠送情景','{:U('Home/Mallconfigure/giveSceneEdit',array('indexId'=>$vo['index_id']))}','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
						<?php 
								}
								   ?>							
							<?php 	
							 	$applFundId=array_search('changegivescene', $nodeAction);
								 if($applFundId){
							 ?>							
						<a href="javascript:void(0)" onclick="changeStatus({$vo.index_id},'del')" title="删除{$vo.name}">
							<i class="Hui-iconfont">&#xe6e2;</i>
						</a>
						<?php 
								}
								   ?>					
					</td>
				</tr>
			</volist>
		</tbody>
	</table>
</div>
<script type="text/javascript" src="__ADMIN__lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__ADMIN__lib/layer/1.9.3/layer.js"></script> 
<script type="text/javascript" src="__ADMIN__lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="__ADMIN__lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__ADMIN__js/H-ui.js"></script> 
<script type="text/javascript" src="__ADMIN__js/H-ui.admin.js"></script> 
<script type="text/javascript">
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*管理员-权限-添加*/
function admin_permission_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-权限-编辑*/
function admin_permission_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}

/*管理员-权限-删除*/
function admin_permission_del(obj,id){
	layer.confirm('角色删除须谨慎，确认要删除吗？',function(index){
		$(obj).parents("tr").remove();
		layer.msg('已删除!',{icon:1,time:1000});
	});
}
/*资讯-编辑*/
function article_edit(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
</script>
<script>
function changeStatus(id,type,val){
	if(type=="status"){
		if(val==1){
			var say="禁用";
		}else if(val==0){
			var say="启用";
		}
	}else{
		var say="删除";
	}
	layer.confirm('确认要'+say+'该情景吗？',function(index){
		$.get("__APP__/Mallconfigure/changeGiveScene/indexId/"+id+"/type/"+type+"/val/"+val,function(data){     
			if(data){
				layer.msg(say+'成功!',{icon:1,time:1000});
				location.reload();
			}else{
				layer.msg(say+'失败!',{icon:1,time:1000});
				
			}
		});
	});	
}
</script>
</body>
</html>