
<style type="text/css">
.mdiv{margin: 1rem 0;}
.Mbtitle{font-weight:bold; font-size:1rem; color:#000;}
.Mbtitle2{font-weight:bold; font-size:1rem; color:#000; padding-left:0.8rem;}
.Mbdes{font-size:0.8rem; color:#666; padding-left:0.8rem; line-height:1.5rem;}
</style>

  <div style="margin-bottom:1.5rem;"><p class="Mbtitle" style="text-align:center;">商品退/换货服务说明</p></div>
  <div class="mdiv">
  	<p class="Mbtitle2">一、退换货时限</p>
    <ul class="Mbdes">
       <li>A．退货：客户自签收之日起7日内可申请无理由退换货，注意事项中约定不适合退换的商品除外。</li>
       <li>B．换货：客户自签收之日起15日内可申请换货,注意事项中约定不符合退换货的商品除外</li>
    </ul>
  </div>
  
  <div class="mdiv">
  	<p class="Mbtitle2">二、退换货原因</p>
    <ul class="Mbdes">
       <li>A．符合法律规定的7日无理由退换货条件；注意事项中约定不适合退换的商品除外; </li>
       <li>B．商品售出时即存在质量问题; </li>
       <li>C. 商品漏发、错发及由于物流配送中导致商品毁损等问题。</li>
    </ul>
  </div>
  
  <div class="mdiv">
  	<p class="Mbtitle2">三、退换货条件</p>
    <ul class="Mbdes">
       <li>A．7天无理由退货，需要保持商品本身完好；</li>
       <li>B．退换商品配件齐全不影响二次销售。 </li>
    </ul>
  </div>
  
  <div class="mdiv">
  	<p class="Mbtitle2">四、注意事项</p>
    <ul class="Mbdes">
       <li>以下商品/服务不提供退换货服务：</li>
       <li> 1.鲜活易腐类商品；</li>
       <li>2.积分卡、礼品卡、礼品券、个人定制类礼品或商品；</li>
       <li>3.在线下载或者已拆封的音像制品，计算机软件等数字化商品； </li>
       <li>4.交付的报纸期刊类商品；</li>
       <li>5.服装鞋帽类商品因个人原因造成商品损坏的；（如自行修改尺寸、已洗涤、皮具打油、刺绣、长时间穿着、体味及香水污染）</li>
       <li>6.内衣裤、泳衣、短袜/打底袜/丝袜/美腿袜、塑身裤、塑身连体衣、乳贴、插片/胸垫等贴身商品；</li>
       <li>7.钻石、黄金、贵金属、单值超过1000元的珠宝首饰及个人配饰类产品；</li>
       <li>8.食品、酒类、茶叶、饮品、药品、保健品、个人护理用品、卫生用品、化妆品、护肤品；</li>
       <li>9.成人用品/避孕/计生用品类、宠物食品及用品和宠物服饰及配件、口罩、吸氧管等拆封后不宜退货；</li>
       <li>10.无法保证退回商品完好的（如洗标剪掉、遗失、吊牌遗失、防伪码遗失或已刮开等)。</li>
       <li>11.下单成功后，10天内未收到商品，请于下单之日起10天内向客服反馈订单情况，逾期不受理。</li>
       <li>12.如因物流原因导致商品破损，非商品质量问题，请于收货起24小时内验收货品，并向客服拍照反馈破损问题，逾期不受理。</li>
       <li><b style="color: #ff0000">注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！ </b></li>
    </ul>
  </div>
  
  <div class="mdiv">
  	<p class="Mbtitle2">五、处理流程</p>
    <ul class="Mbdes">
       <li>属于质量问题的，需将生产厂家售后服务中心开具的检测报告（维修检验单据）、附件、说明书、发票、保卡、购物凭证、包装、问题商品（主板类产品需写明故障原因），一并返回我司办理退换货手续。
大家电检测报告由厂家售后安排工作人员上门检测并开具。对于存储类商品，礼舍概不提供数据导出服务，请务必在返修前将里面的数据自行导出，否则若有数据遗失、损坏等礼舍概不承担相应的责任。</li>
    </ul>
  </div>
  
   <div class="mdiv">
  	<p class="Mbtitle2">六、邮费承担</p>
    <ul class="Mbdes">
       <li>退货</li>
       <li>A．商品质量问题、实物与描述不符等卖家责任导致退货的，退货邮费卖家承担；</li>
       <li>B．买家主观原因（不喜欢、不想要了等）需要退货的，退货邮费买家承担；</li>
       <li>C．如退货后该订单金额不满足店铺包邮条件的，买家同时需承担商品发货邮费。</li>
    </ul>
    <ul class="Mbdes">
        <li>换货</li>
        <li>A．商品质量问题、实物与描述不符等卖家责任导致换货的，往返邮费卖家承担；</li>
		<li>B．买家主观原因（换型号、颜色等）需要换货的，往返邮费买家承担；</li>
		<li>C．商品使用后但仍在保修期的正常维修，往返邮费由买家承担。</li>
    </ul>
  </div>