.category4 {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 99;
    padding: 0px;
    line-height: 1.5;
    background: #fff;
    border-top: 2px solid #C7241D;
}
.category4.category4-col1 {
    background: #C7241D;
    border: 0px;
    border-top: 2px solid #C7241D;
}
.category4 .category-item {
    float: left;
    margin: 0;
}
.category4 .category-sub-col {
    float: left;
    margin-right: 0px;
}
.category4 .category-sub a {
    display: block;
    margin-bottom: 0px;
    color: #FFF;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    padding: 3px 25px;
    height: 24px;
    min-width: 80px;
}
.category4 .category-sub a:hover {
    color: #C7241D;
    background: #fff;
}
.category4 .category-sub .category-sub-col-item {
    width: 100%;
    height: 30px;
}
.category4 .category-sub .category-sub-col-item:hover {
    background: #fff;
}
.banner img {
  width: 100% !important;
}
.tip-absolute {
	position: absolute;
	width: 88px;
	top: 784px;
    right: 6%;
    background: #a12124;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: '微软雅黑';
    z-index: 9999;
    }
 .tip-fixed {
    position: fixed;
    /* width: 92px; */
    top: 10%;
    right: 6%;
}
.tip-on-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.tip-absolute .tip-fixed-nav {
    position: relative;
    width: 100%;
    height: 100%;
}
.tip-absolute p {
    margin: 0px;
}
.tip-absolute a {
    color: #fff;
}

.tip-absolute .tip-fixed-username {
    background: #A12124;
    padding: 6px 0px;
    border-radius: 6px;
}
.tip-absolute .tip-fixed-username p {
	font-size: 16px;
}
.tip-absolute .tip-fixed-username span {
	font-size: 14px;
}

.tip-absolute .tip-fixed-bottom {
	padding: 8px;
}

.tip-absolute .tip-fixed-bottom .tip-fixed-balance {
	border-bottom: 1px solid #D78C97;
	padding-bottom: 6px;
}
.tip-absolute .tip-fixed-bottom .tip-fixed-balance p {
	font-size: 14px;
}
.tip-absolute .tip-fixed-bottom .tip-fixed-balance span {
	font-size: 30px;
}

.tip-absolute .tip-fixed-bottom .tip-fixed-shopping-cart {
    padding: 6px 0px;
	border-bottom: 1px solid #D78C97;
	font-size: 14px;
}

.tip-absolute .tip-fixed-bottom .tip-fixed-shopping-cart tt {
	font-size: 24px;
	font-weight: bold;
	padding-right: 3px;
}

.tip-absolute .tip-fixed-bottom .tip-fixed-top-up, .tip-absolute .tip-fixed-bottom .tip-fixed-help {
	position: relative;
    padding: 6px 0px;
    border-bottom: 1px solid #D78C97;
}
.tip-absolute .tip-fixed-bottom .tip-fixed-top-up, .tip-absolute .tip-fixed-bottom .tip-fixed-help:hover {
    padding: 6px 0px;
    border-bottom: 1px solid #D78C97;
}
.tip-absolute .tip-fixed-bottom .tip-fixed-top-up p, .tip-absolute .tip-fixed-bottom .tip-fixed-help p {
    margin: 5px 0px;
    padding: 3px 8px;
    background: #c7241d;
    border-radius: 5px;
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-transition: width,height .5s linear;
	-moz-transition: width,height .5s linear;
	-o-transition: width,height .5s linear;
	-ms-transition: width,height .5s linear;
	transition: width,height .5s linear;
}
.tip-absolute .tip-fixed-bottom .tip-fixed-top-up p:hover, .tip-absolute .tip-fixed-bottom .tip-fixed-help p:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: width,height .5s linear;
	-moz-transition: width,height .5s linear;
	-o-transition: width,height .5s linear;
	-ms-transition: width,height .5s linear;
	transition: width,height .5s linear
}

.tip-absolute .tip-fixed-bottom .tip-fixed-help img {
    position: absolute;
    bottom: 28px;
	left: 55px;
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-transition: all .5s eas;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
.tip-absolute .tip-fixed-bottom .tip-fixed-help img:hover {
    bottom: 31px;
	left: 58px;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}

.tip-absolute .tip-fixed-bottom .tip-fixed-top {
	cursor: pointer;
	padding: 10px 0px 5px 0px;
}

@media screen and (max-width: 1530px) {
    .tip-absolute {
        display: none;
    }
}
@media screen and (max-width: 1600px) {
    .tip-absolute {
        right: 3%;
    }
}
@media screen and (max-width: 1800px) {
    .tip-absolute {
        right: 4%;
    }
}




@charset "UTF-8";
.topbar {
	height: 36px;
	line-height: 36px;
	/* background: #f2f2f2; */
	color: #999;
	border-bottom: 1px solid #dcdcdc;
}
.topbar .line{
	float: left;
	width: 1px;
	height: 32px;
	margin: 2px 0px;
	background: #dcdcdc;
}
.topbar a {
	float: left;
	/* margin: 0 5px; */
	color: #333;
	padding: 0px 15px;
	font-size: 16px;
}
.topbar a:hover {
  color: #a12124;
  /* text-decoration: underline; */
}
.topbar .subnav a {
  margin: 0 10px;
}
.topbar .topbar-left {
  float: left;
  width: 300px;
}
.topbar .topbar-right {
  float: right;
}


.logo {
  padding-top: 10px;
}

.logo img {
  position: relative;
}

.textRegulation {
  margin-top: 26px;
  margin-bottom: 2px;
}

.textRegulation2 {
  margin-top: 12px;
  margin-bottom: 5px;
}
.searchbar {
  position: relative;
  top:25px;
}
.searchbar .x-input {
	float: left;
	width: 603px;
	height: 22px;
	line-height: 22px;
	padding: 5px;
	border: 2px solid #a12124;
	color: #aaa;
}
.searchbar .x-input:focus {
  outline: none;
}
.searchbar .btn {
  float: left;
  margin-right: 5px;
}
.searchbar form {
  *zoom: 1;
}
.searchbar form:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.searchbar .hots {
  margin-top: 10px;
  color: #999;
  display: none;
}
.searchbar .hots a {
  margin: 0 5px;
  color: #999;
}
.searchbar .btn-search {
	width: 84px;
	height: 36px;
	line-height: 36px;
	background: #a12124;
	color: #fff;
	font-size: 14px;
	text-align: center;
}
.searchbar .btn-search span {
  border: none;
  background: none;
  display: inline;
}
.searchbar .btn-search span:hover {
  background: none;
}
.minicart{
  position: relative; 
  top:24px;
}
.minicart .btn {
  color: #666;
}
.minicart .btn span {
	background: #f7f7f7;
	padding: 0;
	height: 36px;
	line-height: 36px;
}
.minicart .btn .icon-cart-a {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  font-size: 20px;
  line-height: 1;
  vertical-align: text-top;
}
.minicart .btn .icon-arrow-right-b {
  margin-left: 10px;
  color: #ccc;
}
.minicart b {
	position: absolute;
	top: -5px;
	left: 1px;
	font-size: 12px;
	color: #fff;
	background: #a12124;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
	padding: 3px 5px;
}

.nav {
  height: 45px;
  line-height: 45px;
}
.nav a {
  color: #666;
  font-size: 14px;
}
.nav .nav-main {
  position: relative;
}
.nav .nav-left {
  position: relative;
}
.nav .nav-left:hover .category {
  display: block;
}
.nav .big-cate {
	background: #a12124;
	/* text-align: center; */
	width: 100%;
	height: 45px;
	line-height: 45px;
	/* border-left: 1px solid #a12124;
	border-right: 1px solid #a12124; */
}
.nav .big-cate a {
	color: #fff;
	font-size: 16px;
	margin-left: 10px;
}
.nav .menu {
  *zoom: 1;
}
.nav .menu:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.nav .menu a {
  float: left;
  display: block;
  width: 90px;
  text-align: center;
}
.nav .menu a img {
  margin-left: 4px;
}
.nav .menu a.on, .nav .menu a:hover {
  color: #a12124;
  /* text-decoration: underline; */
}
.nav .category {
  top: 45px;
  left: 0;
  width: 100%;
}
.nav .searchbar-small {
  float: right;
  margin-right: 10px;
}
.nav .searchbar-small .icon {
  top: 12px;
}
.shop-search{
  position:relative; 
  float:right; 
  right:20px;
}
.shop-nav .shop-category {
  position: relative;
  float: left;
}
.shop-nav .shop-category:hover .category4, .shop-nav .shop-category:hover .icon-arrow-down-b {
  display: block;
}
.shop-nav .shop-category .icon-arrow-down-b {
  display: none;
  position: absolute;
  bottom: -9px;
  left: 50%;
  margin-left: -2px;
  z-index: 100;
}
.shop-nav .shop-category a {
  width: auto;
  padding: 0 25px;
}

.main {
  background: #ffffff;
}

.section {
  *zoom: 1;
  margin-bottom: 10px;
}
.section:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.section .subslider {
  margin-bottom: 20px;
}

.sidebar {
  float: left;
  min-height: 30px;
}

/*閫氳繃module-mg-small鎺у埗鐢ㄥ湪category_primary.html鐨勫皬灏哄骞荤伅鐗�*/
.module-mg-small .module {
  margin-bottom: 10px;
}
.module-mg-small .slider {
  height: 366px;
}

.flashSaleTextLeft {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 228px;
  float: left;
}

.flashSaleTextRight {
  position: relative;
  width: 143px;
  float: right;
}
.dailySalePicOne, .dailySalePicTwo, .dailySalePicThree
 {
	margin: 30px 0px 0px 10px;
	padding: 0;
	width: 228px;
	height: 195px;
	line-height: .5px;
	text-align: center;
	border: 1px solid #dadadd;
	overflow: hidden;
}

.dailySalePicTwo {
  margin-left: -1px;
}

.dailySalePicThree {
  margin-left: -1px;
}

.dailySalePicFour {
  margin-top: 11px;
  padding: 0;
  width: 297px;
  height: 173px;
  line-height: .5px;
  text-align: center;
  border: 1px solid #dadadd;
  margin-left: -1px;
}

.hotBrandLeft {
  position: relative;
  margin: 0;
  padding: 0;
  float: left;

}
.hotBrandRight {
  position: relative;
  margin-left: -10px;
  width: 213px;
  padding: 0;
  float: right;
  right: -3px;
  border-left: 1px solid #efefef;
}

.hotBrandMiddle {
  position: relative;
  padding: 0;
  margin-left: -2px;
  width: auto;
  border: 1px solid #efefef;
}

.hotBrand11 {
  margin: 0;
  padding: 0;
  width: 151px;
  height: 82px;
  line-height: .5px;
  text-align: center;
  border-left: 1px solid #efefef;
  border-top: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.hotBrand11:hover {
  border: 1px solid #dfc182;
}

.hotBrand41 {
  margin: 0;
  padding: 0;
  width: 151px;
  height: 82px;
  line-height: .5px;
  text-align: center;
  border-left: 1px solid #efefef;
  border-top: 1px solid #efefef;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.hotBrand41:hover {
  border: 1px solid #dfc182;
}

.onSaleCouponTextLeft {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 228px;
  float: left;
}

.onSaleCouponTextRight {
  position: relative;
  margin: 0;
  padding: 0;
  width: 169px;
  float: right;
}

.onSaleCouponOne {
  margin-top: 25px;
  margin-bottom: 25px;
  float: left;
  width: 230px;
  height: 120px;
}

.onSaleCouponTwo {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 230px;
  height: 120px;
}

.onSaleCouponFive {
  margin-bottom: 25px;
  float: right;
  width: 230px;
  height: 120px;
}

.firstFloorBox {
  width: 1190px;
}

.firstFloorBoxLeft {
  margin: 0;
  width: 523px;
}

.firstFloorBoxRight {
  margin: 0;
  width: 665px;
}

.marginEqualZero {
  margin: 0;
}

.firstFloorBoxLeft {
  margin: 0;
}

.firstFloorBoxRight {
  margin: 0;
}

.firstFloorBoxLeft11 {
  border: 1px solid #dadadd;
  margin: 0;
}

.firstFloorBoxLeft12 {
  border-left: 1px solid #dadadd;
  border-right: 1px solid #dadadd;
  margin: 0;
  width: 214px;
  height: 196px;
}

.firstFloorBoxLeft13 {
  border: 1px solid #dadadd;
  margin: 0;
}

.firstFloorBoxLeft2 {
  margin: 0;
  width: 308px;
  border-top: 1px solid #dadadd;
  border-bottom: 1px solid #dadadd;
}

.firstFloorBoxRight11, .firstFloorBoxRight12, .firstFloorBoxRight13, .firstFloorBoxRight21, .firstFloorBoxRight22, .firstFloorBoxRight23 {
  margin: 0;
  border: 1px solid #dadadd;
}

.firstFloorBoxRight13 {
  width: 224px;
}

.firstFloorBoxRight21 {
  border-top: 0;
}

.firstFloorBoxRight22 {
  border-top: 0;
}

.firstFloorBoxRight23 {
  border-top: 0;
  width: 224px;
}

.firstFloorBoxBottom {
  margin: 0;
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
}

.secondFloorBox {
  width: 1190px;
}

.secondFloorBoxLeft {
  margin: 0;
  width: 523px;
}

.secondFloorBoxRight {
  margin: 0;
  width: 665px;
}

.secondFloorBoxLeft {
  margin: 0;
}

.secondFloorBoxRight {
  margin: 0;
}

.secondFloorBoxLeft11 {
  margin: 0;
  border: 1px solid #dadadd;
}

.secondFloorBoxLeft12 {
  margin: 0;
  border-left: 1px solid #dadadd;
  border-right: 1px solid #dadadd;
}

.secondFloorBoxLeft13 {
  margin: 0;
  border: 1px solid #dadadd;
}

.secondFloorBoxLeft2 {
  margin: 0;
  width: 308px;
  border-top: 1px solid #dadadd;
  border-bottom: 1px solid #dadadd;
}

.secondFloorBoxRight11, .secondFloorBoxRight12, .secondFloorBoxRight13, .secondFloorBoxRight21, .secondFloorBoxRight22, .secondFloorBoxRight23 {
  margin: 0;
  border: 1px solid #dadadd;
}

.secondFloorBoxRight13 {
  width: 224px;
}

.secondFloorBoxRight21 {
  border-top: 0;
}

.secondFloorBoxRight22 {
  border-top: 0;
}

.secondFloorBoxRight23 {
  border-top: 0;
  width: 224px;
}

.secondFloorBoxBottom {
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
}

.thirdFloorBox {
  width: 1190px;
}

.thirdFloorBoxLeft {
  margin: 0;
  width: 523px;
}

.thirdFloorBoxRight {
  margin: 0;
  width: 665px;
}

.thirdFloorBoxLeft {
  margin: 0;
}

.thirdFloorBoxRight {
  margin: 0;
}

.thirdFloorBoxLeft11 {
  margin: 0;
  border: 1px solid #dadadd;
}

.thirdFloorBoxLeft12 {
  margin: 0;
  border-left: 1px solid #dadadd;
  border-right: 1px solid #dadadd;
}

.thirdFloorBoxLeft13 {
  margin: 0;
  border: 1px solid #dadadd;
}

.thirdFloorBoxLeft2 {
  margin: 0;
  width: 308px;
  border-top: 1px solid #dadadd;
  border-bottom: 1px solid #dadadd;
}

.thirdFloorBoxRight11, .thirdFloorBoxRight12, .thirdFloorBoxRight13, .thirdFloorBoxRight21, .thirdFloorBoxRight22, .thirdFloorBoxRight23 {
  border: 1px solid #dadadd;
  margin: 0;
}

.thirdFloorBoxRight13 {
  width: 224px;
}

.thirdFloorBoxRight21 {
  border-top: 0;
}

.thirdFloorBoxRight22 {
  border-top: 0;
}

.thirdFloorBoxRight23 {
  border-top: 0;
  width: 224px;
}

.thirdFloorBoxBottom {
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  height: 63px;
  width: 1189px;
  line-height: .5px;
  border: 1px solid #dadadd;
}

.thirdFloorBoxBottom1, .thirdFloorBoxBottom2, .thirdFloorBoxBottom3, .thirdFloorBoxBottom4, .thirdFloorBoxBottom5, .thirdFloorBoxBottom6, .thirdFloorBoxBottom7, .thirdFloorBoxBottom8, .thirdFloorBoxBottom9 {
  margin: 0;
}

.thirdFloorBoxBottom10 {
  margin: 0;
}

.fourthFloorBox {
  width: 1190px;
}

.fourthFloorBoxLeft {
  margin: 0;
  width: 523px;
}

.fourthFloorBoxRight {
  margin: 0;
  width: 665px;
}

.fourthFloorBoxLeft {
  margin: 0;
}

.fourthFloorBoxRight {
  margin: 0;
}

.fourthFloorBoxLeft11 {
  margin: 0;
  border: 1px solid #dadadd;
}

.fourthFloorBoxLeft12 {
  margin: 0;
  border-left: 1px solid #dadadd;
  border-right: 1px solid #dadadd;
}

.fourthFloorBoxLeft13 {
  margin: 0;
  border: 1px solid #dadadd;
}

.fourthFloorBoxLeft2 {
  margin: 0;
  width: 308px;
  border-top: 1px solid #dadadd;
  border-bottom: 1px solid #dadadd;
}

.fourthFloorBoxRight11, .fourthFloorBoxRight12, .fourthFloorBoxRight13, .fourthFloorBoxRight21, .fourthFloorBoxRight22, .fourthFloorBoxRight23 {
  border: 1px solid #dadadd;
  margin: 0;
}

.fourthFloorBoxRight13 {
  width: 224px;
}

.fourthFloorBoxRight21 {
  border-top: 0;
}

.fourthFloorBoxRight22 {
  border-top: 0;
}

.fourthFloorBoxRight23 {
  border-top: 0;
  width: 224px;
}

.fourthFloorBoxBottom {
  position: relative;
  width: 1189px;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 1px solid #dadadd;
}

.fourthFloorBoxBottom1, .fourthFloorBoxBottom2, .fourthFloorBoxBottom3, .fourthFloorBoxBottom4, .fourthFloorBoxBottom5, .fourthFloorBoxBottom6, .fourthFloorBoxBottom7, .fourthFloorBoxBottom8, .fourthFloorBoxBottom9 {
  margin: 0;
}

.fourthFloorBoxBottom10 {
  margin: 0;
}

.fifthFloorBox {
  width: 1190px;
  margin: 0;
}

.fifthFloorBoxLeft {
  margin: 0;
  width: 523px;
}

.fifthFloorBoxRight {
  margin: 0;
  width: 665px;
}

.fifthFloorBoxLeft {
  margin: 0;
}

.fifthFloorBoxRight {
  margin: 0;
}

.fifthFloorBoxLeft11 {
  margin: 0;
  border: 1px solid #dadadd;
}

.fifthFloorBoxLeft12 {
  margin: 0;
  border-left: 1px solid #dadadd;
  border-right: 1px solid #dadadd;
}

.fifthFloorBoxLeft13 {
  margin: 0;
  border: 1px solid #dadadd;
}

.fifthFloorBoxLeft2 {
  margin: 0;
  width: 308px;
  border-top: 1px solid #dadadd;
  border-bottom: 1px solid #dadadd;
}

.fifthFloorBoxRight11, .fifthFloorBoxRight12, .fifthFloorBoxRight13, .fifthFloorBoxRight21, .fifthFloorBoxRight22, .fifthFloorBoxRight23 {
  border: 1px solid #dadadd;
  margin: 0;
}

.fifthFloorBoxRight13 {
  width: 224px;
}

.fifthFloorBoxRight21 {
  border-top: 0;
}

.fifthFloorBoxRight22 {
  border-top: 0;
}

.fifthFloorBoxRight23 {
  border-top: 0;
  width: 224px;
}

.fifthFloorBoxBottom {
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 1px solid #dadadd;
}

.roundMark {
  padding-left: 50px;
}

.category {
	display: none;
	position: absolute;
	z-index: 99;
	background: #c7241d;
	line-height: 1.5;
	/*border-left: 1px solid #c7241d;
	border-right: 1px solid #c7241d;*/
	border-bottom: 1px solid #c7241d;
}
.category .category-primary {
  border-top: 2px solid #a12124;
  border-left: 1px solid #a12124;
}
.category .category-primary > li {
  /* position: relative; */
}
.category .category-primary > li span.icon-arrow-right {
  display: block;
}
.category .category-primary > li:hover {
  /* background: #BE2A23; */
  background: rgba(248, 248, 248, 0.95);
  color: #666;
}
.category .category-primary > li:hover a {
  color: #666;
}
.category .category-primary > li:hover span.icon-arrow-right {
  display: none;
}
.category .category-primary > li:hover .category-sub {
  display: block;
}
.category .category-primary > li.active .category-primary-item {
  background: #e22335;
}
.category .category-primary .category-primary-item {
	position: relative;
	height: 38px;
	line-height: 38px;
	padding: 0 10px;
	font-size: 14px;
}
.category .category-primary .category-primary-item i {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(1.png) no-repeat;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 10px;
}
.category .category-primary .category-primary-item a {
	display: inline-block;
	margin-right: 15px;
	width: 180px;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
}
.category .category-primary .category-primary-item .icon {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 12px;
  color: #fff;
}
.category .category-sub {
  display: none;
  position: absolute;
  top: 0px;
  left: 215px;
  z-index: 20;
  width: 600px;
  padding: 20px 10px;
  background: #fff;
  background: rgba(248, 248, 248, 0.95);
  border-right: 1px solid #a12124;
  border-bottom: 1px solid #a12124;
  border-top: 2px solid #a12124;
}
.category .category-sub .category-sub-title {
  font-weight: bold;
  float: left;
  width: 70px;
  text-align: right;
  padding-right: 20px;
}
.category .category-sub .category-sub-sub-title {
  float: left;
  width: 836px;
  padding-right: 30px;
}
.category .category-sub ul {
  *zoom: 1;
  margin-bottom: 12px;
  border-bottom: 1px solid #DFDFDF;
  min-height: 30px;
}
.category .category-sub ul:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.category .category-sub ul li {
  float: left;
  padding-left: 10px;
  margin: 0 10px 12px 0;
  border-left: 1px solid #DFDFDF;
}
.category .category-sub a {
  color: #545454;
  font-size: 12px;
}
.category.is-display {
  display: block;
}

.category2 .category-primary {
  position: relative;
}
.category2 .category-primary li:hover {
  color: #fff;
}
.category2 .category-primary li:hover .category-primary-item {
  background: #b70f7c;
}
.category2 .category-primary li:hover .category-primary-item a {
  color: #fff;
}
.category2 .category-primary li:hover .category-sub {
  display: block;
}
.category2 .category-primary-item {
  padding: 10px;
  background: #e8e8e8;
  margin-bottom: 1px;
}
.category2 .category-primary-item:last-child {
  border-bottom: none;
}
.category2 .category-primary-item .title {
  margin-bottom: 2px;
  font-size: 14px;
}
.category2 .category-primary-item .list {
  height: 18px;
  overflow: hidden;
}
.category2 .category-primary-item .list a {
  margin-right: 10px;
  color: #666;
  white-space: nowrap;
}
.category2 .category-sub {
  display: none;
  position: absolute;
  top: 0;
  left: 215px;
  z-index: 20;
  width: 600px;
  min-height: 454px;
  padding: 20px 10px;
  background: #f8f8f8;
  background: rgba(255, 255, 255, 0.9);
}
.category2 .category-sub ul {
  *zoom: 1;
  padding: 10px;
}
.category2 .category-sub ul:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.category2 .category-sub ul li {
  float: left;
  padding-right: 10px;
  margin: 0 10px 10px 0;
}
.category2 .category-sub a {
  color: #545454;
  font-size: 12px;
}
.category2 .category-sub a:hover {
  color: #b70f7c;
}

.category3 {
  color: #666;
}
.category3 .category-primaty {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background: #e8e8e8;
}
.category3 .category-sub {
  *zoom: 1;
  display: none;
  padding: 10px;
  background: #f8f8f8;
}
.category3 .category-sub:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.category3 .category-sub a {
  float: left;
  display: block;
  width: 48%;
  margin-right: 2%;
  white-space: nowrap;
  overflow: hidden;
  color: #666;
}
.category3 .category-item {
  border-bottom: 1px solid #f8f8f8;
}
.category3 .category-item.on .category-sub {
  display: block;
}

.category4 {
  *zoom: 1;
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 99;
  /*width: 950px;*/
  padding: 25px 15px 0 15px;
  line-height: 1.5;
  background: #fff;
  border: 1px solid #333;
}
.category4:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.category4 .category-item {
  float: left;
  margin: 0 35px 40px 0;
}
.category4 .category-primaty {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #333;
  font-size: 14px;
}
.category4 .category-sub {
  *zoom: 1;
}
.category4 .category-sub:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.category4 .category-sub a {
  display: block;
  /*width: 96px;*/
  margin-bottom: 5px;
  color: #333;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}
.category4 .category-sub a:hover {
  background: none;
}
.category4 .category-sub-col {
  float: left;
  /*width: 96px;*/
  margin-right: 30px;
}
.category4.category4-col1 {
  /*width: 150px;*/
  background: #C7241D;
  border: 0px;
}

.slider {
  position: relative;
  height: 570px;
  overflow: hidden;
}
.slider .slider-pic img {
	position: relative;
	margin: 0 auto;
	display: block;
	width: 984px;
	height: 570px;
}
.slider .slider-switch {
  *zoom: 1;
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
  z-index: 9;
}
.slider .slider-switch:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.slider .slider-switch a {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 24px;
  margin-left: 5px;
  margin-right: 5px;
  background: #757B79;
  color: #999;
  text-align: center;
  border-radius: 16px;
}
.slider .slider-switch a.active {
  background: #F6F9F8 !important;
}
.slider .slider-switch a:hover {
  background: #999;
}

.groupbuy {
  background: #fff;
}
.groupbuy .groupbuy-title {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background: #e8e8e8;
  color: #545454;
  font-weight: bold;
}
.groupbuy .groupbuy-pic img {
  display: block;
  width: 100%;
}
.groupbuy .groupbuy-info {
  padding: 10px;
}
.groupbuy .origin-price {
  font-size: 14px;
}
.groupbuy .origin-price i {
  text-decoration: line-through;
}
.groupbuy .discount-price {
  color: #dd2434;
  font-size: 18px;
}
.groupbuy .discount-price em {
  font-size: 16px;
}
.groupbuy .btn {
  float: right;
}
.groupbuy.groupbuy-small .groupbuy-title {
  height: 30px;
  line-height: 30px;
  background: #fff;
}
.groupbuy.groupbuy-small .groupbuy-info {
  padding-top: 0;
}

.subslider {
  *zoom: 1;
}
.subslider:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.subslider .prev-btn, .subslider .next-btn {
  float: left;
  display: block;
  width: 14px;
  height: 90px;
  line-height: 90px;
  background: #fff;
  color: #666;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.subslider .prev-btn.disabled, .subslider .next-btn.disabled {
  color: #eee;
  cursor: default;
}
.subslider .subslider-pic {
  *zoom: 1;
  float: left;
  width: 1160px;
  height: 90px;
  overflow: hidden;
  margin: 0 1px;
  white-space: nowrap;
}
.subslider .subslider-pic:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.subslider .subslider-pic a {
  float: left;
  width: 145px;
  height: 90px;
  line-height: 88px;
  *line-height: 90px;
  border: 0 none;
  background-color: #FFFFFF;
  overflow: hidden;
  text-align: center;
  *font-size: 81px;
  font-family: Arial;
}
.subslider .subslider-pic a img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.subslider .subslider-pic img {
  width: auto;
  height: auto;
}

.back-to-top {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 99;
  width: 40px;
  height: 40px;
  background: #e6e6e6;
  cursor: pointer;
  text-align: center;
}
.back-to-top i {
  line-height: 40px;
  color: #777;
  font-size: 30px;
}
.back-to-top span {
  display: none;
  line-height: 1.2;
  margin-top: 4px;
  color: #fff;
  font-size: 14px;
}
.back-to-top:hover {
  background: #777;
}
.back-to-top:hover span {
  display: inline-block;
}
.back-to-top:hover i {
  display: none;
}

.module {
  margin-bottom: 30px;
  overflow: hidden;
}
.module .module-hd {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  color: #666;
}
.module .module-hd em {
  font-size: 18px;
  font-weight: bold;
}
.module .module-hd a {
  float: right;
  color: #666;
}
.module .module-bd {
  *zoom: 1;
}
.module .module-bd:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}

/*.module-blue {
    .catagorycover .catagorycover-title{background: #4da0f0;}
    .goods,.articalgoods{border-color:#4da0f0;}
    .articalgoods-title{color:#4da0f0;}
}
.module-green {
    .catagorycover .catagorycover-title{background: #4bc68f;}
    .goods,.articalgoods{border-color:#4bc68f;}
    .articalgoods-title{color:#4bc68f;}
}
.module-purple {
    .catagorycover .catagorycover-title{background: #a05ea8;}
    .goods,.articalgoods{border-color:#a05ea8;}
    .articalgoods-title{color:#a05ea8;}
}
.module-yellow {
    .catagorycover .catagorycover-title{background: #fab81c;}
    .goods,.articalgoods{border-color:#fab81c;}
    .articalgoods-title{color:#fab81c;}
}
.module-fuchsia{
    .catagorycover .catagorycover-title{background:#EC55B7;}
    .goods,.articalgoods{border-color:#EC55B7;}
    .articalgoods-title{color:#EC55B7;}
}
.module-khaki{
    .catagorycover .catagorycover-title{background:#E7CB5C;}
    .goods,.articalgoods{border-color:#E7CB5C;}
    .articalgoods-title{color:#E7CB5C;}
}*/
.catagorycover {
  position: relative;
  background: #fff;
}
.catagorycover .catagorycover-title {
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
  color: #fff;
  font-weight: bold;
}
.catagorycover .catagorycover-pic {
  position: relative;
  z-index: 2;
  width: 100%;
}
.catagorycover .catagorycover-pic .pic {
  position: relative;
}
.catagorycover .catagorycover-pic .icon {
  position: absolute;
  top: 75px;
  z-index: 3;
  font-size: 50px;
  color: #ccc;
  cursor: pointer;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.catagorycover .catagorycover-pic .icon.icon-arrow-left {
  left: 20px;
}
.catagorycover .catagorycover-pic .icon.icon-arrow-right {
  right: 20px;
}
.catagorycover .catagorycover-pic .icon:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.catagorycover .catagorycover-pic .icon:after {
  position: absolute;
  top: -9px;
  left: -6px;
  display: block;
  content: "";
  width: 32px;
  height: 70px;
  background: rgba(228, 228, 228, 0.25);
}
.catagorycover .catagorycover-pic img {
  display: block;
  width: 215px;
  height: 196px;
}
.catagorycover .catagorycover-pic .scroller {
  width: 215px;
  height: 196px;
  overflow: hidden;
  text-align: center;
}
.catagorycover .catagorycover-catagory {
  height: 42px;
  margin: 10px 0;
  overflow: hidden;
}
.catagorycover .catagorycover-catagory a {
  display: inline-block;
  width: 44%;
  margin-left: 5%;
  white-space: nowrap;
  overflow: hidden;
  color: #333;
}

.goods {
  position: relative;
  height: 328px;
  background: #fff;
  border-top: 2px solid #DADADA;
  overflow: hidden;
}
.goods .goods-content {
  width: 290px;
}
.goods .goods-name {
  height: 42px;
  padding: 0 20px;
  font-size: 14px;
  overflow: hidden;
}
.goods .goods-pic {
  width: 290px;
  height: 230px;
  line-height: 228px;
  *line-height: 230px;
  border: 0 none;
  background-color: #FFFFFF;
  overflow: hidden;
  text-align: center;
  *font-size: 207px;
  font-family: Arial;
}
.goods .goods-pic img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.goods .goods-pic img {
  width: auto;
  height: auto;
}
.goods .goods-price {
  padding: 0 20px;
  font-size: 14px;
  color: #dd2434;
}
.goods .goods-switch-wrap {
  text-align: center;
}
.goods .goods-switch {
  *zoom: 1;
  display: inline-block;
}
.goods .goods-switch:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.goods .goods-switch li {
  float: left;
  display: block;
  width: 20px;
  height: 5px;
  margin: 0 5px;
  background: #e5e5e5;
  cursor: pointer;
}
.goods .goods-switch .active {
  width: 25px;
  background: #e52233;
}
.goods .scroller {
  width: 290px;
  height: 305px;
  overflow: hidden;
}
.goods.goods-small {
  position: relative;
  height: 348px;
}
.goods.goods-small .goods-pic {
  width: 215px;
  height: 348px;
  line-height: 346px;
  *line-height: 348px;
  border: 0 none;
  background-color: #FFFFFF;
  overflow: hidden;
  text-align: center;
  *font-size: 313.2px;
  font-family: Arial;
}
.goods.goods-small .goods-pic img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.goods.goods-small .goods-switch {
  position: absolute;
  left: 50%;
  bottom: 10px;
  margin: 0 0 0 -47px;
}

.categorygoods {
  *zoom: 1;
}
.categorygoods:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.categorygoods .categorygoods-item {
  float: left;
  width: 238px;
  /* margin-left: 4px; */
}
.categorygoods .categorygoods-item .categorygoods-title {
  height: 35px;
  line-height: 35px;
  background: #e5e5e5;
  border-top: 2px solid #b70f7c;
  text-align: center;
}
.categorygoods .categorygoods-item img {
  display: block;
  width: 100%;
}
.categorygoods .categorygoods-item:first-child {
  margin-left: 0;
}

.articalgoods {
  position: relative;
  background: #fff;
}
.articalgoods .articalgoods-info {
  position: relative;
  height: 58px;
  padding: 20px 20px;
  background: #e5e5e5;
}
.articalgoods .articalgoods-title {
  height: 27px;
  overflow: hidden;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}
.articalgoods .articalgoods-intro {
  height: 18px;
  overflow: hidden;
}
.articalgoods .articalgoods-pic img {
  display: block;
  width: 100%;
}

.crumbs em {
  margin-right: 10px;
  color: #b70f7c;
  font-size: 18px;
  font-weight: bold;
}
.crumbs em.color1 {
  color: #666;
}
.crumbs a {
  color: #666;
}
.crumbs .crumbs-recommend a {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #666;
}

.recommend {
  *zoom: 1;
}
.recommend:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.recommend img {
  float: left;
  width: 25%;
}

.ad img {
  display: block;
}

.notice {
  padding: 6px 10px;
  background: #fafafa;
}
.notice .notice-hd {
  margin-bottom: 10px;
}
.notice .notice-hd em {
  font-weight: bold;
}
.notice .notice-hd span {
  float: right;
}
.notice .notice-list li {
  margin-bottom: 10px;
}
.notice .notice-list a {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #666;
}
.notice .pager {
  margin: 0;
  line-height: inherit;
}

.rank {
  padding: 0 10px;
  background: #fff;
}
.rank .rank-title {
  height: 30px;
  line-height: 30px;
  font-weight: bold;
}
.rank .rank-item {
  *zoom: 1;
  padding-bottom: 13px;
}
.rank .rank-item:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.rank .rank-item .num {
  float: left;
  line-height: 30px;
}
.rank .rank-item .num.num-1 {
  color: red;
}
.rank .rank-item .pic {
  float: left;
  margin: 0 5px;
  border: 2px solid #ccc;
}
.rank .rank-item .pic img {
  display: block;
}
.rank .rank-item .name {
  float: left;
  width: 68%;
  height: 35px;
  overflow: hidden;
}
.rank .rank-item .name a {
  color: #666;
}

.brand .brand-hd {
  height: 30px;
  padding: 0;
  background: #fafafa;
}
.brand .brand-hd a {
  float: right;
  color: #666;
}
.brand .brand-list {
  background: #fff;
  *zoom: 1;
}
.brand .brand-list:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.brand .brand-list a {
  margin-right: 3.5px;
  width: 140px;
  height: 70px;
  line-height: 68px;
  *line-height: 70px;
  border: 0 none;
  background-color: #FFFFFF;
  overflow: hidden;
  text-align: center;
  *font-size: 63px;
  font-family: Arial;
}
.brand .brand-list a img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.brand .brand-list img {
  width: auto;
  height: auto;
}

.recommend2 {
  background: #fff;
}
.recommend2 .recommend2-hd {
  height: 20px;
  line-height: 20px;
  padding: 5px 10px;
  color: #545454;
}
.recommend2 .recommend2-hd em {
  font-weight: bold;
}
.recommend2 .recommend2-hd span {
  float: right;
}
.recommend2 .pager {
  margin: 0;
  line-height: inherit;
}
.recommend2 .recommend2-pic img {
  display: block;
  width: 100%;
}

.banner img {
  display: block;
  width: 100%;
}

.search-shop {
  *zoom: 1;
  position: relative;
  padding: 10px;
  background: #fff;
}
.search-shop:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.search-shop .search-shop-pic {
  float: left;
  width: 175px;
  height: 55px;
  line-height: 53px;
  *line-height: 55px;
  border: 0 none;
  overflow: hidden;
  margin-right: 10px;
  text-align: center;
  *font-size: 49.5px;
  font-family: Arial;
}
.search-shop .search-shop-pic img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.search-shop .search-shop-pic img {
  width: auto;
  height: auto;
}
.search-shop .search-shop-txt {
  float: left;
}
.search-shop .search-shop-title {
  margin-bottom: 5px;
  font-size: 14px;
}
.search-shop .btn {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -9px;
}
.search-shop i {
  margin-left: 10px;
}

.helpinfo {
  *zoom: 1;
  margin-bottom: 10px;
  padding: 35px 0 50px 50px;
  background: #f0f0f0;
}
.helpinfo:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.helpinfo .helpinfo-item {
  float: left;
  width: 205px;
  margin-right: 20px;
}
.helpinfo .helpinfo-title {
  margin-bottom: 5px;
  color: #737373;
  font-size: 14px;
  font-weight: bold;
}
.helpinfo ul a {
  color: #999;
}
.helpinfo .helpinfo-qrcode {
  width: 100px;
  height: 100px;
}

.footer {
  line-height: 2;
  padding: 35px 0;
  background: #ffffff;
  text-align: center;
  color: #7e7a89;
}

.blackBack {
  width: auto;
  height: 292px;
  background: #333;
  margin-top: -235px;
  margin-bottom: -70px;
}

.shopexSymbol {
  position: relative;
  bottom: -247px;
}

/*shop_home page*/
.shopheader {
  height: 100px;
  border-top: 1px solid #eee;
}
.shopheader .shop-logo img {
  width: 80px;
  height: 50px;
}
.shopheader .shop-slogan {
  font-size: 16px;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 80px;
}
.shopheader .shop-favorite {
  float: right;
  margin: 30px 15px 0 0;
  color: #666;
}
.shopheader .shop-favorite i {
  margin-right: 5px;
  font-size: 16px;
  vertical-align: text-top;
}
.shopheader .shopheader-bg {
  height: 100px;
  background-position: center top;
}
.shopheader .shopheader-content {
  margin-top: -90px;
}

.shopbar {
  *zoom: 1;
  height: 28px;
  line-height: 28px;
}
.shopbar:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.shopbar .left {
  float: left;
}
.shopbar .right {
  float: right;
}
.shopbar a {
  color: #333;
}

.shoptitle {
  height: 32px;
  line-height: 32px;
  /* padding: 0 10px; */
  /* background: #e8e8e8; */
  border-bottom: 2px solid #C7241D;
  font-size: 16px;
  color: #C7241D;
}

.seaview {
  background: #051023;
  /* border-top: 2px solid #a12124; */
  height: 570px;
  /* margin-top: -1px; */
}
.seaview [class|=col-lg] {
  margin-left: 0;
}
.seaview .col-lg-10 {
  width: 760px;
}
.seaview .one-ad {
  background: #37404f;
  overflow: hidden;
  height: 480px;
}
.seaview .one-ad .one-ad-title {
  margin-top: 39px;
  margin-left: 16px;
  margin-right: 16px;
  height: 40px;
  line-height: 40px;
  background: #f8f8f8;
  text-align: center;
  color: #797979;
  font-size: 14px;
}
.seaview .one-ad .one-ad-img {
  margin-top: 39px;
  margin-left: 16px;
  margin-right: 16px;
}








/* 妤煎眰 */
.floor img {
  display: block;
}
.floor .floor-container {
  background: #dadadd;
  padding: 1px;
  margin-left: -1px;
  margin-right: -1px;
}
.floor .floor-left {
  float: left;
  _display: inline;
  width: 214px;
  margin-right: 1px;
}
.floor .floor-center {
  float: left;
  _display: inline;
}
.floor .floor-right {
  float: left;
  _display: inline;
}
.floor .floor-style-01 .floor-center {
  width: 309px;
}
.floor .floor-style-01 .floor-right {
  width: 666px;
}
.floor .floor-style-01 .floor-pro-group li {
  width: 221px;
  float: left;
  _display: inline;
  margin-left: 1px;
}
.floor .floor-style-01 .floor-pro-group.group-b li {
  margin-bottom: 1px;
}
.floor .floor-style-02 .floor-left {
  margin-right: 0;
}
.floor .floor-style-02 .floor-right {
  width: 976px;
}
.floor .floor-style-02 .floor-pro-group li {
  width: 221px;
  float: left;
  _display: inline;
  margin-left: 1px;
}
.floor .floor-style-02 .floor-pro-group li:first-child {
  width: 309px;
}
.floor .floor-style-02 .floor-pro-group.group-b li {
  margin-bottom: 1px;
}
.floor .floor-style-02 .floor-pro-group.group-b li:first-child {
  width: 531px;
}
.floor .floor-num {
  display: inline-block;
  width: 56px;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  margin-right: 10px;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-family: Arial;
}
.floor .floor-category {
  height: 120px;
  margin-bottom: 1px;
}
.floor .floor-category ul {
  margin-left: 5px;
  margin-right: 30px;
  padding-top: 10px;
}
.floor .floor-category li {
  float: left;
  _display: inline;
  margin-bottom: 5px;
  margin-left: 30px;
  width: 56px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.floor .floor-category li a {
  color: #fff;
  font-size: 14px;
}
.floor .floor-brand {
  margin-bottom: 1px;
}

/* 棰戦亾妤煎眰 */
.channel-floor img {
  display: block;
}
.channel-floor .floor-container {
  background: #dadadd;
  margin-left: -1px;
  margin-right: -1px;
  border-top: 2px solid #333;
}
.channel-floor .floor-left {
  float: left;
  _display: inline;
  width: 216px;
}
.channel-floor .floor-center {
  float: left;
  _display: inline;
}
.channel-floor .floor-right {
  float: left;
  _display: inline;
}
.channel-floor .floor-style .floor-center {
  width: 376px;
}
.channel-floor .floor-style .floor-right {
  width: 600px;
}
.channel-floor .floor-style .floor-pro-group {
  float: left;
  _display: inline;
}
.channel-floor .floor-style .floor-pro-group ul li {
  width: 199px;
  margin-right: 1px;
  margin-bottom: 1px;
}
.channel-floor .floor-num {
  display: inline-block;
  width: 56px;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  margin-right: 10px;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-family: Arial;
}
.channel-floor .floor-brand {
  background: #fff;
  padding-left: 11px;
  padding-right: 11px;
}
.channel-floor .floor-brand li {
  background: #fff;
}
.channel-floor .floor-brand li img {
  width: 100%;
}
.channel-floor .module-hd {
  height: 35px;
  line-height: 35px;
  font-size: 16px;
}

/* 鐩稿叧鍝佺墝 */
.relation-brand {
  border: 1px solid #dadadd;
  padding-top: 7px;
  padding-bottom: 7px;
  background: #f7f7f7;
}
.relation-brand li {
  float: left;
  _display: inline;
  width: 117.5px;
  height: 50px;
  border-right: 1px dotted #dadadd;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.relation-brand li:last-child {
  border-right: none;
}

/* article */
.article-widgets .article-widgets-header {
  *zoom: 1;
  height: 34px;
  line-height: 34px;
  background: #f8f8f8;
  border-bottom: 1px solid #dadadc;
}
.article-widgets .article-widgets-header:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.article-widgets .article-widgets-header h3 {
  float: left;
  _display: inline;
  display: block;
  width: 120px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: normal;
  color: #888;
}
.article-widgets .article-widgets-header .get-more {
  display: block;
  float: right;
  _display: inline;
  margin-right: 10px;
  color: #888;
}
.article-widgets .article-widgets-body {
  height: 445px;
  overflow: auto;
  background: rgba(255, 255, 255, 0.9);
}
.article-widgets .article-widgets-body ul {
  padding: 10px;
}
.article-widgets .article-widgets-body li a {
  display: block;
  *zoom: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}
.article-widgets .article-widgets-body li a:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.article-widgets .article-widgets-body li a .article-thumbnail {
  float: left;
  _display: inline;
  width: 42px;
  height: 42px;
  border: 1px solid #dadadc;
  display: table-cell;
  vertical-align: middle;
}
.article-widgets .article-widgets-body li a .article-thumbnail img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.article-widgets .article-widgets-body li a .article-title {
  display: block;
  float: right;
  _display: inline;
  margin-right: 3px;
  width: 135px;
  height: 36px;
  margin-top: 5px;
  overflow: hidden;
  color: #828282;
}
.article-widgets .article-widgets-body li a:hover .article-title {
  text-decoration: underline;
}

.channel_category {
  border-left: 1px solid #dad9de;
  border-right: 1px solid #dad9de;
  border-bottom: 1px solid #dad9de;
  background: #fff;
  height: 479px;
  overflow: hidden;
}
.channel_category .category-big-title {
  text-align: center;
  color: #333;
  padding-top: 10px;
  margin: 0 10px;
  font-size: 14px;
  position: relative;
}
.channel_category .category-big-title span {
  position: relative;
  display: inline-block;
  background: #fff;
  z-index: 10;
  padding-left: 5px;
  padding-right: 5px;
}
.channel_category .category-big-title hr {
  top: 5px;
  left: 0;
  right: 0;
  position: absolute;
  height: 1px;
  z-index: 9;
  border-color: #dad9de;
}
.channel_category:hover {
  overflow: visible;
}
.channel_category .category-primary > li {
  position: relative;
}
.channel_category .category-primary > li .category-relative {
  padding: 10px;
  border-bottom: 1px dashed #dadadc;
}
.channel_category .category-primary > li:hover {
  background: #f8f8f8;
}
.channel_category .category-primary > li:hover .category-sub {
  display: block;
}
.channel_category .category-primary > li:hover a {
  color: #3b3d44;
}
.channel_category .category-primary > li.active .category-primary-item {
  background: #e22335;
}
.channel_category .category-primary .category-title {
  color: #666;
  font-size: 16px;
}
.channel_category .category-primary .category-item {
  *zoom: 1;
}
.channel_category .category-primary .category-item:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.channel_category .category-primary .category-item a {
  padding: 5px 10px 5px 0;
  display: block;
  float: left;
  color: #333;
}
.channel_category .category-primary .category-primary-item {
  position: relative;
  height: 42px;
  line-height: 42px;
  padding: 0 10px;
  font-size: 14px;
}
.channel_category .category-primary .category-primary-item i {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 15px;
  margin-left: 20px;
}
.channel_category .category-primary .category-primary-item i img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.channel_category .category-primary .category-primary-item a {
  display: block;
  margin-right: 15px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
}
.channel_category .category-primary .category-primary-item .active-arrow {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px;
  border-right-width: 0;
  border-color: transparent;
  border-left-color: #dec080;
}
.channel_category .category-primary .category-primary-item.on .active-arrow {
  display: block;
}
.channel_category .category-sub {
  display: none;
  position: absolute;
  top: 0;
  left: 214px;
  z-index: 20;
  width: 760px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
  background: rgba(248, 248, 248, 0.95);
}
.channel_category .category-sub .category-sub-title {
  font-size: 14px;
  margin-bottom: 10px;
}
.channel_category .category-sub .category-sub-item {
  padding: 10px 25px 0 25px;
}
.channel_category .category-sub .category-sub-item:last-child ul {
  border: none;
  padding-bottom: 20px;
}
.channel_category .category-sub .category-sub-item ul {
  *zoom: 1;
  border-bottom: 1px solid #dadadd;
  padding-bottom: 10px;
}
.channel_category .category-sub .category-sub-item ul:after {
  content: "\0020";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  overflow: hidden;
}
.channel_category .category-sub .category-sub-item ul li {
  float: left;
  padding-right: 12px;
}
.channel_category .category-sub a {
  color: #545454;
  font-size: 12px;
}
.channel_category.is-display {
  display: block;
}

.mt20 {
  margin-top: 20px;
}
 
