<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{$shop['shop_name']}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="__VIEW__Public/css/goodslist.css">
	<script src="__VIEW__Public/js/jQuery.v1.8.3.min.js"></script>
	<!-- 
	<script src="__VIEW__Public/js/goodslist.js"></script>
	 -->
	<style type="text/css">
	.pages a.prev{width: 68px;}
	.pages div a{margin-left: 5px;}
	.pages a.next{width:68px;}
	.pages .current{width: 38px;height:38px;display: inline-block;text-align: center;margin-left: 5px;}
	.active{color: red !important;}
	</style>	
</head>
<body style="overflow:scroll;overflow-x:hidden">
	<!-- 顶部导航 -->
	<include file="Public/header"/>	
	<!-- 头部搜索 -->
	<include file="Public/headerFind"/>	
	<!-- 商品细分类 -->
	<input type="hidden" id="shopId" value="{$shopId}">
	<input type="hidden" id="shopCat" value="{$shopCat}"> 
	<input type="hidden" id="shopCatChild" value="{$shopCatChild}"> 
	<input type="hidden" id="curPage" value="1"> 
	<div class="wrap">
		<div class="category">
			<ul>
				<li><a href="javascript:;" >{$shop['shop_name']}</a></li>
				<li><a href="javascript:;" id="crumbs1">全部商品</a></li>
				<li><a href="javascript:;" id="crumbs2" style="display: none;">全部</a></li>
			</ul>
		</div>
	</div>
	<!-- 分类选择 -->
	<div class="wrap" id="keywords">
		<!-- 关键词选择框 -->
		<div class="choose_keywords">
			<!--品牌-->
			<div class="keyword">
				<div class="keyword_left">店铺分类：</div>
				<div class="brandKeyword_right">	
					<ul>
						<li catid="-1"><a href="javascript:;" value="-1">全部商品</a></li>
						<volist name="shopCatArr1" id="cat">
							<li catid="{$cat['cat_id']}"><a href="javascript:;" value="{$cat['cat_id']}">{$cat['cat_name']}</a></li>
						</volist>
					</ul>
					<!-- <div class="more_keyword fold">收起</div> -->
				</div>
			</div>
			<!--相关分类-->
				<div class="keyword" id="catChildBox" style="display: none;">
				<div class="keyword_left">相关分类：</div>
				<div class="keyword_right">
					<volist name="shopCatArr2" id="catList">
					<ul id="catChild{$key}" style="display: none;">
						<li><a href="javascript:;" value="-1">全部</a></li>
						<volist name="catList" id="cat">
							<li><a href="javascript:;" value="{$cat['cat_id']}">{$cat['cat_name']}</a></li>
						</volist>
					</ul>
					</volist>
					<ul id="catChildNone" style="display: none;">
						<li><a href="javascript:;" value="-1">全部</a></li>
					</ul>
					<!-- <div class="more_keyword fold">收起</div> -->
				</div>
				</div>
			<!--
			<!--属性-->
<!-- 			<volist name="propsArr" id="propsVo">
			<div class="keyword">
				<div class="keyword_left">{$propsVo['prop_name']}：</div>
				<div class="keyword_right">	
					<ul>
						<volist name="propsVo['propValue']" id="pvalueVo">
							<li><a href="javascript:;" data="{$propsVo['prop_id']}" value="{$pvalueVo['prop_value_id']}">{$pvalueVo['prop_value']}</a></li>
						</volist>						
					</ul>
					<div class="more_keyword fold">收起</div>
				</div>
			</div>
			</volist> -->

		</div>

		<!-- 排序筛选 -->
<!-- 		<div class="sort">
			<ul>
				<li class=""><a href="javascript:;">综合排序</a></li>
				<li class="sortbysales"><a href="javascript:;">销量</a></li>
				<li class="sortbyprice"><a href="javascript:;">价格</a></li>
				<li class="sortbytime"><a href="javascript:;">上架时间</a></li>
			</ul>
			<div class="pricedomain">
				<input type="text" placeholder="￥">&ndash;<input type="text" placeholder="￥">
				<a href="">确定</a>
			</div>
			<div class="changepage">
				<div><span>1</span>/83</div>
				<div>
					<a href=""></a>
					<a href=""></a>
				</div>
			</div>
			<div class="totalnumber">
				<div>共<span>1668</span>件商品</div>
			</div>
		</div> -->
		
		<div id="itemList">
			<!-- 搜索商品列表 -->
			<ul class="goodslist">
				<volist name="itemList" id='item'>
					<li style="height: 316px;">
						<div class="pics">
							<a href="{:U('Home/Info/index',array('itemId'=>$item['item_id']))}" target="_blank">
								<img src="{$item.image_default_id}_m.{:end(explode('.',$item['image_default_id']))}" >
							</a>
						</div>
						<div class="price">
							<div class="points">
								{$item['price']*100|sprintf="%.0f",###} <span>积分</span>
							</div>
							<div class="cash">
								￥{$item['price']|sprintf="%.2f",###}
							</div>
						</div>
						<div class="name">
							<a href="{:U('Home/Info/index',array('itemId'=>$item['item_id']))}" target="_blank">
								<p>{$item['title']}</p>
							</a>
						</div>
					</li>
				</volist>
			</ul>
			
			<!--分页-->
       		<div class="pages">
				{$pagestr}
			</div>
		
		</div>

		<!-- 店铺推荐 -->
		<notempty name="randCatItemList">
		<div class="recommend">
			<div>
				<ul class="title" id="rec_title">
					<li class="current">店铺推荐</li>
					<!-- <div class="changebtn"><a href="">换一批</a></div> -->
				</ul>
			</div>
			<div id="rec_info">
				<ul class="rec_preview">
					<volist name="randCatItemList" id="randvo">
					<li>
						<a class="rec_pics" href="{:U('Home/Info/index',array('itemId'=>$randvo['item_id']))}"  target="_blank">
							<img src="{$randvo.image_default_id}_m.{:end(explode('.',$randvo['image_default_id']))}" width="113" height="113">
						</a>
						<a class="rec_goods_name" href="{:U('Home/Info/index',array('itemId'=>$randvo['item_id']))}">{$randvo['title']}</a>
						<p class="rec_price">￥{$randvo['price']|sprintf="%.2f",###}</p>
					</li>
					</volist>
				</ul>
			</div>
		</div>
		</notempty>

		<!-- 猜你喜欢 -->
<!-- 		<div class="recommend">
			<div>
				<ul class="title" id="rec_title">
					<li class="current">猜你喜欢</li>
					<div class="changebtn"><a href="">换一批</a></div>
				</ul>
			</div>
			<div id="rec_info">
				<ul class="rec_preview">
					<volist name="randCatItemList" id="randvo">
					<li>
						<a class="rec_pics" href="{:U('Home/Info/index',array('itemId'=>$randvo['item_id']))}" target="_blank"><img src="{$randvo.image_default_id}_m.{:end(explode('.',$randvo['image_default_id']))}" width="113" height="113"></a>
						<a class="rec_goods_name" href="{:U('Home/Info/index',array('itemId'=>$randvo['item_id']))}" target="_blank">{$randvo['title']}</a>
						<p class="rec_price">￥{$randvo['price']|sprintf="%.2f",###}</p>
					</li>
					</volist>
					
				</ul>
			</div>
		</div> -->
	</div>

	<!--底部-->
    <include file="Public/footer"/>
</body>
<script type="text/javascript">
$(function(){
	$("#curPage").val(1);

	//赠送下拉菜单
	$(".send").each(function(){
		$(this).mouseenter(function(){
			$(this).children(".sidebar_hide").fadeIn(100);
			$(this).find(".arrow").addClass("rotate_in");
		});
		$(this).mouseleave(function(){
			$(this).children(".sidebar_hide").stop();
			$(this).children(".sidebar_hide").fadeOut(100);
			$(this).find(".arrow").removeClass("rotate_in");
		})
	});
    
	
    //店铺分类
    $(".brandKeyword_right ul li").click(function(){
    	var shopCat = $(this).find("a:first");
    	var shopCatVal = shopCat.attr('value');
    	var shopCatName = shopCat.text();
    	$("#shopCat").val(shopCatVal);
    	$("#crumbs1").text(shopCatName);
    	$(this).siblings().children("a.active:first").removeClass('active');
    	$(this).find("a:first").addClass("active");
    	shopCatVal = parseInt(shopCatVal);
    	if(shopCatVal == -1){
    		$("#crumbs2").hide();
    		$("#catChildBox").hide();
    		itemFind(-1);
    		return;
    	}
    	$("#crumbs2").show();
    	$("#crumbs2").text('全部');

    	var catChild = $("#catChild"+shopCatVal);
    	if(catChild.length == 0){
    		catChild = $("#catChildNone");
    	}
    	
   		$("#catChildBox").show();
   		catChild.siblings().hide();
   		catChild.show();
   		catChild.find("li a.active").removeClass('active');
       	catChild.find("li:first a:first").addClass('active');
       	$("#curPage").val(1);
       	itemFind(-1);
    });
    
    $(".keyword_right ul li").click(function(){
    	var shopCatChild = $(this).find("a:first");
    	var shopCatChildVal = shopCatChild.attr('value');
    	var shopCatChildName = shopCatChild.text();
    	$("#shopCatChild").val(shopCatChildVal);
    	$("#crumbs2").text(shopCatChildName);
    	$(this).siblings().children("a.active:first").removeClass('active');
    	$(this).find("a:first").addClass("active");
    	
    	$("#curPage").val(1);
    	itemFind(shopCatChildVal)
    });
    
    //默认点击主分类
    var catid = $("#shopCat").val();
	$(".brandKeyword_right ul li[catid='"+catid+"']").click();
});

function itemFind(shopCatChild){
	if(typeof(shopCatChild) == "undefined"){
		shopCatChild = $("#shopCatChild").val();
	}
	var shopId = $("#shopId").val();
    var curPage = $("#curPage").val();
    var shopCat = $("#shopCat").val();
    $.ajax({ 
        type:"get",
        url:"{:U('Shop/itemList')}",
        data: {shopId:shopId,p:curPage,shopCat:shopCat,shopCatChild:shopCatChild},
        success: function(data){
            //$("#itemList ul").remove();
            $("#itemList").html(data);
            $(".pages a").attr('href','javascript:;');
            $("html,body").animate({scrollTop:280}, 500);
        }
    }); 
}
</script>
</html>