<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" href="__VIEW__Public/css/Modifypassword.css">
<script type="text/javascript" src="__VIEW__Public/js/jquery-1.7.js"></script>
<script type="text/javascript" src="__VIEW__Public/js/popuLayer.js"></script>
<title>找回密码-心意商城</title>
</head>

<body>
	<div class="Waddress">
		<span><a href="javascript:" onclick="history.back();"><img src="__VIEW__Public/images/Wmallsretrun.png"></a></span>
		<span>找回密码</span>
	</div>
	<!--tab切换-->
	<div id="outer">    
		<div id="content">
			<div class="WtabListTwo" style="display: block;">
				<input type="hidden" name="paymentid" value="{$paymentid}">
				<input type="hidden" name="refer" value="http://www.lishe.cn/wshop.php/Login/login/index">
				<p>
					<span>注册手机号码：</span>
					<span class="Wtxt"><input name="phoneNum" value="" placeholder="注册手机号" ></span>
				</p>
				<p>
					<span>短信验证码：</span>
					<span class="Wtxt2"><input type="text" name="code"  placeholder="验证码" ></span>
					<span class="Wtxt3"><button type="button" class="Wbtn" name="sendCode">获取验证码</button></span>
				</p>
				<p>
					<span>新密码：</span>
					<span class="Wtxt"><input type="password" name="paypwd" placeholder="长度不能小于6超过18位"></span>
				</p>
				<p style="border-bottom:none;">
					<span>确认密码：</span>
					<span class="Wtxt"><input type="password" name="rpaypwd"  placeholder="长度不能小于6超过18位"></span>
				</p>
				<div class="WOnebtn"><a href="javascript:void(0);" class="validateId" style="margin-top:1.2rem;">确定</a></div>
			</div>
		</div>
	</div>  

	<include file="Public/popuLoading"/>
	<include file="Public/popuLayer"/>   
	<!--END--> 
<script>
	//发送短信验证码
	$("button[name='sendCode']").click(function(){
		$(".topLoading").show();
		var athis = $(this);
		var phoneNum = $.trim($("input[name='phoneNum']").val());
		if (phoneNum.length != 11) {
			$(".topLoading").hide();
			opLayer('open',"手机号码格式不正确！");
            return false;
		};
		if (!phoneNum.match(/^1[3|4|5|8][0-9]\d{4,8}$/)) {
			$(".topLoading").hide();
			opLayer('open',"手机号码格式不正确！");
            return false;
		};
		athis.attr('disabled',true).text('60秒后重发');
		var time = 60;
		var interval = null;
		$.ajax({
			url:"__APP__/Login/sendPhoneCode",
			type:'post',
			data:{phone:phoneNum},
			dataType:'text',
			success:function(date){
				$(".topLoading").hide();
				if (date != 1) {
					$(".topLoading").hide();
					opLayer('open',"验证码发送失败,请重试！");
	                return false;
				};
				
			}
		});
	    interval = setInterval(function(){
			if(time <= 0){
				athis.removeAttr('disabled').text('发送验证码');
				athis.removeAttr('disabled',true);
				clearInterval(interval);
				return false;
			}
			time -- ;
			athis.attr('disabled',true).text(time+'秒后重发');
		},1000);
	});

	//找回密码
	$(".validateId").click(function(){		
		$(".topLoading").show();
		var phoneNum = $("input[name='phoneNum']").val();
		var code = $("input[name='code']").val();		
		var pwd = $("input[name='paypwd']").val();
		var rpwd = $("input[name='rpaypwd']").val();
		var refer = $("input[name='refer']").val();
		if (phoneNum == '') {
			$(".topLoading").hide();
			opLayer('open',"手机号码信息错误！");
	        return;		
		};
		if (code == '') {
			$(".topLoading").hide();
			opLayer('open',"请输入手机验证码！");
	        return;		
		}
		if (pwd == '') {
			$(".topLoading").hide();
			opLayer('open',"请输入密码！");
            return;				
		};
		if (pwd != rpwd) {
			$(".topLoading").hide();
			opLayer('open',"密码和确认密码必须相同！");
            return;
        }
		$.ajax({
	        type:"POST",
	        url:"__APP__/Login/changePwd",
	        data:{phoneNum:phoneNum,code:code,pwd:pwd,rpwd:rpwd},
	        dataType:'text',
	        success:function(data){
	        	var res = eval(data);
            	if (res[0] == 1 ) {
					$(".topLoading").hide();
					opLayer('open',res[1],refer);
            	}else{
					$(".topLoading").hide();
					opLayer('open',"修改失败，请重试！");
            	}
	       	},
	       	error:function(){
				$(".topLoading").hide();
				opLayer('open',"系统繁忙，请重试！");
	            return;
		    }
    	});
	});
</script> 
</body>
</html>
