/* 通用 */
*{padding:0;  margin:0;}
ul, li{list-style:none;}
a{text-decoration:none; color: #666;}
img{border:none;}
body{font-size:12px; font-family:"Microsoft Yahei";}
table, tr, td{margin: 0; padding: 0; border: 0; border-collapse:collapse; border-spacing: 0;}
input{outline: none; font-family: "Microsoft Yahei"; background-color: #FFF;}
html, body{width: 100%; height: 100%;}

/* 正文 */
#event1{height: 168px; background: url("../images/event1.jpg") no-repeat center center;}
#event2{height: 164px; background: url("../images/event2.jpg") no-repeat center center;}
#event3{height: 164px; background: url("../images/event3.jpg") no-repeat center center;}

.banner{background-color: #FCE6D1;}
.banner li{display: none;}
.banner img{width: 100%;}
.banner .current{display: block;}
.rules{height: 422px; background: url("../images/rules.jpg") no-repeat center center;}

.content_wrap{background-color: #FCE6D1; padding-bottom: 200px;}
.content{width: 1200px; margin: 0 auto; height: auto; overflow: hidden;}
.content ul{width: 100%; overflow: hidden; padding: 50px 0;}
.content ul li{width: 230px; height: 338px; border: 1px solid #CECECE; float: left; margin: 0 4px 30px 4px; box-shadow: 0 5px 9.5px 0.5px rgba(0,0,0,.15); -webkit-box-shadow: 0 5px 9.5px 0.5px rgba(0,0,0,.15); -o-box-shadow: 0 5px 9.5px 0.5px rgba(0,0,0,.15); -moz-box-shadow: 0 5px 9.5px 0.5px rgba(0,0,0,.15); -ms-box-shadow: 0 5px 9.5px 0.5px rgba(0,0,0,.15);}
.content ul li img{width: 100%; height: 100%;}
.pics{display: block; width: 230px; height: 228px; border-bottom: 1px solid #CECECE; background-color: #FFF;}
.info{height: 109px; background-color: #F5F5F5; overflow: hidden;}
.info p{width: 210px; font-size: 14px; color: #666; margin: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.price{font-size: 19px; color: #FF2121; text-align: center; font-weight: bold;}
.buybtn{display: block; width: 89px; height: 30px; font-size: 14.76px; line-height: 30px; font-weight: bold; color: #FFF; background-color: #DB1C1C; border-radius: 12px; text-align: center; margin: 5px auto;}
.footer{height: 563px; background: url("../images/footer.jpg") no-repeat center center; position: relative;}
.backtop{display: block; width: 100px; height: 100px; position: absolute; left: 50%; bottom: 50px; margin-left: -50px;}