<style type="text/css">
*{margin:0; padding:0;}
a{text-decoration:none;}
ul li{list-style:none;}
img{border:0;}
body{font-family:"微软雅黑";overflow-x:hidden;background:#f1f5f6;}

#goodcover {position:fixed;top: 0%;left: 0%;width: 100%;height:100%;background-color: rgba(4, 1, 0, 0.3);z-index: 1001; display: none;}

.Wtankdiv{position:fixed;top:5%; width:75%; margin:0 auto;height:18rem;background:#FFF;z-index: 1100; border-radius:5px; left:12.5%;display: none;}
.Tankclose{text-align:right; margin-right:3%; margin-top:3%;}
.Tankclose img{width:7%;}
.Tankpt{text-align:center; margin-top:7%;}
.Tankpt img{width:52%;}
.Tanksentences{font-size:0.9rem; color:#333333; text-align:center; margin-top:1%;padding:0 6%;}
.Tanksurebtn a{display:block; width:10rem; height:3rem; line-height:3rem; margin:0 auto; margin-top:9%; 
color:#FFF; font-size:1.1rem; background:#ff4138; text-align:center; border-radius:5px;}
@media screen and (min-width:410px){
	.Tanksurebtn a{margin-top:10% !important; }
}

</style>
<div id="goodcover"></div>
<div class="Wtankdiv">
   <p class="Tankclose"><img src="__VIEW__Public/images/Tankclose.png"></p>
   <p class="Tankpt"><img src="__VIEW__Public/images/Tankpt.png"></p>
   <p class="Tanksentences">尊敬的礼先生，欢迎您登陆礼舍福利平台。</p>
   <p class="Tanksurebtn"><a class="TankConfirm" href="javascript:void(0);">确定</a></p>
</div>