<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="format-detection" content="telephone=no" />
    <meta content="email=no" name="format-detection" />
    <meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
    <meta name="apple-mobile-web-app-title" content="">
    <meta charset="UTF-8">
    <title>燃情端午惠不可挡</title>
    <link rel="stylesheet" href="/Wshop/Home/View/Activity/duanwuTow/css/duanwuTowscreen.css"/>
</head>
<body>
    <div class="parent">
        <img src="/Wshop/Home/View/Activity/duanwuTow/images/bannerscreen.png" alt=""/>
    </div>
    <ul class="parent-ul">
        <li class="navigation">分秒必争</li>
        <li class="navigation-tow">一起拼货</li>
        <li class="navigation-three">组合礼包</li>
        <li class="navigation-four">大牌驾到</li>
        <li class="navigation-five">更多精彩</li>
    </ul>
    <div class="ancestor">
        <div class="ancestor-one block">
            <div class="parent">
                <img src="/Wshop/Home/View/Activity/duanwuTow/images/logoOne.png" alt=""/>
            </div>
            <div class="date-parent">
                <div class="content-img-date black left-border-radius">
                    <p class="date-one"><span class="kaishiOne" date-hh="{$activityCats[$catetorys[$actiAids['seckill']][0]]['start_time']}">{:date('m月-d日',$activityCats[$catetorys[$actiAids['seckill']][0]]['start_time'])}</span>-<span class="jieshuOne" date-hh="{$activityCats[$catetorys[$actiAids['seckill']][0]]['end_time']}">{:date('m月-d日',$activityCats[$catetorys[$actiAids['seckill']][0]]['end_time'])}</span></p>
                    <p class="date-tow">
		             	<if condition="time() lt $activityCats[$catetorys[$actiAids['seckill']][0]]['start_time']" >
		            		敬请期待
		            	<elseif condition="time() egt $activityCats[$catetorys[$actiAids['seckill']][0]]['start_time'] and time() elt $activityCats[$catetorys[$actiAids['seckill']][0]]['end_time'] "  />	
		            		别错过
		            	<elseif condition="time() gt $activityCats[$catetorys[$actiAids['seckill']][0]]['end_time']"  />	
		            		已结束
		            	</if>                   	
                    </p>
                    <p class="date-three threeONE"><span class="dayTextOne">00</span>天<span class="hourEOne">00</span>小时<span class="minuteOne">00</span>分<span class="secondOne">00</span>秒<span>后结束</span></p>
                </div>
                <div class="content-img-date orange">
                    <p class="date-one color"><span class="kaishiTwo" date-hh="{$activityCats[$catetorys[$actiAids['seckill']][1]]['start_time']}">{:date('m月-d日',$activityCats[$catetorys[$actiAids['seckill']][1]]['start_time'])}</span>-<span class="jieshuTwo" date-hh="{$activityCats[$catetorys[$actiAids['seckill']][1]]['end_time']}">{:date('m月-d日',$activityCats[$catetorys[$actiAids['seckill']][1]]['end_time'])}</span></p>
                    <p class="date-tow color">
		             	<if condition="time() lt $activityCats[$catetorys[$actiAids['seckill']][1]]['start_time']" >
		            		敬请期待
		            	<elseif condition="time() egt $activityCats[$catetorys[$actiAids['seckill']][1]]['start_time'] and time() elt $activityCats[$catetorys[$actiAids['seckill']][1]]['end_time'] "  />	
		            		别错过
		            	<elseif condition="time() gt $activityCats[$catetorys[$actiAids['seckill']][1]]['end_time']"  />	
		            		已结束
		            	</if>                   	
                    </p>
                    <p class="date-three threeTWO"><span class="dayTextTow">00</span>天<span class="hourETow">00</span>小时<span class="minuteTow">00</span>分<span class="secondTow">00</span>秒<span>后结束</span></p>
                </div>
                <div class="content-img-date aterrimus right-border-radius">
                    <p class="date-one"><span class="kaishiThree" date-hh="{$activityCats[$catetorys[$actiAids['seckill']][2]]['start_time']}">{:date('m月-d日',$activityCats[$catetorys[$actiAids['seckill']][2]]['start_time'])}</span>-<span class="jieshuThree" date-hh="{$activityCats[$catetorys[$actiAids['seckill']][2]]['end_time']}">{:date('m月-d日',$activityCats[$catetorys[$actiAids['seckill']][2]]['end_time'])}</span></p>
                    <p class="date-tow">
		            	<if condition="time() lt $activityCats[$catetorys[$actiAids['seckill']][2]]['start_time']" >
		            		敬请期待
		            	<elseif condition="time() egt $activityCats[$catetorys[$actiAids['seckill']][2]]['start_time'] and time() elt $activityCats[$catetorys[$actiAids['seckill']][2]]['end_time'] "  />	
		            		别错过
		            	<elseif condition="time() gt $activityCats[$catetorys[$actiAids['seckill']][2]]['end_time']"  />	
		            		已结束
		            	</if>                    	
                    </p>
                    <p class="date-three threeTHREE"><span class="dayTextThree">00</span>天<span class="hourEThree">00</span>小时<span class="minuteThree">00</span>分<span class="secondThree">00</span>秒<span>后结束</span></p>
                </div>
            </div>
            <div class="date-parent-top-children">
        	<foreach name="catetorys[$actiAids['seckill']]" item="seckill" key='key'>
                <div class="date-parent top-none <eq name='key' value='2'>block</eq>">
                <ul class="date-children">
		        	<volist name="aitemInfos[$seckill]" id="vo">
	                    <li>
	                        <div class="children-img-title">
	                            <img src="{$vo['item_img']}" alt="" title="{$vo['item_name']}"/>
	                            <p class="content-title-p">{$vo['item_name']}</p>
	                        </div>
	                        <div class="children-text">
	                            <p class="children-text-one">原价：<s>￥{$vo['shop_price']}</s></p>
	                            <p class="children-text-tow">秒杀价：<span>￥{$vo['price']}</span></p>
	                            <p class="children-text-Progress"><span class="Progress-bar"style="width:<?php echo (($vo['store']-$store[$vo['sku_id']])/$vo['store'])*100; ?>%;"></span><span class="bar-text">剩余<php>echo ceil(($store[$vo['sku_id']]/$vo['store'])*100); </php>%</span></p>
					            	<if condition="time() egt $activityCats[$seckill]['start_time'] and time() elt $activityCats[$seckill]['end_time'] " >	
										<gt name="store[$vo['sku_id']]" value="0">
											<a href="/wshop.php/Info/index/itemId/{$vo['item_id']}/skuId/{$vo['sku_id']}" >	            	
							            		<p class="children-text-btn">立即抢购</p>
							            	</a>	
										<else/>
						            		<p class="children-text-btn ccc">立即抢购</p>
										</gt>
						            <else/>	
						            	<p class="children-text-btn ccc">立即抢购</p>
									</if>  	                            
	                        </div>
	                    </li>
	        		</volist>
                </ul>
            </div>
	        </foreach>		
            </div>
        </div>
        <div class="ancestor-tow">
            <div class="parent">
                <img data-src="/Wshop/Home/View/Activity/duanwuTow/images/logoTow.png" src="" alt=""/>
            </div>
            <div class="date-parent">
                <ul class="date-children">
		        	<volist name="catetorys[$actiAids['group']]" id="group" >
			        	<volist name="aitemInfos[$group]" id="vo">                	
		                    <li>
		                        <div class="children-img-title">
		                            <img data-src="{$vo['item_img']}" src="" alt="" title="{$vo['item_name']}"/>
		                            <p class="content-title-p">{$vo['item_name']}</p>
		                        </div>
		                        <div class="children-text">
		                            <p class="children-text-one">原价：<s>￥{$vo['shop_price']}</s></p>
		                            <p class="children-text-together-tow"><span class="price">￥{:sprintf("%.2f",$vo['price'])}</span><span class="number">（{$activityCats[$group]['achieve_num']}人团）</span></p>
		                            <div class="children-text-together-btn">
		                                <div class="fl together-btn">
		                                    <p class="together-btn-one">
    			                            	还差
			                            	<?php 
			             						echo $activityCats[$group]['achieve_num'] - (count($groupTrade[$vo['sku_id']])%$activityCats[$group]['achieve_num']);
			                            		?>
			                            	人成团
		                                    </p>
		                                    <p class="together-btn-tow" 
				                            	<if condition="time() lt $activityCats[$group]['end_time']">
				                            		date-hh="{$activityCats[$group]['end_time']}"
				                            	<else/>
				                            		date-hh="0"
				                            	</if>		                                    	
		                                    	>剩余<span class="hour-children">00</span>：<span class="minute-children">00</span>:<span class="second-children">00</span>结束</p>
		                                </div>
										<a href="/wshop.php/Info/index/itemId/{$vo['item_id']}/skuId/{$vo['sku_id']}" >	            	
				                      	  <p class="fl together-btn-three">立即团</p>
				                       </a>		                                
		                            </div>
		
		                        </div>
		                    </li>
		 	        	</volist>
		        	</volist>                   
                </ul>
            </div>
        </div>
        <div class="ancestor-three">
            <div class="parent">
                <img data-src="/Wshop/Home/View/Activity/duanwuTow/images/logoThree.png" src="" alt=""/>
            </div>
            <div class="date-parent">
                <ul class="date-children">
		        	<volist name="catetorys[$actiAids['combinat']]" id="combinat" >
		        		<volist name="aitemInfos[$combinat]" id="vo">        	
				            <li>
				                <div class="children-img-title">
				                    <img data-src="{$vo['item_img']}" src="" alt="" title="{$vo['item_name']}"/>
				                    <p class="content-title-p">{$vo['item_name']}</p>
				                </div>
				                <div class="children-text">
				                    <p class="children-text-one">原价：<s>￥{$vo['shop_price']}</s></p>
				                    <p class="children-text-tow">组合价：<em>￥{$vo['price']}</em></p>
				                    <p class="children-text-btn" onclick="addCart({$vo['aitem_id']})">立即抢购</p>
				                </div>
				            </li>
			        	</volist>
		        	</volist> 
                </ul>
            </div>
        </div>
        <div class="ancestor-four">
            <div class="parent">
                <img data-src="/Wshop/Home/View/Activity/duanwuTow/images/logoFour.png" src="" alt=""/>
            </div>
			<foreach name="catetorys[$actiAids['brand']]" item="brand">
	            <div class="parent margin-img">
	                <img data-src="{$activityCats[$brand]['cat_banner_mobile']}" src="" alt=""/>
	            </div>
	            <div class="date-parent">
	                <ul class="date-children">
						<foreach name="activityCats[$brand]['recommend']" item="vo">
							<a href="/wshop.php/Info/index/itemId/{$vo}">	            	
				                <li>
				                    <div class="children-img-title">
				                        <img  data-src="{$itemInfos[$vo]['image_default_id']}_m.{:end(explode('.', $itemInfos[$vo]['image_default_id']))}" src=""  alt="" title="{$itemInfos[$vo]['title']}"/>
				                        <p class="content-title-p">{$itemInfos[$vo]['title']}</p>
				                    </div>
				                    <div class="children-text">
	                           			<p class="children-text-together-price"><span class="price">￥{:sprintf("%.2f",$itemInfos[$vo]['price'])}</span></p>
	                           			<p class="children-text-btn marginTOP">立即抢购</p>
				                    </div>
				                </li>
							</a>
						</foreach>	
	                </ul>
	            </div>
	   	 </foreach>	
 

        </div>
        <div class="ancestor-five">
            <div class="parent">
                <img data-src="/Wshop/Home/View/Activity/duanwuTow/images/logoFive.png" src="" alt=""/>
            </div>
    	<foreach name="catetorys[$actiAids['more']]" item="more">
            <div class="parent margin-img">
                <img data-src="{$activityCats[$more]['cat_banner_mobile']}" src="" alt=""/>
            </div>
            <div class="date-parent">
                <ul class="date-children">
					<foreach name="activityCats[$more]['recommend']" item="vo">
						<a href="/wshop.php/Info/index/itemId/{$vo}">	            	
			                <li>
			                    <div class="children-img-title">
			                        <img data-src="{$itemInfos[$vo]['image_default_id']}_m.{:end(explode('.', $itemInfos[$vo]['image_default_id']))}" src=""  alt="" title="{$itemInfos[$vo]['title']}"/>
			                        <p class="content-title-p">{$itemInfos[$vo]['title']}</p>
			                    </div>
			                    <div class="children-text">
                           			<p class="children-text-together-price"><span class="price">￥{:sprintf("%.2f",$itemInfos[$vo]['price'])}</span></p>
                           			<p class="children-text-btn marginTOP">立即抢购</p>
			                    </div>
			                </li>
						</a>
					</foreach>                    
                </ul>
            </div>
   	 </foreach>	
 
        </div>
    </div>
    <div class="parent">
        <img src="/Wshop/Home/View/Activity/duanwuTow/images/btn-top_02.png" alt=""/>
        <p class="btn-top"></p>
    </div>
</body>
<script src="/Wshop/Home/View/Activity/duanwuTow/js/jQuery.v1.8.3.min.js"></script>
<script>
    var html = document.documentElement;
    var whtml  =html.getBoundingClientRect().width;
    html.style.fontSize = whtml /7.5 + "px";

    $('.btn-top').click(function(e){
        e.preventDefault();
        $('html,body').animate({
            scrollTop : 0 + 'px'
        });
    })
    $('.parent-ul').on('click','li',function(){
        $('.parent-ul li').removeClass('navigation');
        $(this).addClass('navigation');
        var i=$(this).index();
        $('.ancestor>div').eq(i).addClass('block').siblings().removeClass('block');
    })
    $('.date-parent').on('click','.content-img-date',function(){
        var i=$(this).index();
        $('.date-parent-top-children>div').eq(i).addClass('block').siblings().removeClass('block');
    });

    $('.navigation-tow').on('click',function(e){
        e.preventDefault();
        var imgList=$('.ancestor-tow img');
        for (var i = imgList.length; i--;) {
            var el = imgList[i];
            el.src=el.getAttribute('data-src');
        }

    })
    $('.navigation-three').on('click',function(e){
        e.preventDefault();
        var imgList=$('.ancestor-three img');
        for (var i = imgList.length; i--;) {
            var el = imgList[i];
            el.src=el.getAttribute('data-src');
        }

    })
    $('.navigation-four').on('click',function(e){
        e.preventDefault();
        var imgList=$('.ancestor-four img');
        for (var i = imgList.length; i--;) {
            var el = imgList[i];
            el.src=el.getAttribute('data-src');
        }
    })
    $('.navigation-five').on('click',function(e){
        e.preventDefault();
        var imgList=$('.ancestor-five img');
        for (var i = imgList.length; i--;) {
            var el = imgList[i];
            el.src=el.getAttribute('data-src');
        }
    })

    //头部倒计时
    var groupBuy = {}
    groupBuy.ShowCountDown = function(start,end,parent){
        var now = new Date();
        var kaishi=parseInt($(start).attr('date-hh'))*1000;
        var jieshu=parseInt($(end).attr('date-hh'))*1000;
        var endDate = new Date(kaishi);
        var JIESHU = new Date(jieshu);
        if(endDate.getTime()>now.getTime()){
            var leftTime=endDate.getTime()-now.getTime();
            var leftsecond = parseInt(leftTime/1000);
            //var day1=parseInt(leftsecond/(24*60*60*6));
            var day1=parseInt(Math.floor(leftsecond/(60*60*24)));
            var hour=parseInt(Math.floor((leftsecond-day1*24*60*60)/3600));
            var minute=parseInt(Math.floor((leftsecond-day1*24*60*60-hour*3600)/60));
            var second=parseInt(Math.floor(leftsecond-day1*24*60*60-hour*3600-minute*60));
            $(parent).html(`<span class="dayTextThree">${day1}</span>天<span class="hourEThree">${hour}</span>小时<span class="minuteThree">${minute}</span>分<span class="secondThree">${second}</span>秒后开始`)

        }else if(endDate.getTime()<now.getTime()&&now.getTime()<JIESHU.getTime()){
            var leftTime=JIESHU.getTime()-now.getTime();
            var leftsecond = parseInt(leftTime/1000);
            //var day1=parseInt(leftsecond/(24*60*60*6));
            var day1=parseInt(Math.floor(leftsecond/(60*60*24)));
            var hour=parseInt(Math.floor((leftsecond-day1*24*60*60)/3600));
            var minute=parseInt(Math.floor((leftsecond-day1*24*60*60-hour*3600)/60));
            var second=parseInt(Math.floor(leftsecond-day1*24*60*60-hour*3600-minute*60));
            $(parent).html(`<span class="dayTextThree">${day1}</span>天<span class="hourEThree">${hour}</span>小时<span class="minuteThree">${minute}</span>分<span class="secondThree">${second}</span>秒<span>后结束</span>`)

        }else{
            $(parent).html(`<span class="dayTextThree">00</span>天<span class="hourEThree">00</span>小时<span class="minuteThree">00</span>分<span class="secondThree">00</span>秒后开始`)

        }
    }
    window.setInterval(function(){groupBuy.ShowCountDown(".kaishiOne",".jieshuOne",".threeONE")}, 1000);
    window.setInterval(function(){groupBuy.ShowCountDown(".kaishiTwo",".jieshuTwo",".threeTWO")}, 1000);
    window.setInterval(function(){groupBuy.ShowCountDown(".kaishiThree",".jieshuThree",".threeTHREE")}, 1000);

    //时分秒倒计时
    var hourChildren={};
    var html='';
    hourChildren.ShowCountDown = function(date,dateElement){
        var now = new Date();
        var date=date*1000;
        var endDate = new Date(date);
        var leftTime=endDate.getTime()-now.getTime();
        var leftsecond = parseInt(leftTime/1000);
        //var day1=parseInt(leftsecond/(24*60*60*6));
        var day1=Math.floor(leftsecond/(60*60*24));
        var day=day1*24;
        var hour=Math.floor((leftsecond-day1*24*60*60)/3600);
        var minute=Math.floor((leftsecond-day1*24*60*60-hour*3600)/60);
        var second=Math.floor(leftsecond-day1*24*60*60-hour*3600-minute*60);
        if(hour<10){hour=hour}
        if(minute<10){minute='0'+minute}
        if(second<10){second='0'+second}
        //var cc = document.getElementById(divname);
        //cc.innerHTML = "提示距离"+year+"年"+month+"月"+day+"日还有："+day1+"天"+hour+"小时"+minute+"分"+second+"秒";
        html=`剩<span class="hour-children">${hour+day}</span>:<span class="minute-children">${minute}</span>:<span class="second-children">${second}</span>结束`
        dateElement.html(html)
    }
    $('.together-btn-tow').each(function(){
        var da=$(this);
        var attr= parseInt(($(this).attr('date-hh')));
        window.setInterval(function(){hourChildren.ShowCountDown(attr,da);}, 1000);
    })
    //加入购物车
    function addCart(aitemId){
    	$.get('__APP__/Activity/aitemAddCart',{aitemId:aitemId},function(data){
    		if(data['code'] == 0){
    			alert(data['msg']);
    		}else if(data['code'] == 1){
    			window.location.href = "/wshop.php/Cart/cart";
//  			window.open("{:C('LISHE_URL')}/shop.php/Order/Cart");
    		}else if(data['code'] == 3){
    			alert(data['msg']);
    			window.location.href = '/wshop.php/Login/login/index';
    		}
    	});
    }    
</script>
</html>