<script type="text/javascript">
$('.head').hide();
$('#nav').hide();
</script>
<style type="text/css">
.head-ext { width:100%; background-color: #a12124;}
.head-ext .nav {width: 1190px;height: 100px;margin: 0 auto;}
.head-ext .img {padding-top: 28px;padding-left: 24px; float: left;}
.head-ext .p1 {float: left;font-size: 23px;color: white;margin: 0px 10px 0px 20px;    height: 35px;   padding-top: 16px;line-height: 44px;} 
.head-ext .p1 span {font-size: 13px;  background: white;   color: #A12124;   padding: 0px 5px;   border-radius: 5px;   position: relative;   top: -20px;}  
.head-ext .right {float: right;}
.head-ext .right .p {
color: white;
font-family: 微软雅黑;
font-size: 16px;
text-align: right;
margin: 0px;
padding: 0px;
top: 16px;
position: relative;
line-height: 39px;
  }
  .head-ext .right .img {margin-top: -14px;}
</style>
<div class="head-ext">
  <div class="nav">
      <img class="img" src="images/activation/index_logo.png">
      <p class="p1">企业专属福利专家</br><span >已认证</span></p>
	   
    <div class="right">
        <p class="p">一企一舍咨询热线</p>
        <img class="img" src="images/activation/index_phone.png">
      </div>
    </div>
</div>


<style>
.nav {line-height: normal;}
.content {width:1190px;margin:0 auto; height:680px;}
.content .content-1 {text-align: center;   padding-top: 70px;   width: 1190px;   margin: 0 auto;}
.content .content-2 {width: 1190px;   height: 500px;}
.content .content-2 .nav{    width: 844px;   margin: 0 auto;height: 500px;     line-height: 3;}
.content .content-2 .nav .div1 {height: 54px;   margin-top: 82px;}
.content .content-2 .nav .div1 .p1{float: left;   padding-left: 200px;     font-size: 16px;}
.content .content-2 .nav .div1 .p2{float: left; margin-left: 12px;}
.content .content-2 .nav .div1 .span{color: red;}
.content .content-2 .nav .div1 .input{height: 31px;   width: 332px;   margin-top: 7px;}
.content .content-2 .nav .div2 {height: 54px;   margin-top: 25px;}
.content .content-2 .nav .div2 .p1{    float: left;  padding-left: 200px;   font-size: 16px;}
.content .content-2 .nav .div2 .p2{float: left; margin-left: 12px;}
.content .content-2 .nav .div2 .span{    color: red;}
.content .content-2 .nav .div2 .input{height: 31px;   width: 198px;   margin-top: 7px;}
.content .content-2 .nav .div2 .div{
	width: 260px;
	float: left;
	margin-top: 8px;
	height: 34px;
	margin-left: 13px;
}
.content .content-2 .nav .div2 .p3{
	background: #CC3535;
	width: 29px;
	height: 34px;
	text-align: center;
	margin-left: 88px;
}
.content .content-2 .nav .div2 .img{
	margin: 8px 0px 0px 3px;
	cursor: pointer;
	-webkit-transition: -webkit-transform 0.2s ease-out;
	-moz-transition: -moz-transform 0.2s ease-out;
	-o-transition: -o-transform 0.2s ease-out;
	-ms-transition: -ms-transform 0.2s ease-out;
}
.content .content-2 .nav .div2 .img:hover {
	-webkit-transform: rotateZ(180deg);
	-moz-transform: rotateZ(180deg);
	-o-transform: rotateZ(180deg);
	-ms-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
}
.content .content-2 .nav .div3 {height: 54px;   margin-top: 25px;}
.content .content-2 .nav .div3 .p1{ float: left;  padding-left: 200px;   font-size: 16px;}
.content .content-2 .nav .div3 .p2{    float: left; margin-left: 12px;}
.content .content-2 .nav .div3 .p3{float:left;     margin-left: 14px;   margin-top: 6px;}
.content .content-2 .nav .div3 .span{color: red;}
.content .content-2 .nav .div3 .input{height: 31px;   width: 198px;   margin-top: 7px;}
.content .content-2 .nav .div3 .button{width: 118px;   height: 37px;   background: #CC3535;   color: white;border: none;font-size: 14px;text-align: center;line-height: 37px;float: left; cursor: pointer;}
.content .content-2 .nav .div3 .button span {display: -webkit-inline-box;}
.content .content-2 .nav .div3 .button em.txt{display: none;}
.content .content-2 .nav .div4 {text-align: center;   width: 844px; margin-top: 3px;}
.content .content-2 .nav .div4 .input{}
.content .content-2 .nav .div5 {text-align: center;   width: 844px;}
.content .content-2 .nav .div5 .button{width: 139px;   height: 36px;   font-size: 17px;   color: white;   background: #CC3535;   border: none; margin-top: 30px;}

.content .content-2 .nav .div3 .undisabled {
	background: #ccc;
}
.content .content-2 .nav .div3 .undisabled em.txt {
	display: block;
}
</style>

<div class="content">
	<div class="content-1">
		<img class="" src="images/activation/theme/img1.png" />
	</div>
	
	<div class="content-2">
		<div class="nav">
			<div class="div1">
				<p class="p1"><span class="span">*</span>个人手机号：</p>
				<p class="p2"><input class="input" /></p>
			</div>
			<div class="div2">
				<p class="p1"><span class="span">*</span>图片验证码：</p>
				<p class="p2"><input class="input" /></p>
				<div class="div"><img align="absmiddle" class="auto-change-verify-handle" id="membervocde" src="<{url action=toputil_ctl_vcode@gen_vcode key=activation}>" alt="验证码" width="100" height="30">看不清？<a href="javascript:void(0);" class="auto-change-verify-handle">换一张</a></div>
			</div>
			<div class="div3">
				<p class="p1"><span class="span">*</span>输入验证码：</p>
				<p class="p2"><input class="input" /></p>
				<p class="p3"><input type="button" id="getCode" value="获取验证码" class="button"></p>
			</div>
			<div class="div4">
				<input class="input" type="checkbox" /> <span>我同意并遵守《礼舍网服务协议》</span>
			</div>
			<div class="div5">
				<button class="button">下一步</button>
			</div>			
		</div>
	</div>
	
</div>

<script type="text/javascript" src="http://120.76.102.64/app/topc/statics/js/jquery.url.js"></script>
<script type="text/javascript" src="http://120.76.102.64/app/topc/statics/js/ls.api.web.js"></script>
<script type="text/javascript" src="http://120.76.102.64/app/topc/statics/js/crypto.js"></script>
<script type="text/javascript" src="http://120.76.102.64/app/topc/statics/js/jquery.cookie.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	/*仿刷新：检测是否存在cookie*/
    if($.cookie("captcha")){
        var count=$.cookie("captcha");
        var btn=$('#getting');
        btn.val(count+'秒后重新获取').attr('disabled',true).css('cursor','not-allowed');
        var resend = setInterval(function(){
            count--;
            if (count > 0){
                btn.val(count+'秒后重新获取').attr('disabled',true).css('cursor','not-allowed');
                $.cookie("captcha",count,{path:'/',expires:(1/86400)*count});
            }else{
            	getImgCode();
                clearInterval(resend);
                btn.val("获取验证码").removeClass('disabled').removeAttr('disabled style');
            }
        }, 1000);
    }
    
    init_public_key();	
	$('.content .div5 .button').bind({
		click: function() {			
			var _phone = $('.content .div1 .input').val();			
			if (null == _phone || _phone.trim().length <= 0) {
				alert('请输入手机号');
				return;
			}
			
			var _vcode = $('.content .div3 .input').val();			
			if (null == _vcode || _vcode.trim().length <= 0) {
				alert('请输入验证码');
				return;
			}

			Web.Method.ajax("mall/checkMobCode",{
				safe:true,
				data:{
					mobileCode: _phone + _vcode
				},
				success:function(data){
					console.log(data);
					var _errcode = data['errcode'];
					if (null == _errcode) {
						alert('服务器异常,请联系管理员或稍后再试');
						return;
					}
					
					if(_errcode==0 || _errcode==1){
						location.href = '<{url action=topc_ctl_passport@activationSec}>?phone=' + _phone;
					}else{
						alert(data['msg']);
					}
				},
				fail:function(data){
					alert(data.msg);
				}
			});
		}
	});	

	$('.content .div3 .button').bind({
		click: function() {			
			var _this = $(this);			
			if (_this.hasClass('undisabled')) {
				return;
			}			
			var _phone = $('.content .div1 .input').val();			
			if (null == _phone || _phone.trim().length <= 0) {
				alert('请输入手机号');
				$('.content .div1 .input').focus();
				return;
			}
			
			var _checkCode = $('.content .div2 .input').val();
			
			if (null == _checkCode || _checkCode.trim().length < 4) {
				alert('请输入图片验证码');
				$('.content .div2 .input').focus();
				return;
			}
			$.get("<{url action=toputil_ctl_vcode@check_vcode}>?vcode="+_checkCode+"&key=activation", function(result){
				if(result==0){
					alert('图片验证码不正确');
					$('.content .div2 .input').focus();
	              	return false;
				}else{
					Web.Method.ajax("mall/sendMobCode",{
			            safe:true,
			            data:{
			              regPhoneNum:_phone
			            },
			            success:function(data){							
							var btn=$('#getCode');
				            var count=60;
				            var resend=setInterval(function(){
				                count--;
				                if (count>0){
				                    btn.val(count+"秒后重新获取");
				                    $.cookie("captcha",count,{path:'/',expires:(1/86400)*count});
				                }else{
				                    clearInterval(resend);
				                    btn.val("获取验证码").removeAttr('disabled style');
				                }
				            },1000);
				            btn.attr('disabled',true).css('cursor','not-allowed');
			            },
			            fail:function(data){
			              alert(data.msg);
			            }
			      	});
				}
			});
	      	
			
		}
	});
});

//更换图形验证码
$('.auto-change-verify-handle').on('click',function(){
	getImgCode();
})
function getImgCode(){
	
	var url = $('#membervocde').attr('src');
	 var random = +new Date;
	 var urlrandom = url.match(/\b_=([\d]+)\b/);
	    if(urlrandom) {
	        url = url.replace(urlrandom[1], random);
	    }
	    else {
	        url += (url.indexOf('?') > -1 ? '&' : '?') + '_=' + random;
	    }
	    $('#membervocde').attr('src', url);
	    return false;
}
</script>