<style type="text/css">
.main-top {
	
}
.main-top .main-top-nav {
	position: relative;
	width: 1190px;
	margin: 0 auto;
	background-color: rgb(246, 247, 239);
}
.main-top .main-top-nav .main-top-cover img {
	width: 100%;
}
.main-top .main-top-nav .main-top-btn {
	width: 100%;
	padding: 16px 20px;
}
.main-top .main-top-nav .main-top-btn img {
	position: relative;
	top: 4px;
}
.main-top .main-top-nav .main-top-btn span {
	margin-right: 11px;
}
.main-center{
	width:1190px;	
	position:relative;
	margin:20px auto;
	background-color:rgb(246, 247, 239);
}
.main-center .main-center-p{
	position:relative;
	margin:0 auto;
	background-color: rgb(246, 247, 239);
	padding: 20px 60px;
}
li{
	list-style:none;	
}
.main-content-div {
	position:relative;
	margin:20px auto;
}
.main-content-div .main-content-detail-div {
	position: relative;
	width: 700px;
	margin: 20px auto;
}
.main-content-div .main-content-detail-div .main-content-detail-div-btn {
	height: 103px;
	border-bottom: 1px solid #bcbcbc;
}
.main-content-div .main-content-detail-div .main-content-detail-div-btn div{
	float: left;
	margin: 25px 0px;
}
.main-content-div .main-content-detail-div .main-content-detail-div-btn span {
	float: right;
	font-size: 24px;
	color: #fff;
	line-height: 24px;
	background: #f00;
	padding: 10px 15px;
	border-radius: 5px;
	margin: 30px 0px 0px 0px;
}
.main-content-div .main-content-detail-div p .title-number {
	color: red;
	font-size: 22px;
	margin: 0px 8px 0px 0px;
	padding: 2px 10px;
	border: 2px solid #f00;
	border-radius: 100%;
}

.pendant{
	width: 92px;
	height: 435px;
	float: right;
	position: fixed;
	top: 20%;
	right: 10%;
}
.pendant-inner{
	width: 92px;
	height: 435px;
	position:absolute;
	left:0;;
}
</style>

<div class="main-top">
    <div class="main-top-nav">
        <div class="main-top-cover">
            <img  src="images/ring_content_img.jpg"/>
        </div>
        <div class="main-top-btn">
            <img src="images/index_collect_icon.png" />
            <span>88</span>
            <img src="images/index_comment_icon.png"/>
            <span >88</span>
            <img src="images/index_share_icon.png"/>
            <span>888</span>
        </div>
    </div>
</div>

<div class="main-center">
	<p class="main-center-p">测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
</div>

<div class="main-content-div">
	<ul>
    	<li>
        	<div class="main-content-detail-div">
            	<p><strong><span class="title-number">1</span><span style="font-size: 20px;">测试测试测试测试测试测试测试测试测试</span></strong></p>
                <p>测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                <img style="width:100%; " src="./images/img.jpg" />
                <div class="main-content-detail-div-btn">
                    <div>
                        <strong><font style="font-size: 18px; color:red;">￥</font><font style="color:red; font-size: 30px;">10,000</font></strong><font style="font-size: 13px; color:red;">积分</font><br />
                        <font style="text-decoration: line-through;">￥20000</font><font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销量（15）</font>
                    </div>
                    <a href="/item.html?item_id=5"><span>查看详情</span></a>
                </div>
            </div>
        </li>
    	<li>
        	<div class="main-content-detail-div">
            	<p><strong><span class="title-number">2</span><span style="font-size: 20px;">测试测试测试测试测试测试测试测试测试</span></strong></p>
                <p>测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                <img style="width:100%; " src="./images/img.jpg" />
                <div class="main-content-detail-div-btn">
                    <div>
                        <strong><font style="font-size: 18px; color:red;">￥</font><font style="color:red; font-size: 30px;">10,000</font></strong><font style="font-size: 13px; color:red;">积分</font><br />
                        <font style="text-decoration: line-through;">￥20000</font><font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销量（15）</font>
                    </div>
                    <a href="/item.html?item_id=5"><span>查看详情</span></a>
                </div>
            </div>
        </li>
    	<li>
        	<div class="main-content-detail-div">
            	<p><strong><span class="title-number">3</span><span style="font-size: 20px;">测试测试测试测试测试测试测试测试测试</span></strong></p>
                <p>测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试</p>
                <img style="width:100%; " src="./images/img.jpg" />
                <div class="main-content-detail-div-btn">
                    <div>
                        <strong><font style="font-size: 18px; color:red;">￥</font><font style="color:red; font-size: 30px;">10,000</font></strong><font style="font-size: 13px; color:red;">积分</font><br />
                        <font style="text-decoration: line-through;">￥20000</font><font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销量（15）</font>
                    </div>
                    <a href="/item.html?item_id=5"><span>查看详情</span></a>
                </div>
            </div>
        </li>
    </ul>
</div>