RewriteEngine On  

RewriteCond %{REQUEST_FILENAME} -s [OR]  
RewriteCond %{REQUEST_FILENAME} -l  
RewriteRule ^data/(.*)$ - [NC,L]  
RewriteRule ^data/upload/avatar/(.*)$ addons/theme/stv1/_static/image/noavatar/big.jpg [NC,L]
RewriteRule ^data/upload/(.*)$ addons/theme/stv1/_static/image/noavatar/big.jpg [NC,L]
RewriteRule ^data/video/(.*)$ addons/theme/stv1/_static/image/noavatar/big.jpg [NC,L]
RewriteRule ^pyq$ index.php?app=public&mod=Index&act=index 
RewriteRule ^pyq_(.*)$ index.php?app=public&mod=Index&act=index&category=$1 
RewriteRule ^hd$ index.php?app=public&mod=Index&act=event_list 
RewriteRule ^hd/read_(.*)$ index.php?app=public&mod=Index&act=event_info&eid=$1
RewriteRule ^wz$ index.php?app=public&mod=Index&act=information_list 
RewriteRule ^wz_(.*)$ index.php?app=public&mod=Index&act=information_list&cate=$1 
RewriteRule ^wz/read_(.*)$ index.php?app=public&mod=Index&act=information_info&id=$1 
