.bdshare-button-style1-24 .bds_qzone{background-position:0 -52px}
.bdshare-button-style1-24 .bds_tsina{background-position:0 -78pt}
.bdshare-button-style1-24 .bds_renren{background-position:0 -13pc}
.bdshare-button-style1-24 .bds_tqq{background-position:0 -260px}
.bdshare-button-style1-24 .bds_kaixin001{background-position:0 -312px}
.bdshare-button-style1-24 .bds_tqf{background-position:0 -364px}
.bdshare-button-style1-24 .bds_hi{background-position:0 -26pc}
.bdshare-button-style1-24 .bds_douban{background-position:0 -468px}
.bdshare-button-style1-24 .bds_tieba{background-position:0 -728px}
.bdshare-button-style1-24 .bds_hx{background-position:0 -988px}
.bdshare-button-style1-24 .bds_fx{background-position:0 -65pc}
.bdshare-button-style1-24 .bds_ty{background-position:0 -897pt}
.bdshare-button-style1-24 .bds_fbook{background-position:0 -1352px}
.bdshare-button-style1-24 .bds_twi{background-position:0 -1404px}
.bdshare-button-style1-24 .bds_linkedin{background-position:0 -104pc}
.bdshare-button-style1-24 .bds_meilishuo{background-position:0 -1716px}
.bdshare-button-style1-24 .bds_mogujie{background-position:0 -1768px}
.bdshare-button-style1-24 .bds_diandian{background-position:0 -1820px}
.bdshare-button-style1-24 .bds_huaban{background-position:0 -117pc}
.bdshare-button-style1-24 .bds_duitang{background-position:0 -2028px}
.bdshare-button-style1-24 .bds_youdao{background-position:0 -130pc}
.bdshare-button-style1-24 .bds_wealink{background-position:0 -2184px}
.bdshare-button-style1-24 .bds_copy{background-position:0 -143pc}
.bdshare-button-style1-24 .bds_mail{background-position:0 -2340px}
.bdshare-button-style1-24 .bds_print{background-position:0 -2392px}
.bdshare-button-style1-24 .bds_mshare{background-position:0 -2444px}
.bdshare-button-style1-24 .bds_sqq{background-position:0 -2652px}
.bdshare-button-style1-24 .bds_sdo{background-position:0 -169pc}
.bdshare-button-style1-24 .bds_qingbiji{background-position:0 -2756px}
.bdshare-button-style1-24 .bds_people{background-position:0 -2808px}
.bdshare-button-style1-24 .bds_xinhua{background-position:0 -182pc}
.bdshare-button-style1-24 .bds_yaolan{background-position:0 -2964px}
.bdshare-button-style1-24 .bds_thx{background-position:0 -26in}
.bdshare-button-style1-24 .bds_bdhome{background-position:0 -156px}
.bdshare-button-style1-24 .bds_bdxc{background-position:0 -2548px}
.bdshare-button-style1-24 .bds_bdysc{background-position:0 -3068px}
.bdshare-button-style1-24 .bds_isohu{background-position:0 -3016px}
.bdshare-button-style1-24 .bds_more{background-position:0 0}
.bdshare-button-style1-24 .bds_ibaidu{background-position:0 -195pc}
.bdshare-button-style1-24 .bds_weixin{background-position:0 -1612px}
.bdshare-button-style1-24 .bds_iguba{background-position:0 -975pt}
.bdshare-button-style1-24 .bds_h163{background-position:0 -33in}
.bdshare-button-style1-24 .bds_evernotecn{background-position:0 -3211px}
.bdshare-button-style1-24{zoom:1}
.bdshare-button-style1-24:after{clear:both;display:block;visibility:hidden;height:0;content:"."}
.bdshare-button-style1-24 .bds_more,.bdshare-button-style1-24 a{float:left;margin:6px 6px 6px 0;padding-left:25px;height:24px;background-image:url(../img/share/icons_1_24.png?v=37be22f4.png);background-repeat:no-repeat;font-size:18px;line-height:24px;cursor:pointer}
.bdshare-button-style1-24 a:hover{color:#333;opacity:.8;filter:alpha(opacity=80)}
.bdshare-button-style1-24 .bds_more{float:left;color:#333}
.bdshare-button-style1-24 .bds_count{margin:6px 0 0;padding:0;width:45px;height:24px;background:url(../img/share/sc.png?v=a970ff04.png) no-repeat 0 0;color:#333;text-align:center}
.bdshare-button-style1-24 .bds_count:hover{background-position:-44px 0}
.bdshare-button-style1-24 .bds_button_image{float:left;margin:6px 6px 0 0;padding:0;height:auto;cursor:pointer}
.bdshare-button-style1-24 .bdshare_button_count{width:44px;height:24px;background:url(../img/share/sc.png?v=a970ff04.png) no-repeat 0 0;line-height:24px}
.bdshare-button-style1-24 .bdshare_button_count:hover{background-position:-44px 0}
.bds_baidu,.bds_deli,.bds_ff,.bds_ifeng,.bds_leho,.bds_ms,.bds_msn,.bds_qq,.bds_qy,.bds_s139,.bds_s51,.bds_share189,.bds_sohu,.bds_t163,.bds_tfh,.bds_tsohu,.bds_tuita,.bds_xg{display:none}

/*!* ui-sharing *!  16个*/
.ui-sharing h3{display:block;height:40px;line-height:40px;text-align:center;font-size:18px;font-weight:normal;background-color:#efefef;}
.ui-sharing ul{padding:20px 10px;}
.ui-sharing li{float:left;}
.ui-sharing a.weixin,
.ui-sharing a.friend,
.ui-sharing a.sina,
.ui-sharing a.qq{display:block;position:relative;float:none;height:auto;overflow:hidden;font-size:16px;text-decoration:none;text-align:center;padding-left:0;padding-top:47px;margin:0;background:none;}
.ui-sharing a:after{content:"";display:block;position:absolute;left:50%;top:0;width:45px;height:45px;margin-left:-22px;background:url(../img/share-icon.png) no-repeat;background-size:45px auto;overflow:hidden;}
.ui-sharing a.weixin:after{background-position:0 0;}
.ui-sharing a.friend:after{background-position:0 -45px;}
.ui-sharing a.sina:after{background-position:0 -90px;}
.ui-sharing a.qq:after{background-position:0 -135px;}
.ui-sharing ul.share-w2 li{width:50%;}
.ui-sharing ul.share-w3 li{width:33.33%;}
.ui-sharing ul.share-w4 li{width:25%;}

/*!* share-w4 *!  1个 */
.ui-sharing ul.share-w4 li{width:25%;}

/*!* clearfix *!  2个 */
.clearfix:after{clear:both;content:'\0020';display:block;visibility:hidden;height:0;}
.clearfix{zoom:1;}

/*!* initShare *!  0个 */

/*!* weixin *!  2个 */
.ui-sharing a.weixin:after{background-position:0 0;}
.ui-sharing a.weixin,
.ui-sharing a.friend,
.ui-sharing a.sina,
.ui-sharing a.qq{display:block;position:relative;float:none;height:auto;overflow:hidden;font-size:16px;text-decoration:none;text-align:center;padding-left:0;padding-top:47px;margin:0;background:none;}

/*!* friend *!  2个 */
.ui-sharing a.friend:after{background-position:0 -45px;}
.ui-sharing a.weixin,
.ui-sharing a.friend,
.ui-sharing a.sina,
.ui-sharing a.qq{display:block;position:relative;float:none;height:auto;overflow:hidden;font-size:16px;text-decoration:none;text-align:center;padding-left:0;padding-top:47px;margin:0;background:none;}

/*!* sina *!  2个 */
.ui-sharing a.sina:after{background-position:0 -90px;}
.ui-sharing a.weixin,
.ui-sharing a.friend,
.ui-sharing a.sina,
.ui-sharing a.qq{display:block;position:relative;float:none;height:auto;overflow:hidden;font-size:16px;text-decoration:none;text-align:center;padding-left:0;padding-top:47px;margin:0;background:none;}

/*!*!*!* qq *!  2个 *!*/
.ui-sharing a.qq:after{background-position:0 -135px;}
.ui-sharing a.weixin,
.ui-sharing a.friend,
.ui-sharing a.sina,
.ui-sharing a.qq{display:block;position:relative;float:none;height:auto;overflow:hidden;font-size:16px;text-decoration:none;text-align:center;padding-left:0;padding-top:47px;margin:0;background:none;}

/*!* bdsharebuttonbox *!  0个 */


/*!* ui-sharing *!  个 */

/*!* share-w2 *!  1个 */
.ui-sharing ul.share-w2 li{width:50%;}

/*!* clearfix *!  2个 */
.clearfix:after{clear:both;content:'\0020';display:block;visibility:hidden;height:0;}
.clearfix{zoom:1;}

/*!* initShare *!  0个 */

/*!* share-w3 *!  1个 */
.ui-sharing ul.share-w3 li{width:33.33%;}


/*!* bds_tsina *!  1个 */
/*在微信里面*/

/*!* bds_weixin *!  1个 */
/*在微信里面*/

/*!* bds_qq *!  1个 */
/*在微信里面*/

/*!* ui-weixin-guide *!  1个 */
.ui-weixin-guide{display:none;position:fixed;top:2px;right:10px;width:260px;z-index:102;}
.ui-weixin-guide .guide-bg{width:260px;height:165px;overflow:hidden;background:url(../img/weixin-guide.png) no-repeat;background-size:260px 165px;}
.ui-weixin-guide .close-mask{display:block;width:100%;margin-top:25px;background-color:#eee;border-radius:8px;color:#9a9a9a;font-size:16px;line-height:20px;padding:10px 0;text-align:center;}

/*!* guide-bg *!  1个 */
.ui-weixin-guide .guide-bg{width:260px;height:165px;overflow:hidden;background:url(../img/weixin-guide.png) no-repeat;background-size:260px 165px;}

/*!* close-mask *!  1个 */
.ui-weixin-guide .close-mask{display:block;width:100%;margin-top:25px;background-color:#eee;border-radius:8px;color:#9a9a9a;font-size:16px;line-height:20px;padding:10px 0;text-align:center;}

/*!* ui-weixin-mask *!  1个 */
.ui-weixin-mask{display:none;position:fixed;width:100%;height:100%;top:0;left:0;z-index:101;background-color:#333;opacity:.8;}
