 <!--底部-->
    <div id="footer">
	<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?652b6deeab07c587b05b7530d41f710b";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
       <div class="footerdimension">
           <div class="footertop">
               <div class="footertopLeft">
                   <ul>
                      <li class="footerUser">导航</li>
                      <li class="footerMenu"><a href="__LISHE_URL__/site/help.html#2" target="_bank">礼舍简介</a></li>
                      <li class="footerMenu"><a href="__LISHE_URL__/site/companysingle.html#companys0" target="_bank">礼舍做什么</a></li>
                      <li class="footerMenu"><a href="__LISHE_URL__/theme/evaluate/index.html" target="_bank">伙伴说什么</a></li>
                      <li class="footerMenu"><a href="__LISHE_URL__/shop.php" target="_bank">心意商城</a></li>
                   </ul>
                   <ul>
                      <li class="footerUser">咨询</li>
                      <li class="footerMenu"><a href="__LISHE_URL__/site/help.html#0" target="_bank">服务条款</a></li>
                      <li class="footerMenu"><a href="http://vip.lishe.cn">礼舍动态</a></li>
                      <li class="footerMenu"><a href="__LISHE_URL__/site/help.html#4" target="_bank">人员招聘</a></li>
                   </ul>
                   <ul>
                      <li class="footerUser">礼舍帮帮</li>
                      <li class="footerMenu"><a href="__LISHE_URL__/site/help.html#1" target="_bank">礼舍教学操作指南</a></li>
                      <li class="footerMenu"><a href="__LISHE_URL__/site/help.html" target="_bank">礼舍使用全攻略</a></li>
                      <li class="footerMenu"><a href="__LISHE_URL__/site/help.html#3" target="_bank">常见问题</a></li>
                      <li class="footerMenu"><a href="__LISHE_URL__/site/help.html#6" target="_bank">联系我们</a></li>
                   </ul>
                   <ul>
                      <li class="footerUser">加入我们</li>
                      <li class="footerMenu"><a href="__LISHE_URL__/shop/" target="_bank">供应商入驻</a></li>
                      <li class="footerMenu"><a href="http://v.lishe.cn/company/login.html" target="_bank">企业入驻</a></li>
                      <li class="footerMenu"><a href="__LISHE_URL__/site/help.html#5" target="_bank">合作伙伴</a></li>
                   </ul>
               </div>
               <div class="footertopRight">
                   <ul>
                     <li class="footerPhone"><img src="__VIEW__Public/images/indexPhone.png">400-1188-234 </li>
                     <li class="footerConnection">联系我们</li>
                   </ul>
                   <ul>
                     <li><img src="__VIEW__Public/images/IndexWx.png"></li>
                   </ul> 
               </div>   
           </div>
           <div style="clear:both;"></div>
           <div class="footerbottom">
              <ul class="footerbottomLeft">
                <li>© 2005-2016 礼舍网 版权所有，并保留所有权利。 ICP备案证书号:粤ICP备15033641号-1</li>
                <li>All rights Reserved.</li>
              </ul>
              <ul class="footerbottomRight">
                <li class="footerbottomRightPhone">全国客服热线：400-1188-234 </li>
                <li class="footerbottomRightTime">周一至周五 9:00-18:00</li>
              </ul>
           </div>
           <div style="clear:both;"></div>
       </div>    
    </div>