<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__ADMIN__lib/html5.js"></script>
<script type="text/javascript" src="__ADMIN__lib/respond.min.js"></script>
<script type="text/javascript" src="__ADMIN__lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__ADMIN__css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--时间轴-->
<link rel="stylesheet" type="text/css" href="__ADMIN__css/default.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN__css/component.css" />
<script src="__ADMIN__js/modernizr.custom.js"></script>
<!--时间轴-->

<!--[if IE 6]>
<script type="text/javascript" src="__ADMIN__lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>基本设置</title>
</head>
<body>
<style>
	.tabBar span.current{
		background-color: #5EB95E;	
	}
	.tabBar {
    	border-bottom: 2px solid #5EB95E;
	}
	.table-bg thead th {
		background-color: #5EB95E;	
		color: white;
	}
</style>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 订单管理 <span class="c-gray en">&gt;</span> 订单详情  <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
	<form action="" method="post" class="form form-horizontal" id="form-article-add">
		<div id="tab-system" class="HuiTab">
			<div class="tabBar cl"><span>基本信息</span><span>套餐信息</span><span>会员信息</span><span>处理进度</span></div>
			<div class="tabCon">
			 <table class="table table-border table-bordered table-bg mt-20">
			    <thead>
			      <tr>
			        <th colspan="2" scope="col">订单基本信息</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td width="200">订单号</td>
			        <td><span class="label label-success radius">{$info.atid}</span></td>
			      </tr>
			      <tr>
			        <td>订单总额</td>
			        <td>￥{$info.payment}</td>
			      </tr>
			      <tr>
			        <td>配送费用</td>
			        <td>￥{$info.post_fee}</td>
			      </tr>			     
			      <tr>
			        <td>实付金额</td>
			        <td>￥{$info.payed_fee}</td>
			      </tr>			     
			      <tr>
			        <td>订单状态</td>
			        <td>{$info.status}</td>
			      </tr>		
			      <notempty name="info.cancel_reason">
				      <tr>
				        <td>取消订单原因</td>
				        <td>{$info.cancel_reason}</td>
				      </tr>				      
			      </notempty>
			      <tr>
			        <td>订单备注</td>
			        <td>{$info.buyer_message}</td>
			      </tr>			      
			      <tr>
			        <td>下单时间</td>
			        <td>{$info.creat_time}</td>
			      </tr>			
			    </tbody>
		      </table>
		      
		      
			 <table class="table table-border table-bordered table-bg mt-20">
			    <thead>
			      <tr>
			        <th colspan="2" scope="col">订单支付信息</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td width="200">应支付金额</td>
			        <td><span>￥{$info.payment}</span></td>
			      </tr>
			      <tr>
			        <td>支付方式</td>
			        <td>{$info.pay_type}</td>
			      </tr>
			      <tr>
			        <td>付款交易流水</td>
			        <td>{$info.transno}</td>
			      </tr>			      
			      <tr>
			        <td>已支付金额</td>
			        <td>￥{$info.payed_fee}</td>
			      </tr>	
			      <tr>
			        <td>付款时间</td>
			        <td>{$info.pay_time}</td>
			      </tr>			     		
			    </tbody>
		    </table>
		    

			 <table class="table table-border table-bordered table-bg mt-20">
			    <thead>
			      <tr>
			        <th colspan="2" scope="col">收货人信息</th>
			      </tr>
			    </thead>			    
			    <tbody>
			      <tr>
			        <td width="200">收货人</td>
			        <td><span>{$info.receiver_name}</span></td>
			      </tr>
			      <tr>
			        <td>收货人手机号</td>
			        <td><span>{$info.receiver_mobile}</span></td>
			      </tr>			      
			      <tr>
			        <td>收货地区</td>
			        <td><span>{$info.receiver_state}{$info.receiver_city}{$info.receiver_district}</span></td>
			      </tr>				      
			      <tr>
			        <td>收货地址</td>
			        <td><span>{$info.receiver_address}</span></td>
			      </tr>		
			    </tbody>				    
			  </table>
			  
			 <table class="table table-border table-bordered table-bg mt-20">
			    <thead>
			      <tr>
			        <th colspan="5" scope="col">物流</th>
			      </tr>
			    </thead>			    
			    <tbody>
			      <tr>
			        <th>发货单号</th>
			        <th align="center">物流单号</th>
			        <th>配送方式</th>
			        <th>建立日期</th>
			      </tr>
			      <notempty name="info.express">
				      <volist name="info.express" id="express">
					      <tr>
					        <td>{$express.delivery_id}</td>
					        <td>
					        	<notempty name="express.logi_no">
					        		<?php 
					        			$logNOs=explode(',',$express['logi_no']);
					        			 ?>
						        	<volist name="logNOs" id="no">
						        		<a href="javascript:void(0)" onclick="member_edit('物流进度信息','{:U('Home/Order/expressProgress',array('logiNo'=>$no,'shop_id'=>$info['shop_id']))}','4','500','400')">
											<span class="label label-success radius" style="margin-top: 10px;">{$no}</span>
										</a>
										<br />
						        	</volist>
					        	</notempty>
					        </td>
					        <td>{$express.logi_name}</td>
					        <td>
					        	<notempty name="express.t_begin">
					        		{$express['t_begin']|date="Y-m-d H:i:s",###}
					        	</notempty>
					        </td>
					      </tr>			      
				      </volist>
			      	<else/>
			      	<tr>
			      		<td colspan="5">暂无</td>
			      	</tr>
			      </notempty>
			    </tbody>
			  </table>  			  
			   			  
			  
			</div>
			
			<div class="tabCon">
			 <table class="table table-border table-bordered table-bg mt-20">
			    <thead>
			      <tr>
			        <th colspan="7" scope="col">活动套餐信息</th>
			      </tr>
			    </thead>
			    <tbody>
			        <td width="200">活动标题</td>
			        <td><span>{$info.moreInfo.activity_name}</span></td>
			      </tr>
			      <tr>
			        <td>套餐名称</td>
			        <td>{$info.moreInfo.item_name}</td>
			      </tr>
			      <tr>
			        <td>套餐ID</td>
			        <td>{$info.aitem_id}</td>
			      </tr>			      
			      <tr>
			        <td>com_id</td>
			        <td>{$info.moreInfo.com_id}</td>
			      </tr>			      
			      <tr>
			        <td>商品价格</td>
			        <td>￥{$info.moreInfo.price}</td>
			      </tr>	
			      <tr>
			        <td>商品商城价格</td>
			        <td>￥{$info.moreInfo.market_price}</td>
			      </tr>			      
			    </tbody>
			  </table>				
			</div>				
			
			
			<div class="tabCon">
			 <table class="table table-border table-bordered table-bg mt-20">
			    <thead>
			      <tr>
			        <th colspan="2" scope="col">会员信息</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>用户姓名</td>
			        <td>{$info.userInfo.name}</td>
			      </tr>
			      <tr>
			        <td>企业名称/ID</td>
			        <td>{$info.companyName}/{$info.com_id}</td>
			      </tr>			     
			      <tr>
			        <td>出生日期</td>
			        <td>{$info.userInfo.birthday}</td>
			      </tr>			     
			      <tr>
			        <td>手机</td>
			        <td>{$info.userInfo.mobile}</td>
			      </tr>			     
			      <tr>
			        <td>性别</td>
			        <td>{$info.userInfo.sex}</td>
			      </tr>		
			      <tr>
			        <td>注册日期</td>
			        <td>{$info.userInfo.regtime}</td>
			      </tr>	
			      <tr>
			        <td>注册IP</td>
			        <td>{$info.userInfo.reg_ip}</td>
			      </tr>				      
			    </tbody>
		      </table>
			</div>
			<!--进度-->
			<div class="tabCon">
				<div style="background-color: #5EB95E;color: white;margin-top: 20px;padding: 8px;margin-bottom: 30px;">
					订单处理详情
				</div>	
				<div class="container">
					<div class="main">
						<ul class="cbp_tmtimeline">
							<li>
								<time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>
								{$info['creat_time']|date="Y-m-d",###}</span> <span>{$info['creat_time']|date="H:i:s",###}</span></time>
								<div class="cbp_tmicon cbp_tmicon-screen"></div>
								<div class="cbp_tmlabel">
									<h2>订单号：{$info.atid}</h2>
									<p>订单状态：{$info.status}</p>
								</div>
							</li>
							<volist name="orderDealProcess" id="process">
								<li>
									<time class="cbp_tmtime" ><span style="color: #3594CB;">
									{$process['created_time']|date='Y-m-d',###}</span> <span>{$process['created_time']|date='H:i:s',###}</span></time>
									<div class="cbp_tmicon cbp_tmicon-screen"></div>
									<div class="cbp_tmlabel">
										<h4>{$process.deal_type}</h4>
										<p style="font-size: 14px;">
											{$process.memo}<br />
											操作商品名称范围：
											<empty name="process.oids">
												整单(全部商品)
											<else/>
											<?php 
												$process['Oids']=explode(',',$process['oids']);
												foreach($process['Oids'] as $key => $value){
													foreach($info['more'] as $keys=>$values){
														if($value==$values['order_id']){
															$process['title'][]=$values['item_name'];
														}
													}
												}
												?>
												<br />
												<volist name="process.title" id="orderTitle">
													{$orderTitle}<br />
												</volist>
											</empty>
										</p>
										<p style="float: right;font-size: 14px;">---{$process.admin_username}</p>
									</div>
								</li>
							</volist>
		
						</ul>
					</div>
				</div>				    
				    
			</div>							
		</div>
		<!--<div class="row cl">
			<div class="col-10 col-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>-->
	</form>
</div>
<script type="text/javascript" src="__ADMIN__lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__ADMIN__lib/Validform/5.3.2/Validform.min.js"></script> 
<script type="text/javascript" src="__ADMIN__lib/layer/1.9.3/layer.js"></script> 
<script type="text/javascript" src="__ADMIN__lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__ADMIN__js/H-ui.js"></script> 
<script type="text/javascript" src="__ADMIN__js/H-ui.admin.js"></script> 
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	$.Huitab("#tab-system .tabBar span","#tab-system .tabCon","current","click","0");
});
</script>
</body>
</html>