<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__ADMIN__lib/html5.js"></script>
<script type="text/javascript" src="__ADMIN__lib/respond.min.js"></script>
<script type="text/javascript" src="__ADMIN__lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__ADMIN__css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
</head>
<body>
<nav class="breadcrumb"><a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20 form form-horizontal">
    <div class="row cl">
        <input type="hidden" class="input-text" value="{$info.tid}"  name="tid" id="tid">
      <label class="form-label col-3">收货人姓名：</label>
      <div class="formControls col-5">
        <input type="text" class="input-text recName" value="{$info.receiver_name}" placeholder="收货人姓名"  name="data[receiver_name]">
      </div>
      <div class="col-5"> </div>
    </div>
    <div class="row cl">
      <label class="form-label col-3">收货人手机号：</label>
      <div class="formControls col-5">
        <input type="text" class="input-text recTel" value="{$info.receiver_mobile}" placeholder="收货人姓名"  name="data[receiver_mobile]">
      </div>
      <div class="col-5"> </div>
    </div>  
    <div class="row cl">
      <label class="form-label col-3">选择地区：</label>
      <div class="col-9"> 
					<select name="" id="province"  style="margin-top:-8px;">
						<option value="0">请选择</option>  
						<foreach name="provinceArr" item="row">
						<option data-value="{$row['name']}" value="{$row['jd_id']}" <if condition="$selectProvince eq $row['jd_id']" >selected</if>>{$row['name']}</option>
						</foreach>
					</select>
					<select name="" id="wxCity" style="margin-top:-8px;">
						<option value="0" >请选择</option>  
						<foreach name="cityArr" item="row1">
						<option data-value="{$row1['name']}" value="{$row1['jd_id']}" <if condition="$selectCity eq $row1['jd_id']" >selected</if>>{$row1['name']}</option>
						</foreach>
					</select>
					<select id="selBar" name="" style="margin-top:-8px;">
						<option value="0" >请选择</option> 
						<foreach name="balArr" item="row2">
						<option data-value="{$row2['name']}" value="{$row2['jd_id']}" <if condition="$selectBal eq $row2['jd_id']" >selected</if>>{$row2['name']}</option>
						</foreach>
					</select>
					<select name="" id="wxArea" style="margin-top:0px;<if condition="empty($selectTown)">display:none;</if>">
						<option value="0" >请选择</option>  
						<foreach name="townArr" item="row3">
						<option data-value="{$row3['name']}" value="{$row3['jd_id']}" 
						<if condition="$selectTown eq $row3['jd_id']" >selected</if>>{$row3['name']}</option>
						</foreach>
					</select>     
      </div>
    <div class="row cl" style="padding-top: 20px;">
      <label class="form-label col-3">收货地址：</label>
      <div class="formControls col-9">
        <input type="text" class="input-text recAddr" value="{$info.receiver_address}" placeholder="收货地址"  name="data[receiver_address]">
      </div>
    </div>        
    <div class="row cl" style="padding-top: 20px;">
      <div class="col-9 col-offset-2">
	        <input class="btn btn-primary radius saveBtn" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
      </div>
    </div>
</div>

<script type="text/javascript" src="__ADMIN__lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__ADMIN__lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__ADMIN__lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__ADMIN__lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__ADMIN__js/H-ui.js"></script> 
<script type="text/javascript" src="__ADMIN__js/H-ui.admin.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-user-add").Validform({
		tiptype:2,
		callback:function(form){
			form[0].submit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
		$("#province").bind('change','option',function(){
			$("#wxCity").hide();
			$("#selBar").hide();
			$("#wxArea").hide();
			$("#wxCity").empty();
			$("#selBar").empty();
			$("#wxArea").empty();
			$(this).attr("selected",true);
			var proItem = $(this).val();
			if(proItem > 0){
				$.post("{:U('Orderhandle/getCity')}","proItem="+proItem,function(msg){
					if(msg != 0){
						$("#wxCity").show();
						$("#wxCity").empty();
						$("#wxCity").append(msg);
						$("#selBar").empty();
						$("#wxArea").empty();
					}
				});
			}           
		});

		$("#wxCity").bind('change','option',function(){
			$("#selBar").hide();
			$("#wxArea").hide();
			$("#selBar").empty();
			$("#wxArea").empty();
			var cityItem = $(this).val();
			$(this).attr("selected",true);
			if(cityItem > 0){
				$.post("{:U('Orderhandle/getArea')}","cityItem="+cityItem,function(msg){
					if(msg != 0){
						$("#selBar").show();
						$("#selBar").empty();
						$("#selBar").append(msg);
						$("#wxArea").empty();
						}
				});
			}  
		}); 

		$("#selBar").bind('change','option',function(){
		 	$("#wxArea").hide();
			$("#wxArea").empty();
			var areaItem = $(this).val();
			$(this).attr("selected",true);
			if(areaItem > 0){
				$.post("{:U('Orderhandle/getTown')}","areaItem="+areaItem,function(msg){
					if(msg != 0){
						$("#wxArea").show();
						$("#wxArea").empty();
						$("#wxArea").append(msg);
					}
				});
			}
		});	
		$(".saveBtn").click(function(){
			if($(".recName").val() == null || $(".recName").val() == ''){
				alert("请填写收件人姓名");
				$(".recName").focus();
				return false;
			}
			if($("#province").val() == null || $("#province").val() == '' || $("#province").val() == '0'){
				alert("请选择你所在的省");
				$("#province").focus();
				return false;
			}
			if($("#wxCity").val() == null || $("#wxCity").val() == '' || $("#wxCity").val() == '0'){
				alert("请选择你所在的市");
				$("#wxCity").focus();
				return false;
			}
			if($("#selBar").val() == null || $("#selBar").val() == '' || $("#selBar").val() == '0'){
				alert("请选择你所在的区");
				$("#selBar").focus();
				return false;
			}
			if($("#wxArea").is(":hidden")==false){
			if($("#wxArea").val() == null || $("#wxArea").val() == '' || $("#wxArea").val() == '0'){
				alert("请选择你所在的街道");
				$("#wxArea").focus();
				return false;
			}
		    }else{
		    	 $("#wxArea option:selected").text('');
		    }
		
			if($(".recAddr").val() == null || $(".recAddr").val() == ''){
				alert("请填写详细地址");
				$(".recAddr").focus();
				return false;
			}
			if($(".recTel").val() == null || $(".recTel").val() == ''){
				alert("请填写联系电话");
				$(".recTel").focus();
				return false;
			}else{
				var phone = $(".recTel").val();
				var patrn = /^((\+?86)|((\+86)))?\d{3,4}-\d{7,8}(-\d{3,4})?$/;
				var validateReg = /^((\+?86)|((\+86)))?1\d{10}$/;
				if(patrn.test(phone) || validateReg.test(phone)){
					
				}else{
					alert("请填写正确的电话或手机号码格式");
					$(".recTel").focus();
					return false;
				}
			}
			var param = {
				"consignee":$(".recName").val(),
				"province":$("#province option:selected").text(),
				"province_id":$("#province option:selected").val(),
				"city":$("#wxCity option:selected").text(),
				"city_id":$("#wxCity option:selected").val(),
				"area":$("#selBar option:selected").text(),
				"area_id":$("#selBar option:selected").val(),
				"town":$("#wxArea option:selected").text(),
				"town_id":$("#wxArea option:selected").val(),
				"address":$(".recAddr").val(),
				"mobile":$(".recTel").val(),
				"tid":$("#tid").val(),
			};
			$.post("__APP__/Orderhandle/editOrderAddr", param, function(res){
				var data = eval(res);
				if(data[0] == 1 ){
							location.reload();
						layer.msg(data[1],function(){
							location.reload();
						});
				}else{
					layer.msg(data[1]);
				}
			});
		});
		
});
</script>



</body>
</html>