<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="__PUBLIC__/companyShow/css/Monthlybirthday.css">
<script src="__PUBLIC__/companyShow/js/jquery.js"></script>
<title>月度寿星-{$cname}</title>
</head>

<body>
 <!--头部-->
<include file="Public/header"/>
 
 <div style="clear:both;"></div>
 <div class="birthMain">
     <div class="sumLeft">
        <div class="left-top">
           <p class="let-p">伙伴动态</p>
           <ul>
               <li  class="left-li"><a href="{:U('Home/Index/activity')}">活动回顾</a></li>
              <li class="left-li"><a href="{:U('Home/Index/important')}">头号人物</a></li>
              <li class="left-li"><a href="{:U('Home/Index/super')}">超级新人王</a></li>
              <li class="slect"><a href="{:U('Home/Index/birthday')}">月度寿星</a></li>             
              
           </ul>
        </div>
        <div class="left-bom">
			<!--推荐阅读-->
			<include file="Index/rememberRead"/>
			<!--推荐阅读-->
        </div>
     </div>
     <!--右边-->
     <div class="brithRight">
        <p class="br-p">{$thismonth}月生日员工</p>
        <div class="brith-ul" id="ajax_lists">
 
        </div>
     </div>
 </div>
 
   <div style="clear: both;"></div>   
  <include file="Public/footer"/>
</body>
<script>
	window.nowPage=1;
	 $(function() {
		    $("#ajax_lists").delegate(".pager a", "click", function() {
		        var page = $(this).attr("data-page");
		        	nowPage=page;
		      	  getPage(page);
		        
		    });
	        getPage(1);
	
	    })	
	    function getPage(page) {
	   	var url_ajax ="{:U('Home/Index/birthdayList')}";
			 $.ajax({
				type:"post",
				url:url_ajax,
				data:"p="+page+"&type=2",
				success:function(data){
			            $('#ajax_lists').html(data);
					
				},
				error:function(e){
					
				}
			});       
	        
	    }	

    </script>

</html>
