<!--头号人物列表页-->
<link rel="stylesheet" href="__PUBLIC__/companyShow/css/page.css">
	<volist name="list" id="vo">
	<a href="{:U('Home/Index/coverageDetail',array('newsId'=>$vo['news_id'],'type'=>-2))}"> 
        <ul>
          <li><img src="{$img}{$vo.pic}"></li>
          <li class="rg-titl">{$vo.title}</li>
          <li class="rg-des">{$vo.abstract}</li>
          <li class="rg-time">{$vo.creat_time}</li>
        </ul>
       </a>
	</volist>
	<div class="pager" style="cursor: pointer;text-align: center;border: 0px;margin-top: 20px;">{$pagestr}</div>