@charset "utf-8";
/* CSS Document*/
*{margin:0; padding:0;}
a{text-decoration:none;}
ul li{list-style:none;}
img{border:0;}
input{-webkit-appearance: none;outline: none;}
a,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
body{font-family:"微软雅黑";overflow-x:hidden;background:#f1f5f6; padding-bottom:15%;}

.Waddress{width:100%; height:3.5rem; line-height:3.5rem; background:#FFF; border-bottom:#cfcfcf solid 1px;}
.Waddress span{display:block; float:left;}
.Waddress span:nth-child(1){width:10%; padding-left:2%;}
.Waddress span:nth-child(1) img{width:30%; vertical-align:middle;}
.Waddress span:nth-child(2){font-size:1.1rem; color:#333333; width:75%; text-align:center;}

/*tab切换*/
#outer {width:100%; margin:0 auto;height:auto; padding-bottom:2vh;clear:both; }
#tabDiv{width:100%; background:#FFF;  border-bottom:#d0d0d0 solid 1px;height:3.5rem; line-height:3.5rem; text-align:center;}
#tab{width:80%; margin:0 auto;}
#tab li {float:left;color:#666666;cursor:pointer;font-size:1rem;width:40%;text-align:center;}
#tab li:nth-child(1){float:left;}
#tab li:nth-child(2){float:right;}
#tab li.current{border-bottom:#ff4138 solid 2px;width:40%; color:#ff4138;}
#content{clear:both;}
#content>div{display:none; margin-top:0.7rem;}
/*tab一*/
.WtabListOne{background:#FFF; width:100%; clear:both; padding-bottom: 1.5rem;}
.WtabListOne p{width:96%;margin:0 auto;height:3.5rem; line-height:3.5rem; border-bottom:#e0e0e0 solid 1px; clear:both;
font-size:1rem; color:#757575;}
.WtabListOne p span{display:block; float:left;}
.WtabListOne p span:nth-child(1){width:34%;}
.WtabListOne p span:nth-child(2){width:60%;}
.WtabListOne p input{height:1.5rem; line-height:1.5rem; color:#757575; font-size:1rem; width:11rem; border:none;padding: 0.6rem 0 0.6rem 0}
.WOnebtn a{display:block; width:20rem; height:2.8rem; line-height:2.8rem; text-align:center; background:#ff4138;
font-size:1rem; color:#FFF; border-radius:5px; margin:0 auto; margin-top:2.5rem;}

/*tab二*/
.WtabListTwo{background:#FFF; width:100%; clear:both; padding-bottom: 1.5rem;}
.WtabListTwo p{width:96%;margin:0 auto;height:3.5rem; line-height:3.5rem; border-bottom:#e0e0e0 solid 1px; clear:both;
font-size:1rem; color:#757575;}
.WtabListTwo p span{display:block; float:left;}
.WtabListTwo p span:nth-child(1){width:33%;}
.Wtxt{width:60%;}
.Wtxt input{height:1.5rem; line-height:1.5rem; color:#757575; font-size:1rem; width:11rem;border:none;padding: 0.6rem 0 0.6rem 0}
.Wtxt2{width:32%;}
.Wtxt2 input{width:5rem;height:1.5rem; line-height:1.5rem; color:#757575; font-size:1rem;border:none; padding: 0.6rem 0 0.6rem 0}
.Wtxt3{width:32%;float:right; }
.Wtxt3 img{width:6.5rem; height:2.2rem; vertical-align:middle; border:#999999 solid 1px; border-radius:50px;}
.Wbtn{width:6.7rem; height:2.5rem; line-height:2.5rem; text-align:center; background:#FFFFFF;border:#F5908B solid 1px; border-radius:5px; 
font-size:0.9rem; color:#F34D45;}


  /*针对iPhone 4, 5c,5s, 所有iPhone6的放大模式，个别iPhone6的标准模式*/
@media only screen and (max-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
	   .WOnebtn a{display:block; width:18rem; height:2.8rem; line-height:2.8rem; text-align:center; background:#ff4138;
font-size:1rem; color:#FFF; border-radius:5px; margin:0 auto; margin-top:2.5rem;}
       .WtabListOne p span:nth-child(1){width:37%;}
	   .WtabListTwo p span:nth-child(1){width:37%;}
	   .Wtxt2{width:30%;}
	   .Wtxt3 img{width:6rem; height:2.2rem; vertical-align:middle; border:#999999 solid 1px; border-radius:50px;}
	   .Wbtn{width:6.2rem; height:2.5rem; line-height:2.5rem; text-align:center; background:#cecece;border:#999999 solid 1px; border-radius:50px; 
font-size:0.9rem; color:#757575;}
}

.basic_opt{color:#cc0000; margin-top: 0.5rem!important; text-align:center;}
.basic_opt a{color:#cc0000;}
.basic_opt div{margin: 0.3rem 0;}