.header_img{width: 100%; overflow: hidden;height: auto; text-align: center;}
.header_img img{width: 100%;height: auto;margin: 0;padding: 0;border: 0;vertical-align: top;}
.header2{background: url(../images/header_img2.png) no-repeat;background-size: 100% 100%; padding-top: 164px;padding-bottom: 82px;}
.header2 .activ_text{box-sizing: border-box; padding: 53px 105px 0;line-height: 45px; font-size: 24px; margin: 0 auto; width: 783px;height: 334px;background: url(../images/header_img3.png) no-repeat;background-size: cover;}
.header2 .activ_text h2{font-family: "microsoft yahei";font-size: 24px;}
.header2 .activ_text p{font-family: "宋体";}
.header2 .activ_text .mst_wu,.activ_text .pho_number{text-indent: 40px;}
.header2 .district{margin-top: 44px;margin-bottom: 42px; width: 548px;height: 87px;line-height: 87px;text-align: center;font-size: 60px;color: #feefc4; background: url(../images/district_bg.png) no-repeat;background-size: cover;}

.product_wrap{width: 1205px;height: auto;overflow: hidden;}
.product_wrap .product{width: 1212px;overflow: hidden;}
.product_wrap .product li{float: left;position: relative; margin-right: 10px;margin-bottom: 10px;  width: 293px;height: 491px;background: url(../images/product_bg.png) no-repeat;background-size: cover; }
.product_wrap .product li .img_wrap{height: 316px;padding: 21px 23px 0;}
.product_wrap .product li .img_wrap img{width: 100%;height:auto;}
.product_wrap .product li .product_text{margin-top: 3px;padding-left: 20px; width: 253px;height: 110px;padding-top: 20px;}
.product_wrap .product li .product_text .product_number{line-height: 24px; font-family: "microsoft yahei";font-size: 14px;color: #c84c00;margin-left: 6px;}
.product_wrap .product li .product_text .price{height: 30px;padding: 0 4px;margin-top:18px;}
.product_wrap .product li .product_text .price span{display: inline-block;vertical-align: middle; -moz-user-select: none; /*火狐*/ -webkit-user-select: none; /*webkit浏览器*/ -ms-user-select: none; /*IE10*/ -khtml-user-select: none; /*早期浏览器*/ user-select: none;}
.product_wrap .product li .product_text .price .price_sp1{width: 55px;height: 18px;font-size: 13px;vertical-align: middle; background-color: #db2818;color: #fff;line-height: 18px;text-align: center; font-family: "Arial";border-radius: 5px 0px 5px 0px;}
.product_wrap .product li .product_text .price .price_sp2{color: #cc211f;font-size: 23px;vertical-align: middle;}
.product_wrap .product li .product_text .price .price_sp3{ cursor: pointer;border-bottom: 4px solid #99170a; width: 96px;height: 26px;line-height: 30px;text-align: center; font-size: 20px;background-color: #db2818;color: #fff;}
.product_wrap .product li .product_text .priceed{text-decoration: line-through;text-indent: 7px; margin-top: -5px;font-size: 12px;font-family: "microsoft yahei";color: #999999;}
.product_wrap .product li .pro_icon{position: absolute;z-index: 999;top: 8px;right: 8px;}
.footter_back{width: 100%;position: relative;}
.footter_back .footter_bg{width: 100%;height: auto;position: absolute;z-index: 1;vertical-align: top;}
.footter_back .footter_back{position: absolute;cursor: pointer; z-index: 111;left: 0;right: 0; margin: -70px auto 0;width: 150px;height: 150px;}








