@charset "utf-8";
/* CSS Document */
a{text-decoration:none;}
ul li{list-style:none;}
.layout{background:#e9fff2; margin-top:-7px;}
.eat-pt{width:1000px; margin:0 auto; text-align:center; padding-top:100px;}
.eat-pt p{color:#0a0909; font-size:12px; padding-top:20px; line-height:25px;}
.eat-ul{width:1000px;margin:0 auto;}
.eat-ul ul{float:left; border:#CCC solid 1px; margin:10px 10px;background:#FFF; padding:10px 0;}
.eat-ul img{width:175px;} 
.eat-li a{font-size:12px; color:#000000; padding-left:5px;}
.eat-li2 a{font-size:12px; color:#c7241d; padding-left:5px;}
.eat-li2 a span{font-weight:bold; font-size:15px; padding-right:5px;}
.eat-sp{font-size:12px; color:#c7241d;font-weight:bold; padding-left:5px;}
.eat-sp span{font-size:15px;}
.eat-sp2{float: right; padding-right: 5px;}
.eat-sp2 a{color:#FFF; background:#c7241d; padding:3px 8px;border-radius:5px;}
.eat-lib{margin-top:-18px; padding-left:5px;}
.eat-lib a{font-size:12px; color:#000000;}
.bed-pt{width:1000px; margin:0 auto; text-align:center; padding-top:600px;}
.bed-pt p{color:#0a0909; font-size:12px; padding-top:20px; line-height:25px;}
.bed-ul{width:1000px;margin:0 auto;}
.bed-ul ul{float:left; border:#CCC solid 1px; margin:10px 10px;background:#FFF; height:245px;}
.bed-ul img{width:175px;} 
.eat-lir{margin-top:8px; padding-left:5px;}
.eat-lir a{font-size:12px; color:#000000;}
.appliance-pt{width:1000px; margin:0 auto; text-align:center; padding-top:615px;}
.appliance-pt p{color:#0a0909; font-size:12px; padding-top:20px; line-height:25px;}
.appliance-ul{width:1000px;margin:0 auto;}
.appliance-ul ul{float:left; border:#CCC solid 1px; margin:10px 10px;background:#FFF;height:255px;}
.appliance-ul ul li.goodsImg{height: 165px; overflow: hidden;}
.appliance-ul img{width:175px;}
.kitchen-pt{width:1000px; margin:0 auto; text-align:center; padding-top:630px;}
.kitchen-pt p{color:#0a0909; font-size:12px; padding-top:20px; line-height:25px;}