<div class="footer_top">
    <div class="ft_concent">
        <div class="ft_left">
            <div class="ft_left-top">
                <ul>
                    <li class="tl_li2">导航
                        <span>></span></li>
                    <li class="tl_li">
                        <a href="http://www.lishe.cn/theme/help.html">礼舍能做啥</a></li>
                    <li class="tl_li">
                        <a href="http://www.lishe.cn/theme/evaluate/index.html">伙伴说什么</a></li>
                    <li class="tl_li">
                        <a href="http://www.lishe.cn/">心意商城</a></li>
                </ul>
                <ul>
                    <li class="tl_li2">咨询
                        <span>></span></li>
                    <li class="tl_li">
                        <a href="http://www.lishe.cn/help_index.html">服务条款</a></li>
                    <li class="tl_li">
                        <a href="http://www.lishe.cn/help_recruitment.html">人员招聘</a></li>
                    <li class="tl_li">
                        <a href="http://www.lishe.cn/help_resume.html">礼舍简介</a></li>
                </ul>
                <ul>
                    <li class="tl_li2">礼舍帮帮
                        <span>></span></li>
                    <li class="tl_li">
                        <a href="http://www.lishe.cn/help_problem.html">常见问题</a></li>
                    <li class="tl_li">
                        <a href="http://www.lishe.cn/help_summary.html">礼舍教学操作指南</a></li>
                    <li class="tl_li">
                        <a href="http://www.lishe.cn/help_summary.html">礼舍使用全攻略</a></li>
                </ul>
            </div>
            <div class="ft_left-bt">
                <ul class="ul-tl">
                    <li>
                        <a href="http://www.lishe.cn/help_we.html">联系客服</a></li>
                    <li class="line">|</li>
                    <li>
                        <a href="http://v.lishe.cn/company/login.html">企业入驻</a></li>
                    <li class="line">|</li>
                    <li>
                        <a href="http://www.lishe.cn/shop/">供应商入驻</a></li>
                </ul>
            </div>
        </div>
        <div class="ft_right">
            <ul>
                <li class="tl_li4">
                    <a href="http://www.lishe.cn/help_we.html">联系我们
                        <span>></span></a>
                </li>
                <li>
                    <img src="__PUBLIC__/lishe/images/1_32.gif"></li>
            </ul>
            <ul class="fr-ul">
                <li class="tl_li5">全国服务热线</li>
                <li class="tl_li6">400-883-9916</li>
                <li class="tl_li7">周一至周五&nbsp;&nbsp;9:00-18:00</li>
                <ul></div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <p class="tl_li8">
            <a href="http://www.lishe.cn/help_resume.html">公司简介</a>|
            <a href="http://www.lishe.cn/help_partner.html">合作伙伴</a>|
            <a href="http://www.lishe.cn/help_recruitment.html">人才招聘</a>|
            <a href="http://www.lishe.cn/help_we.html">联系我们</a></p>
        <p class="tl_li9">© 2012-2016 深圳市欣子文化传播有限公司 版权所有，并保留所有权利。 ICP备案证书号:
            <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备12076725号-2</a></p>
    </div>
</div>