html,body{min-width: 100%;min-height: 100%;overflow: hidden;}
.registerContent{padding:0.6rem 0.3rem 0; width: 100%;height: 100%;background: #f4f4f4;box-sizing: border-box;}
.inputItem,.inputItem2{position: relative; margin-bottom: 0.2rem; width: 6.9rem;height: 0.9rem;border-radius: 0.45rem;background:#fff;overflow: hidden;box-sizing: border-box;border:1px solid #cccccc;}
.inputItem .UserInp1{width: 100%;height: 100%;line-height: 0.37rem; border:none;outline: none;border-radius: 0.45rem;vertical-align: top;text-indent: 0.38rem;font-size: 0.3rem;}
.inputItem .UserInp2{width: 5rem;}
.inputItem .grantBtn{position: absolute;top: 50%;margin-top: -0.25rem;right: 0.18rem; width: 1.6rem;height: 0.5rem;line-height: 0.5rem;font-size: 0.24rem; border-radius: 0.25rem;background-color: #ff4138;color: #fff;text-align: center;}
.inputItem2{background-color: #ff4138;text-align: center;font-size: 0.3rem;color: #fff;line-height: 0.9rem;text-align: center;}
.inputItem .UserInpBg{background:url(../images/search.png) 6.1rem center no-repeat;background-size: 0.38rem 0.38rem;}
/*激活完成*/
.OverBg{background:url(../images/registerOver.png) no-repeat;background-size: 100% 100%;box-sizing: border-box;}
.regOverCon{position: relative; margin: 1.8em auto 0; width: 6.42rem;height: 7.13rem;background:url(../images/overBg.png) no-repeat;background-size: cover;}
.rocImg1{position: absolute;top: 0;left: 0;right: 0;margin-left: auto;margin-right: auto; height: 2.22rem; text-align: center;transform: translateY(-41%);-webkit-transform: translateY(-41%);}
.rocImg1 img{width: 2.05rem;height: 2.22rem;vertical-align: top;}
.success{padding-top: 1.6rem;font-weight: bold; text-align: center;color: #ff4138;font-size: 0.48rem;line-height: 0.48rem;font-family: "思源黑体 CN"}
.mainText{margin-top: 0.68rem; position: relative;width: 4.6rem;height: 1.4rem;border:1px solid #38b6ff;border-radius: 0.1rem;font-size: 0.36rem;color: #333333;}
.mainText .mainTextTit{position: absolute;left: 0;right: 0; font-size: 0.24rem;width: 1.8rem;height: 0.24rem;line-height: 0.24rem;text-align: center; top: -0.12rem;background-color: #fff;}
.mainText p{text-align: center; padding-top: 0.45rem;}
.speed{text-align: center;font-size: 0.3rem;color:#666666;padding-top: 0.93rem;}
.goBuyBtn{margin-top: 0.3rem; width: 5.9rem;height: 0.9rem;border-radius: 0.45rem;background-color: #ff4138;text-align: center;line-height: 0.9rem;color: #fff;font-size: 0.3rem;}
.success2{color: #38b6ff;padding-top: 1.36rem;}
.product{width: 3rem;margin-top: 0.3rem;}
.product .productImg{border:1px solid #dadada;overflow: hidden;text-align: center;border-radius: 0.1rem;}
.product .productImg img{width: 2.99rem;height: 2.99rem;vertical-align: top;}
.product .proName{font-size: 0.24rem;color: #666666;text-align: center;}








