<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="format-detection" content="telephone=no" />
	<meta content="email=no" name="format-detection" /> 
	<meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL">
	<meta name="apple-mobile-web-app-title" content="">
	<title>选择商品</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/welfare_two_page.css">
</head>
<body>
	<include file="Activity/midAutumn/header" />
	<div style="height: 0.9rem;"></div>
	<section><img src="images/w_page2_banner.png" class="page_banner"></section>
	<!--商品列表-->
	<section class="product_list">
		<ul>
			<li>
				<div class="product_img"><a href=""><img src="" data-src="images/product_demo.png"></a></div>
				<p class="product_name">九阳 新款家用破壁无渣豆浆豆浆豆浆.</p>
				<div class="pro_item"><span class="fl point"><em>43443</em>积分</span><span class="fr shoping_cart_ls"></span></div>
			</li>
			<li>
				<div class="product_img"><a href=""><img src="" data-src="images/product_demo.png"></a></div>
				<p class="product_name">九阳 新款家用破壁无渣豆浆豆浆豆浆.</p>
				<div class="pro_item"><span class="fl point"><em>43443</em>积分</span><span class="fr shoping_cart_ls"></span></div>
			</li>
			<li>
				<div class="product_img"><a href=""><img src="" data-src="images/product_demo.png"></a></div>
				<p class="product_name">九阳 新款家用破壁无渣豆浆豆浆豆浆.</p>
				<div class="pro_item"><span class="fl point"><em>43443</em>积分</span><span class="fr shoping_cart_ls"></span></div>
			</li>
			<li>
				<div class="product_img"><a href=""><img src="" data-src="images/product_demo.png"></a></div>
				<p class="product_name">九阳 新款家用破壁无渣豆浆豆浆豆浆.</p>
				<div class="pro_item"><span class="fl point"><em>43443</em>积分</span><span class="fr shoping_cart_ls"></span></div>
			</li>
			<li>
				<div class="product_img"><a href=""><img src="" data-src="images/product_demo.png"></a></div>
				<p class="product_name">九阳 新款家用破壁无渣豆浆豆浆豆浆.</p>
				<div class="pro_item"><span class="fl point"><em>43443</em>积分</span><span class="fr shoping_cart_ls"></span></div>
			</li>
			<li>
				<div class="product_img"><a href=""><img src="" data-src="images/product_demo.png"></a></div>
				<p class="product_name">九阳 新款家用破壁无渣豆浆豆浆豆浆.</p>
				<div class="pro_item"><span class="fl point"><em>43443</em>积分</span><span class="fr shoping_cart_ls"></span></div>
			</li>
			<li>
				<div class="product_img"><a href=""><img src="" data-src="images/product_demo.png"></a></div>
				<p class="product_name">九阳 新款家用破壁无渣豆浆豆浆豆浆.</p>
				<div class="pro_item"><span class="fl point"><em>43443</em>积分</span><span class="fr shoping_cart_ls"></span></div>
			</li>
			<li>
				<div class="product_img"><a href=""><img src="" data-src="images/product_demo.png"></a></div>
				<p class="product_name">九阳 新款家用破壁无渣豆浆豆浆豆浆.</p>
				<div class="pro_item"><span class="fl point"><em>43443</em>积分</span><span class="fr shoping_cart_ls"></span></div>
			</li>
			<li>
				<div class="product_img"><a href=""><img src="" data-src="images/product_demo.png"></a></div>
				<p class="product_name">九阳 新款家用破壁无渣豆浆豆浆豆浆.</p>
				<div class="pro_item"><span class="fl point"><em>43443</em>积分</span><span class="fr shoping_cart_ls"></span></div>
			</li>
			<li>
				<div class="product_img"><a href=""><img src="" data-src="images/product_demo.png"></a></div>
				<p class="product_name">九阳 新款家用破壁无渣豆浆豆浆豆浆.</p>
				<div class="pro_item"><span class="fl point"><em>43443</em>积分</span><span class="fr shoping_cart_ls"></span></div>
			</li>
			<li>
				<div class="product_img"><a href=""><img src="" data-src="images/product_demo.png"></a></div>
				<p class="product_name">九阳 新款家用破壁无渣豆浆豆浆豆浆.</p>
				<div class="pro_item"><span class="fl point"><em>43443</em>积分</span><span class="fr shoping_cart_ls"></span></div>
			</li>
			<li>
				<div class="product_img"><a href=""><img src="" data-src="images/product_demo.png"></a></div>
				<p class="product_name">九阳 新款家用破壁无渣豆浆豆浆豆浆.</p>
				<div class="pro_item"><span class="fl point"><em>43443</em>积分</span><span class="fr shoping_cart_ls"></span></div>
			</li>
			<li>
				<div class="product_img"><a href=""><img src="" data-src="images/product_demo.png"></a></div>
				<p class="product_name">九阳 新款家用破壁无渣豆浆豆浆豆浆.</p>
				<div class="pro_item"><span class="fl point"><em>43443</em>积分</span><span class="fr shoping_cart_ls"></span></div>
			</li>
			<li>
				<div class="product_img"><a href=""><img src="" data-src="images/product_demo.png"></a></div>
				<p class="product_name">九阳 新款家用破壁无渣豆浆豆浆豆浆.</p>
				<div class="pro_item"><span class="fl point"><em>43443</em>积分</span><span class="fr shoping_cart_ls"></span></div>
			</li>
			<li>
				<div class="product_img"><a href=""><img src="" data-src="images/product_demo.png"></a></div>
				<p class="product_name">九阳 新款家用破壁无渣豆浆豆浆豆浆.</p>
				<div class="pro_item"><span class="fl point"><em>43443</em>积分</span><span class="fr shoping_cart_ls"></span></div>
			</li>
		</ul>
	</section>
	<div style="height: 1rem;clear: both;"></div>
</body>
<script type="text/javascript" src="js/jQuery.v1.8.3.min.js"></script>
<script type="text/javascript">
	var html = document.documentElement;
	var whtml  =html.getBoundingClientRect().width;
	html.style.fontSize = whtml /7.5 + "px";

	//限制字符个数
	$('.product_name').each(function(){
		var maxwidth=13;
		if($(this).text().length>maxwidth){
			$(this).text($(this).text().substring(0,maxwidth));
			$(this).html($(this).html()+'..');
		}
	});

	//购物车数量
    function count(){
	    var all=parseInt($('.shop_cart p').html());
	    if(all==0){
	        $('.shop_cart p').css({'display':'none'});
	    }else if(all!=0){
	        $('.shop_cart p').css({'display':'block'});
	    }
    }
    count();
    $('.shoping_cart_ls').on('click',function(){
        var all=parseInt($('.shop_cart p').html());
        $('.shop_cart p').html(all + 1);
        count();
    })
    $('.product_list').on('click','.shoping_cart_ls',function(){
        clearTimeout(time);
        $('.shop_cart p').addClass('click');
        var time = setTimeout(function(){
            $('.shop_cart p').removeClass('click');
       },500)
    })

	//懒加载
	//触发滚动 防止第一屏不加载
	$("body,html").scrollTop(1);
	lazyLoad();
	function lazyLoad(){

		var bodyH = $(window).height();
		var docH = $(document).height();

		if(docH < bodyH){
			$('img').each(function(){
					var $this = $(this);

					if($this.attr('data-src') != $this.attr('src')){
						$this.attr('src',$this.attr('data-src'));
					}
				});
			}else{
				$('img').each(function(){
					var $this = $(this);

					var winH = $(window).height() + $(window).scrollTop();
					var thisT = $this.offset().top;
					var thisH = $this.height();
					var scrlTop = $(window).scrollTop();

					if(winH > thisT-100 && $this.attr('src') != $this.attr('data-src')){
						var dataSrc = $this.attr('data-src');
						$this.attr('src',dataSrc);
					}
				});
			}
		
	}
	$(document).on('scroll',function(){
		lazyLoad();
		
	});
</script>
</html>