<script type="text/javascript">
    $('#nav .row').hide();
</script>

<style type="text/css">
#main{
  background: #f6f4f4;
}

.main-top {
  
}
.main-top .main-top-nav {
  position: relative;
  width: 1190px;
  margin: 0 auto;
  background-color: #fff;
}
.main-top .main-top-nav .main-top-cover img {
  width: 100%;
}
.main-top .main-top-nav .main-top-btn {
  width: 100%;
  padding: 16px 20px;
}
.main-top .main-top-nav .main-top-btn img {
  position: relative;
  top: 4px;
}
.main-top .main-top-nav .main-top-btn span {
  margin-right: 11px;
}
.main-center{
  width:1190px; 
  position:relative;
  margin:20px auto;
  background-color: #fff;
}
.main-center .main-center-p{
  position:relative;
  margin:0 auto;
  background-color: #fff;
  padding: 20px 60px;
}
li{
  list-style:none;  
}
.main-content-div {
  position:relative;
  padding: 20px 0px;
}
.main-content-div .main-content-detail-div {
  position: relative;
  width: 700px;
  margin: 20px auto;
}
.main-content-div .main-content-detail-div .main-content-detail-div-btn {
  height: 103px;
  border-bottom: 1px solid #bcbcbc;
}
.main-content-div .main-content-detail-div .main-content-detail-div-btn div{
  float: left;
  margin: 15px 0px;
}
.main-content-div .main-content-detail-div .main-content-detail-div-btn span {
  float: right;
  font-size: 24px;
  color: #fff;
  line-height: 24px;
  background: #c7241d;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 30px 0px 0px 0px;
}
.main-content-div .main-content-detail-div p .title-number {
  color: #c7241d;
  font-size: 22px;
  margin: 0px 8px 0px 0px;
  padding: 2px 10px;
  border: 2px solid #c7241d;
  border-radius: 100%;
}

.pendant{
  width: 92px;
  height: 435px;
  float: right;
  position: fixed;
  top: 20%;
  right: 10%;
}
.pendant-inner{
  width: 92px;
  height: 435px;
  position:absolute;
  left:0;;
}
</style>

<div class="main-top">
    <div class="main-top-nav">
        <div class="main-top-cover" style="width: 100%; height: 356px; background:url(./images/topic/banner7.jpg) no-repeat center; background-size:cover;">
            <!-- <img  src="images/ring_content_img.jpg"/> -->
        </div>
        <div class="main-top-btn">
            <img class="collect-icon" src="./images/index_collect_cancel_icon.png" alt="" width="18px" height="18px">
            <span class="collect-num">108</span>
            <img src="images/index_comment_icon.png"/>
            <span >189</span>
            <!-- <img src="images/index_share_icon.png"/> -->
            <style type="text/css">
            div.jiathis_style a.jtico {
                background: url(./images/index_share_icon.png) no-repeat left;
            }
            </style>
            <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style pro-share">
              <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
            </div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=" charset="utf-8"></script>
            <!-- JiaThis Button END -->
            <span>1002</span>
        </div>
    </div>
</div>
<script type="text/javascript" src="/app/topc/statics/js/jquery.url.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    
    var _share = jQuery.url.param("share") == null ? "" : jQuery.url.param("share");

    if ('true' == _share) {
        // $('.jiathis').trigger('click');
    }

    $('.collect-icon').bind({

        click: function() {

            var _this = $(this);

            if (_this.hasClass('n')) {
                return;
            }

            _this.addClass('n').attr('src', 'http://www.lishe.cn/themes/luckymall1/images/index_collect_icon.png');

            var _num = _this.parent().find('.collect-num').text();
            _num++;

            _this.parent().find('.collect-num').text(_num);
        }
    });
});
</script>

<div class="main-center">
  <p class="main-center-p">盼望着，盼望着，五一小长假终于要来了，在这个春末夏初、温度适宜的假期里，怎么能不抓紧时间出去浪一圈！人再多又怎样，最重要的是心情是自由的，想去哪里去哪里~ 一款好看又实用的箱包，让你的出行更有型，轻松赚足回头率！


</p>
</div>

<div class="main-content-div">
    <ul>
        <li>
            <div class="main-content-detail-div">
                <p><strong><span class="title-number"></span><span style="font-size: 20px;">超极百搭电脑背包
</span></strong></p>
                <p>一款超级百搭的电脑背包绝对是上班和出行的日常必备，休闲又时尚的样式，可以当电脑包，又可以当旅行背包。独特的双拉链结构，简单又个性时尚。
背上，潮范和有型就是属于你的。



                <a href="#" target="_blank">
                  <img style="width:100%; " src="./images/topic/content_img38.jpg" />
                </a>
                <div class="main-content-detail-div-btn">
                    <div>
                        <strong><font style="font-size: 18px; color:#C7241D;"></font><font style="color: #c7241d; font-size: 30px;">10,000</font></strong><font style="font-size: 13px; color: #c7241d;">积分</font><br />
                        <font style="text-decoration: line-through;">20000&nbsp;</font><font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销量（15）</font>
                    </div>
                    <a href="#
" target="_blank" title="新秀丽休闲双肩电脑背包（黑） "><span>查看详情</span></a>
                </div>
            </div>
        </li>
        <li>
            <div class="main-content-detail-div">
                <p><strong><span class="title-number"></span><span style="font-size: 20px;">能折叠的差旅双肩包



</span></strong></p>
                <p>时尚大方，多功能设计。使用时，展开成为双肩包，大容量，很能装；不用时，折叠收纳，省空间。
有时候只需要这样一个折叠包，你就可以拥有一场说走就走的下一站！



</p>
                <a href="#" target="_blank">
                  <img style="width:100%; " src="./images/topic/content_img39.jpg" />
                </a>
                <div class="main-content-detail-div-btn">
                    <div>
                        <strong><font style="font-size: 18px; color:#C7241D;"></font><font style="color: #c7241d; font-size: 30px;">10,000</font></strong><font style="font-size: 13px; color: #c7241d;">积分</font><br />
                        <font style="text-decoration: line-through;">20000&nbsp;</font><font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销量（15）</font>
                    </div>
                    <a href="#
" target="_blank" title="外交官气质折叠包
"><span>查看详情</span></a>
                </div>
            </div>
        </li>
        <li>
            <div class="main-content-detail-div">
                <p><strong><span class="title-number"></span><span style="font-size: 20px;">时尚休闲电脑背包


</span></strong></p>
                <p>可以提着也可以背着，可以横着也可以竖着拎，背上电脑即可去上班，放下电脑亦可去旅行，这样的设计总之就是实用又有型。
路途漫漫，选择一款好的背包，伴您一路向前，阔步人生。

</p>
                <a href="http://www.lishe.cn/item.html?item_id=473" target="_blank">
                  <img style="width:100%; " src="./images/topic/content_img40.jpg" />
                </a>
                <div class="main-content-detail-div-btn">
                    <div>
                        <strong><font style="font-size: 18px; color:#C7241D;"></font><font style="color: #c7241d; font-size: 30px;">26,900</font></strong><font style="font-size: 13px; color: #c7241d;">积分</font><br />
                        <font style="text-decoration: line-through;">20000&nbsp;</font><font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销量（15）</font>
                    </div>
                    <a href="http://www.lishe.cn/item.html?item_id=473
" target="_blank" title="新秀丽休闲双肩电脑背包（红）
"><span>查看详情</span></a>
                </div>
            </div>
        </li>
        <li>
            <div class="main-content-detail-div">
                <p><strong><span class="title-number"></span><span style="font-size: 20px;">可随身携带登机的行李箱


</span></strong></p>
                <p>旅行箱不仅仅是“四处奔走的家”，更是一件艺术品。旅行中要拍许多照片，漂亮的行李箱本身就是一个时尚装饰品。
一定要拉着优雅时尚又轻便的行李箱来一场旅行，才能让旅行更有味道。

</p>
                <a href="http://www.lishe.cn/item.html?item_id=474" target="_blank">
                  <img style="width:100%; " src="./images/topic/content_img41.jpg" />
                </a>
                <div class="main-content-detail-div-btn">
                    <div>
                        <strong><font style="font-size: 18px; color:#C7241D;"></font><font style="color: #c7241d; font-size: 30px;">196,100</font></strong><font style="font-size: 13px; color: #c7241d;">积分</font><br />
                        <font style="text-decoration: line-through;">20000&nbsp;</font><font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销量（15）</font>
                    </div>
                    <a href="http://www.lishe.cn/item.html?item_id=474
" target="_blank" title="外交官珍品拉杆箱行李箱
"><span>查看详情</span></a>
                </div>
            </div>
        </li>
        <li>
            <div class="main-content-detail-div">
                <p><strong><span class="title-number"></span><span style="font-size: 20px;">经典男士真皮斜挎胸包

</span></strong></p>
                <p>一个男生是否有品味，看他背怎么样的包包就能够感受得出来。繁忙的都市生活，也许只需要一款简约时尚的真皮斜挎胸包，就能让生活变得不再那么严肃。
一个背包，代表的是一种品味，也是一种生活态度。

</p>
                <a href="http://www.lishe.cn/item.html?item_id=495" target="_blank">
                  <img style="width:100%; " src="./images/topic/content_img42.jpg" />
                </a>
                <div class="main-content-detail-div-btn">
                    <div>
                        <strong><font style="font-size: 18px; color:#C7241D;"></font><font style="color: #c7241d; font-size: 30px;">81,300</font></strong><font style="font-size: 13px; color: #c7241d;">积分</font><br />
                        <font style="text-decoration: line-through;">20000&nbsp;</font><font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销量（15）</font>
                    </div>
                    <a href="http://www.lishe.cn/item.html?item_id=495
" target="_blank" title="QUREZON/库佐男士胸包斜挎包真皮男包头层牛皮多功能单肩包腰包"><span>查看详情</span></a>
                </div>
            </div>
        </li>
        <li>
            <div class="main-content-detail-div">
                <p><strong><span class="title-number"></span><span style="font-size: 20px;">时尚休闲真皮男士双肩包
</span></strong></p>
                <p>9点是白领，6点是潮人，偶尔商务谈判，也会骑行上班。一款时尚休闲的真皮双肩包，满足你在工作与闲暇之间切换自如。
以“善变”的设计，帮你应对多变的世界，从容享受人生。


</p>
                <a href="http://www.lishe.cn/item.html?item_id=496" target="_blank">
                  <img style="width:100%; " src="./images/topic/content_img43.jpg" />
                </a>
                <div class="main-content-detail-div-btn">
                    <div>
                        <strong><font style="font-size: 18px; color:#C7241D;"></font><font style="color: #c7241d; font-size: 30px;">99,900</font></strong><font style="font-size: 13px; color: #c7241d;">积分</font><br />
                        <font style="text-decoration: line-through;">20000&nbsp;</font><font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销量（15）</font>
                    </div>
                    <a href="http://www.lishe.cn/item.html?item_id=496
" target="_blank" title="QUREZON/库佐高端真皮时尚休闲男包男士双肩包旅行包头层牛皮背包男韩版 黑色
"><span>查看详情</span></a>
                </div>
            </div>
        </li>        
    </ul>
</div>
<script type="text/javascript">
$(document).ready(function () {
    
    var _main_content_detail_lst = $('.main-content-div ul li');

    var _count = _main_content_detail_lst.length;
    console.log('_count -- : ' + _count);

    for (var i =0; i < _count; i++) {

      var _num = i + 1;

      _main_content_detail_lst.eq(i).find('.title-number').text(_num);
    }
});
</script>