<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="__VIEW__Public/css/details.css">
<link rel="stylesheet" href="__VIEW__Public/css/address_css.css">
<link rel="stylesheet" href="__VIEW__Public/css/pay.css">
<script src="__VIEW__Public/js/jQuery.v1.8.3.min.js"></script>
<script type="text/javascript" src="__VIEW__Public/layer/layer.js"></script>
<title>设置支付密码-心意商城</title>
<script type="text/javascript">
	$(document).ready(function(){
		$(".setpaypwd").click(function(){
			var pwd = $("input[name='paypwd']").val();
			var rpwd = $("input[name='rpaypwd']").val();
			if (pwd == '') {
				alert("请输入支付密码！");	
				return false;	
			};
			if (pwd != rpwd) {
				alert("支付密码和确认支付密码必须相同！");
				return false;	
			}else{
				$.ajax({
	            type:"POST",
	            url:"__APP__/Pay/doSetPayPwd",
	            data:{payPwd:pwd},
	            dataType:'text',
	            success:function(data){
		            	if (data == 1 ) {
		            		alert("修改成功！");
		            		if("{$source}"=="activity"){
			            		window.location.href="__APP__/Pay/activityPay/paymentid/{$paymentid}";
		            		}else{
			            		window.location.href="__APP__/Pay/pay/paymentid/{$paymentid}";
		            		}
		            		
		            	}else{
		            		alert("修改失败，请重试！");
		            	}
		            }
	        	});
	        }

		});
	});
</script>
</head>
<body>
<include file="Public/header"/>
<div class="content" >
   	<input type="hidden" name="paymentid" value="{$paymentid}">
   	<div class="sku-group select-sku">请设置您的支付密码！</div>  
		<div class="payment borderRadius" >
			<div class="pwd-div">
				<div class="pwd">支付密码：</div>
				<div class="pwd-input"><input type="password" name="paypwd" value="" ></div>
			</div>
			<div class="rpwd-div">
	    		<div class="rpwd">确认支付密码：</div>
	    		<div class="rpwd-input"><input type="password" name="rpaypwd" ></div>
    		</div>
			<div class="submit">
				<input type="submit"  value="提交" class="orderSbt setpaypwd" />
			</div>
		</div>	
    </div> 
    <div style="border:0px solid red;">   
        <include file="Public/footer"/>
    </div>
</body>
</html>