<div class="row mod-bottom">
  <div class="col-lg-16 box">
    <h4>登陆</h4><hr>
    用户名: <input type="text" name="login_name" value="admin" /><br />

    密码: <input type="text" name="login_pwd" value="123456" /><br />
    <input type="button" name="login" value="登陆" />
    
    <script type="text/javascript" src="/app/topc/statics/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/app/topc/statics/js/jquery.url.js"></script>
    <script type="text/javascript" src="/app/topc/statics/js/crypto.js"></script>
    <script type="text/javascript" src="/app/topc/statics/js/global.js"></script>
  </div>
</div>

