<include file="head" />
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">公告发布</a><span class="crumb-step">&gt;</span><span>新增公告</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="{:U('Home/editPasswd')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <h1 style="">修改密码</h1>
                    <table class="insert-tab" width="100%">
                        <tbody>
                        <tr>
                            <th width="120"><i class="require-red">*</i>请输入旧密码：</th>
                            <td>
                                <input class="common-text required" id="oldPasswd" name="oldPasswd" size="50" value="" placeholder="请输入旧密码" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th width="120"><i class="require-red">*</i>请输入新密码：</th>
                            <td>
                                <input class="common-text required" id="newPasswd" name="newPasswd" size="50" value="" placeholder="请输入新密码" type="text">
                            </td>
                        </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="确认修改" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>