<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>管理员中心</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/admin/js/libs/modernizr.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body>

<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title" style="font-size:16px;">
            <h1>礼舍供应商管理系统</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>商品管理</a>
                    <ul class="sub-menu">
                        <li><a href="{:U('Home/index')}"><i class="icon-font">&#xe008;</i>商品列表</a></li>
                        <!--li><a href="{:U('Home/add_goods')}"><i class="icon-font">&#xe005;</i>添加商品</a></li-->
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>采购管理</a>
                    <ul class="sub-menu">
                        <li><a href="{:U('Home/orderList')}"><i class="icon-font">&#xe008;</i>待审核订单</a></li>
                        <li><a href="{:U('Home/waitSend')}"><i class="icon-font">&#xe008;</i>待发货订单</a></li>
                        <li><a href="{:U('Home/sended')}"><i class="icon-font">&#xe008;</i>已发货订单</a></li>
                        <li><a href="{:U('Home/storage')}"><i class="icon-font">&#xe008;</i>已入库订单</a></li>
                        <!--li><a href="{:U('Home/send_list')}"><i class="icon-font">&#xe005;</i>发货列表</a></li-->
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>代发管理</a>
                    <ul class="sub-menu">
                        <li><a href="{:U('Order/index')}"><i class="icon-font">&#xe008;</i>全部订单</a></li>
                        <li><a href="{:U('Order/waitSendIndex')}"><i class="icon-font">&#xe005;</i>待发订单</a></li>
                        <li><a href="{:U('Order/sendedIndex')}"><i class="icon-font">&#xe006;</i>已发订单</a></li>
                        <li><a href="{:U('Order/aftersaleIndex')}"><i class="icon-font">&#xe006;</i>售后订单</a></li>
                        <li><a href="{:U('ActivityOrder/index')}"><i class="icon-font">&#xe008;</i>全部订单(促销)</a></li>
                        <li><a href="{:U('ActivityOrder/waitSendIndex')}"><i class="icon-font">&#xe005;</i>待发订单(促销)</a></li>
                        <li><a href="{:U('ActivityOrder/sendedIndex')}"><i class="icon-font">&#xe006;</i>已发订单(促销)</a></li>
                        <li><a href="{:U('ActivityOrder/aftersaleIndex')}"><i class="icon-font">&#xe006;</i>售后订单(促销)</a></li>
                        
                    </ul>
                </li>
                <!--li>
                    <a href="#"><i class="icon-font">&#xe003;</i>数据报表</a>
                    <ul class="sub-menu">
                        <li><a href="administer-分类管理（标签）.html"><i class="icon-font">&#xe008;</i>代发商品报表</a></li>
                        <li><a href="administer-公告发布.html"><i class="icon-font">&#xe005;</i>采购完成统计表</a></li>
                        <li><a href="administer-订单查询.html"><i class="icon-font">&#xe006;</i>采购中统计报表</a></li>
                        <li><a href="administer-订单查询.html"><i class="icon-font">&#xe006;</i>退货统计报表</a></li>
                    </ul>
                </li-->
                <li>
                    <a href=" {:U('Home/editPasswdView')}"><i class="icon-font">&#xe018;</i>修改密码</a>
                </li>
                <li>
                    <a href=" {:U('Login/logout')}"><i class="icon-font">&#xe018;</i>退出登录</a>
                </li>
            </ul>
        </div>
    </div>