<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="__PUBLIC__/companyShow/css/mooncakes.css">
<script src="__PUBLIC__/companyShow/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/companyShow/js/html5shiv.js"></script>
<script type="text/javascript" src="__PUBLIC__/companyShow/js/respond.src.js"></script>
<script src="__PUBLIC__/js/enter.js"></script>
<title>登录</title>
</head>

<body>
	
	
   <div class="Monlogin">
      <div class="loginCt">
          <img src="__PUBLIC__/companyShow/images/Mlogin.png">
          <ul>
            <li class="Titl">员工福利加油站</li>   
            <li><input type="text" id="userName" placeholder="请输入手机号码" class="text user"/></li>
            <li><input type="password" id="password" placeholder="请输入密码"  class="text pwd"/></li>
            <input type="hidden" id="refer" value="{$refer}">
            <li class="Loginbtn"><a href="javascript:void(0);" id="loginBtn" >登   录</a></li>
            <li class="Titl2">
            	<a href="http://www.lishe.cn/business/index.php/Activate" target="_blank"><span style="float: left;padding-top: 3px;padding-left: 30px;">快速激活</span></a>
				<a href="{:U('Home/Cactive/index')}" target="_blank"><span style="float: left;padding-top: 3px;padding-left: 50px;">礼品卡激活</span></a>
            	<a href="http://www.lishe.cn/passport-findpwd.html" target="_blank">忘记密码？</a></li>
          </ul>
      </div>
   </div>
   <div style="clear:both;"></div>
   
   
</body>


<script type="text/javascript">
$(document).ready(function (){
	$("#userName").focus();
	$("#loginBtn").click(function(){
	  	var userName=$("#userName").val();
	  	var password=$("#password").val();
	    if(userName==""){
	      alert('请输入您的用户名！');
	      $("#userName").focus();
	      return false;
	    }
	    if(password==""){
	      alert('请输入您的登录密码！'); 
	      $("#password").focus();
	      return false;
	    } 

		urls="__APP__?c=Login&a=login";
		$.ajax({
			type: "POST",
			url:urls,
			dataType:"text",
			cache:false,
			data: {
				userName:userName,
				password:password,
				mark:'{$control}'
			},
			success: function(data){
				var msg=eval(data);
				if(msg[0]>0){
//					var refer=msg[2];
					var refer=$("#refer").val();
					if(refer!=''){
						window.location.href=refer;
					}else{
						window.location.href="__APP__/Index/index";	
					}				
				}else{
					alert(msg[1]);
					$("#userName").focus();
				}
			},
			error: function () {
				alert('error：'+msg[1]);
				$("#userName").focus();
			}
		});
	});
});
</script>
</html>
